<template lang="html">
  <div>
    <h1>{{ category.name }}</h1>
    <i v-if="category.filteredIds.length">{{ category.filteredIds.length }} {{ category.filteredIds | plural(['товар', 'товара', 'товаров']) }}</i>

    <i @click="changeCardSize(!isBigCardSize)" :class="{'big': isBigCardSize}" class="icon-view" />
    <i @click="changeShowFilters(!showFilters)" :class="{ 'active': showFilters }" class="icon-filter" :data-count="category.filteredIds.length" />
    <i @click="changeShowSort(!showSort)" :class="{ 'active': showSort }" class="icon-sort" />
  </div>
</template>

<script lang="js">

import { Category } from 'src/model/Category'
import { mapActions, mapGetters } from 'vuex'
import { IS_BIG_CARD_SIZE, SHOW_FILTERS, SHOW_SORT } from 'src/store/Common'

export default {
  name: 'CategoryName',
  props: {
    category: Category,
    sortCode: String
  },
  computed: {
    ...mapGetters({
      showSort: SHOW_SORT,
      showFilters: SHOW_FILTERS,
      isBigCardSize: IS_BIG_CARD_SIZE
    })
  },
  methods: {
    ...mapActions({
      changeShowFilters: SHOW_FILTERS,
      changeShowSort: SHOW_SORT,
      changeCardSize: IS_BIG_CARD_SIZE
    })
  }
}
</script>

<style lang="scss" scoped="scoped">
@import "src/css/vars";
div {
  display: flex;

  i {
    font-style: normal;
    margin-left: 10px;
    color: var(--color-grey-dark);
  }
}
i[class*="icon"] {
  display: none;
}

@media (max-width: 960px) {

  h1 {
    font-size: calc(var(--font-size) + 2px);
    line-height: inherit;
    padding-left: 10px;

    & + i {
      display: none;
    }
  }

  div {
    --size: 45px;

      line-height: var(--size);
      height: var(--size);
      position: fixed;
      top: 58px;
      left: 0;
      right: 0;
      z-index: 500;
      background-color: var(--color-grey-light);
      border-bottom: none;
      box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
      overflow: hidden;

      i[class*="icon"] {
        cursor: pointer;
        display: block;
        position: absolute;
        background-color: var(--color-grey-light);
        color: var(--color-blue-dark);
        top: 0;
        right: 0;
        z-index: 100;
        width: var(--size);
        height: var(--size);
        border-left: 1px solid var(--border-color-grey);

        & + i[class*="icon"] {
          right: calc(var(--size));
        }
        & + i[class*="icon"] + i[class*="icon"] {
          right: calc(var(--size) * 2);

        }

        &:before {
          font-family: "Material Icons Outlined", Arial, serif;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          font-size: 24px;
          text-align: center;
        }

        &.icon-sort {
          &:before {
            content: 'swap_vert';
          }
        }

        &.icon-filter {
          &:before {
            content: 'filter_alt';
          }
          &:after {
            content: attr(data-count);
            font-size: 8px;
            position: absolute;
            bottom: 4px;
            right: 4px;
            font-style: normal;
            line-height: normal;
          }
        }

        &.icon-view {
          right: 0;

          &:before {
            content: 'fullscreen';
          }

          &.big:before {
            content: 'fullscreen_exit';
          }
        }

        &.active {
          color: var(--color-red);
          background-color: var(--color-white);
        }
      }

      .product-code {
        font-size: calc(var(--font-size) - 2px);
      }
    }
  }
</style>
