<template lang="html">
  <article ref="article">

    <template v-if="emptyProd">
      <p>В выбранном магазине нет товаров для данной категории</p>
      <p class="shops">Товары данной категории в других магазинах:
        <span v-for="shop in shops" :key="shop.id" @click="setShop(shop)">{{shop.address}}</span>
      </p>
    </template>

    <template v-else>
      <bar
        v-if="showSort || $q.screen.width > 960"
        @input:sortCode="$emit('input:sortCode', $event)"
        :category="category"
        :sortCode="sortCode"
        :paginator="paginator"
      />

      <skeleton-list
        v-if="0 && !category.isFullLoaded"
        :count="20"
        @mounted="listingMountedHandler"
      />

      <product-list
        :products="filteredProducts"
        @hook:mounted="listingMountedHandler"
        @setOffer="offer = $event"
        :offer="offer"
        id="listing"
        ref="products"
      />

      <q-pagination
        v-if="$q.screen.width > 960 && totalPages > 1"
        v-model="paginator.page"
        @input="scrollTo"
        :max="totalPages"
        :max-pages="6"
        :boundary-numbers="true"
        class="paginator"
      />
    </template>
  </article>
</template>

<script lang="js">

const ROWS_COUNT = 5

import { CITY, NS_CITY, SET_SHOP } from 'src/store/Cities'
import { Category } from 'src/model/Category'
import { mapActions, mapGetters } from 'vuex'
import { CATEGORY_BY_URL, NS_CATEGORY, PRODUCTS_BY_IDS } from 'src/store/Category/const'
import { SHOW_SORT } from 'src/store/Common'
import { scroll } from 'quasar'
import cardsCountCalculate from 'src/utils/cardSizeCalculate'
const { getScrollPosition } = scroll

export default {
  name: 'componentCatalogCategory',
  props: {
    category: Category,
    prices: Object,
    sortCode: String
  },
  components: {
    Bar: () => import('./Bar'),
    SkeletonList: () => import('./Listing/Skeleton/List'),
    ProductList: () => import('./Listing')
  },
  data () {
    return {
      cardsOnRow: 20,
      paginator: {
        onPage: 20,
        page: 1,
        pages: []
      },
      offsetY: 0,
      rowsCount: ROWS_COUNT,
      offer: null
    }
  },
  watch: {
    'category.id' () {
      this.paginator.page = 1
      this.rowsCount = ROWS_COUNT
    },
    '$q.screen.width': {
      handler () {
        this.width = this.$refs.products.clientWidth
      }
    }
  },
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/'),
      categoryByUrl: [NS_CATEGORY, CATEGORY_BY_URL].join('/'),
      getProductsByIds: [NS_CATEGORY, PRODUCTS_BY_IDS].join('/'),
      showSort: SHOW_SORT
    }),
    from () {
      return (this.paginator.page - 1) * this.paginator.onPage
    },
    emptyProd () {
      return !this.category.products.length && this.category.isFullLoaded
    },
    sortedIds () {
      if (this.sortCode && this.category.sorting[this.sortCode].length) {
        return this.category.sorting[this.sortCode]
      }

      return this.category.products.map(product => product.id)
    },
    resultIds () {
      return this.sortedIds
        .filter(id => this.category.filteredIds.includes(id))
        .slice(this.from, this.from + this.paginator.onPage)
    },
    filteredProducts () {
      return this.getProductsByIds(this.resultIds)
    },
    priceValues () {
      const data = this.products.map(item => { return item.price })
      return { min: Math.min(...data), max: Math.max(...data) }
    },
    totalPages () {
      return Math.ceil(this.category.filteredIds.length / this.paginator.onPage)
    },
    shops () {
      const shops = []
      this.category._products.forEach(product => {
        product._offers.forEach(offer => {
          offer._prices.forEach(price => shops.push(price.shop))
        })
      })
      return this.city.shops.filter(shop => shops.includes(shop.id))
    },
    screenHeight () {
      return this.$q.screen.height
    },
    screenWidth () {
      return this.$q.screen.width
    },
    cardsCount () {
      return cardsCountCalculate({
        areaWidth: this.$q.screen.width
      })
    }
  },
  methods: {
    ...mapActions({
      setShop: [NS_CITY, SET_SHOP].join('/')
    }),
    scrollTo () {
      window.scrollTo(0, 0)
    },
    offsetYCalc () {
      this.offsetY = document.getElementById('listing').offsetHeight + document.getElementById('listing').offsetTop - getScrollPosition(window)
      // this.rowsCount = (this.offsetY) < (this.screenHeight + 20) ? this.rowsCount + ROWS_COUNT : this.rowsCount
      // this.paginator.onPage = this.cardsCount * this.rowsCount
    },
    listingMountedHandler () {
      this.resizeObserver.observe(document.getElementById('listing'))
      this.offsetYCalc()
    },
    resizeObserverHandler () {
      this.offsetYCalc()
      this.cardsReCounter()
    },
    cardsReCounter () {
      this.paginator.onPage = this.cardsCount * this.rowsCount
      this.cardsOnRow = this.cardsCount
      this.paginator.pages = [
        this.cardsOnRow * ROWS_COUNT,
        this.cardsOnRow * ROWS_COUNT * 2,
        this.cardsOnRow * ROWS_COUNT * 4
      ].filter(n => n < this.category.filteredIds.length)
      this.paginator.page = 1
    }
  },
  created () {
    try {
      this.resizeObserver = new ResizeObserver(this.resizeObserverHandler)
    } catch {}

    if (typeof window !== 'undefined') {
      window.addEventListener('scroll', this.offsetYCalc)
    }
    this.category.filter()
  },
  mounted () {
    this.width = this.$refs.article.clientWidth
    this.cardsReCounter()
  },
  beforeDestroy () {
    try {
      this.resizeObserver.disconnect()
    } catch {}

    if (typeof window !== 'undefined') {
      window.removeEventListener('scroll', this.offsetYCalc)
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import "src/css/vars";

article {
  padding-bottom: 25px;
}

aside + article {
  flex-grow: 1;
}

.shops span {
  display: list-item;
  list-style: inside square;
  cursor: pointer;
  color: var(--color-blue-primary);
}

.paginator {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  a {
    text-decoration: none;
  }
}

@media (max-width: $width-960) {
  article {
    margin-top: var(--mobile-bar-height);
    width: 100%;
    padding: 10px;

    .paginator {
      justify-content: center;
    }
  }
}

@media (min-width: 961px) {
  article {
    margin-right: 10px;
  }
}

@media (max-width: $width-360) {
  article {
    margin-top: calc(var(--mobile-bar-height) - 10px);
  }
}
</style>
