<template>
  <div class="row justify-between">
      <category-block
        v-for="category in category.children"
        :key="category.id"
        :category="category"
        class="w-50"
      />
  </div>
</template>

<script>
import { Category } from 'src/model/Category'

export default {
  name: 'Category115',
  props: {
    category: Category
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
