<template>
  <div class="row justify-center q-gutter-md">
    <category-block
      v-for="category in children"
      :key="category.id"
      :category="category"
      :show-children="false"
      class="w-20"
    />
  </div>
</template>

<script>
export default {
  name: 'Category165',
  props: {
    category: {}
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  },
  computed: {
    children () {
      return this.category.children.slice().sort((a, b) => a.id > b.id)
    }
  }
}
</script>
<style lang="scss" scoped="true">
nav {
  margin-bottom: 0;
  height: 195px;
  padding-left: 15px;

  a.img {
    max-width: 60%;
  }
}
</style>
