<template>
  <div class="row justify-between">

    <category-block :category="category.getChild(257)" class="w-50" />
    <category-block :category="category.getChild(286)" class="w-50" />

    <category-block :category="category.getChild(177)" class="w-50" />
    <category-block :category="category.getChild(203)" class="w-50" />

    <category-block :category="category.getChild(288)" class="w-50" />
    <category-block :category="category.getChild(561)" class="w-50" />

  </div>
</template>

<script>
import { Category } from 'src/model/Category'

export default {
  name: 'Category202',
  props: {
    category: Category
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
<style lang="scss" scoped="true">

</style>
