<template>
  <div class="row justify-center q-gutter-md">
    <category-block
      v-for="category in category.children"
      :key="category.id"
      :category="category"
      :id="'category-' + category.id"
      class="w-30"
    />
  </div>
</template>

<script>
export default {
  name: 'Category340',
  props: {
    category: {}
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
<style lang="scss" scoped="true">
::v-deep {
  nav.w-30 {
    margin-bottom: 0;
    min-height: 180px;

    a.img{
      max-width: 30%
    }
  }
}
</style>
