<template>
  <div class="row justify-between">
    <category-block
      v-for="category in children"
      :key="category.id"
      :category="category"
      class="w-50"
    />
  </div>
</template>

<script>
export default {
  name: 'Category371',
  props: {
    category: {}
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  },
  computed: {
    children () {
      return this.category.children.slice().sort((a, b) => a.id > b.id && a.id !== 420)
    }
  }
}
</script>
<style lang="scss" scoped="true">
::v-deep .category-block:first-child {
  .category-block__img {
    max-width: 100px;
    max-height: 125px;
    top: 90px;
    left: 145px;
  }
}

::v-deep .w-25 {
  .category-block__img {
    left: calc(100% - 205px);
    width: 175px !important;
    height: 175px !important;
  }

  .category-block__child-list {
    width: 186px !important;
  }
}
</style>
