<template>
  <div class="row justify-center q-gutter-md q-col-gutter-lg">
    <category-block
      v-for="category in category.children"
      :key="category.id"
      :category="category"
      :show-children="false"
      class="w-20"
    />
  </div>
</template>

<script>
export default {
  name: 'Category431',
  props: {
    category: {}
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
<style lang="scss" scoped="true">
nav {
  margin-bottom: 0;
  height: 210px;
  padding-left: 15px;

  a.img {
    max-width: 60%;
  }
}
</style>
