<template>
  <div class="row justify-between">

    <category-block :category="category.getChild(444)" class="w-50" />
    <category-block :category="category.getChild(455)" class="w-50" />

    <category-block :category="category.getChild(463)" class="w-50" />
    <category-block :category="category.getChild(490)" class="w-50" />

    <category-block :category="category.getChild(476)" class="w-30" />
    <category-block :category="category.getChild(714)" class="w-30" />
    <category-block :category="category.getChild(470)" class="w-30" />

    <category-block :category="category.getChild(497)" class="w-30" />
    <category-block :category="category.getChild(485)" class="w-30" />
    <category-block :category="category.getChild(502)" class="w-30" />

  </div>
</template>

<script>
import { Category } from 'src/model/Category'

export default {
  name: 'Category443',
  props: {
    category: Category
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
<style lang="scss" scoped="true">

</style>
