<template>
  <div class="row justify-between">
    <category-block
      v-for="category in category.children"
      :key="category.id"
      :category="category"
      class="w-30"
    />
  </div>
</template>

<script>
export default {
  name: 'Category508',
  props: {
    category: {}
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
<style lang="scss" scoped="true">
.category-block {
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
</style>
