<template>
  <div class="row justify-between">
    <category-block
      v-for="category in category.children"
      :key="category.id"
      :category="category"
      class="w-20"
    />
  </div>
</template>

<script>
import { Category } from 'src/model/Category'

export default {
  name: 'Category505',
  props: {
    category: Category
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
