<template>
  <div class="row justify-between">
    <category-block :category="category.getChild(624)" class="w-50" />
    <category-block :category="category.getChild(612)" class="w-50" />

    <category-block :category="category.getChild(586)" class="w-50" />
    <category-block :category="category.getChild(578)" class="w-50" />

    <category-block :category="category.getChild(597)" class="w-30" />
    <category-block :category="category.getChild(545)" class="w-30" />
    <category-block :category="category.getChild(553)" class="w-30" />

    <category-block :category="category.getChild(571)" class="w-30" />
    <category-block :category="category.getChild(605)" class="w-30" />
    <category-block :category="category.getChild(550)" class="w-30" />

    <category-block :category="category.getChild(558)" class="w-25" />
    <category-block :category="category.getChild(575)" class="w-25" />
    <category-block :category="category.getChild(609)" class="w-25" />
    <category-block :category="category.getChild(693)" class="w-25" />
  </div>
</template>

<script>
import { Category } from 'src/model/Category'

export default {
  name: 'Category544',
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  },
  props: {
    category: Category
  }
}
</script>
