<template>
  <div class="row justify-between">
    <category-block :category="category.getChild(650)" class="w-50" />
    <category-block :category="category.getChild(660)" class="w-50" />

    <category-block :category="category.getChild(689)" class="w-30" />
    <category-block :category="category.getChild(701)" class="w-30" />
    <category-block :category="category.getChild(746)" class="w-30" />

    <category-block :category="category.getChild(659)" class="w-30" />
    <category-block :category="category.getChild(656)" class="w-30" />
    <category-block :category="category.getChild(685)" class="w-30" />
  </div>
</template>
<script>
export default {
  name: 'Category684',
  props: {
    category: {}
  },
  components: {
    CategoryBlock: () => import('components/Catalog/Category/Main/CategoryBlock')
  }
}
</script>
