<template>
  <nav v-if="category">
    <router-link :to="category.url">{{ category.name }}</router-link>

    <div v-if="showChildren">
      <router-link v-for="(cat, id) in children" :key="id" :to="cat.url">{{ cat.name | trim }}</router-link>
    </div>
    <router-link v-if="showAll(category)" class="more" :to="category.url" transition="scale">
      Показать все
    </router-link>
    <router-link :to="category.url" class="img">
      <q-img :src="getImg(category)" contain :img-style="{ 'background-position': '100% 100%' }"/>
    </router-link>
  </nav>
</template>

<script>
export default {
  name: 'CategoryBlock',
  props: {
    showChildren: {
      type: Boolean,
      required: false,
      default: true
    },
    category: {}
  },
  computed: {
    children () {
      return this.category.children // .filter((child, index) => index <= 8)
    }
  },
  methods: {
    showAll (category) {
      return 0 && category.children.length > 8
    },
    getImg (category) {
      const parentId = category.parent.id

      try {
        return '/category/' + parentId + '/' + category.id + '.png'
      } catch {
        return '/img/no-image.webp'
      }
    }
  }
}
</script>
