<template>
  <div style="max-width: 1280px;margin: auto;">
    <breadcrumbs :category="category" v-if="0"/>
    <h1>{{ category.name }}</h1>
    <component :is="component" :category="category"/>
    <div v-if="0">
<!--      TODO: добавить популярные товары-->
      <h4>Популярное за неделю</h4>
      <slider-horizont
        class="card__watched"
        :slideCount="4"
        :images="popular"
      />
    </div>
  </div>
</template>
<script>
import { Category } from 'src/model/Category'
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'

export default {
  name: 'CategoryMain',
  components: {
    Breadcrumbs: () => import('components/Layout/Breadcrumbs'),
    SliderHorizont: () => import('components/Catalog/Product/SliderHorizontal')
  },
  props: {
    category: Category
  },
  data () {
    return {
      editCategories: [172, 437, 511, 684]
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    component () {
      let componentName = 'default'
      if (this.editCategories.includes(this.category.id)) {
        componentName = this.category.id
      }
      return () => import('components/Catalog/Category/Main/' + componentName)
    },
    popular () {
      return this.user.watched
    }
  }
}
</script>
<style lang="stylus" scoped="scoped">

::v-deep
  nav
    position: relative
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3)
    border-radius: 3px;
    background: #f2f8fc
    margin-bottom: 30px
    padding: 25px
    padding-left: 30px
    max-height: 331px

    > a:first-child
      display: inline-block
      position relative
      z-index: 11
      color: #fb0000
      text-transform: uppercase
      margin-bottom: 15px

    &.w-50 > div
      max-width 225px

    &.w-30 > div
      max-width 185px

    &.w-25 > div
      max-width 225px

    > div
      position relative
      z-index 10
      padding-bottom: 10px

      a
        display inline-block
        white-space nowrap
        word-spacing normal
        margin-right 3px
        &:hover
          color $red

        &:nth-last-child(n+2):after
          content ','
        &.more
          margin-top 5px
          display block

    a.more
      width: max-content
      border-bottom: 1px solid

    a.img
      display block
      position absolute
      z-index: 9
      bottom: 15px
      right: 15px
      width: 100%
      height: 1800px
      max-width: 50%
      max-height: calc(100% - 30px)
      overflow: hidden

      .q-img
        width 100%
        height 100%

</style>
