<template lang="html">
    <div :class="{'active': showCity, 'shop_info': !showCity}">
      <div class="not-mobile">
        {{ city.shop.fullAddress }}
        <q-menu
            v-model="showCitiesComponent"
            @before-hide="$root.$emit('showOverlay', false)"
            @before-show="$root.$emit('showOverlay', true)"
            :offset="[180, 15]"
            anchor="bottom left"
            self="top left"
            transition-show="jump-down"
            transition-hide="jump-up"
            content-class="city-shops-popup"
        >
          <div class="row popup shadow-3">
            <transition name="fade" mode="out-in">
              <cities v-if="showMap" :showMap="showMap" :class="{'active': showMobileCities}" />
              <map-app v-else class="col-md-8 col-sm-7 row relative-position"/>
            </transition>
            <shops
                :showMap="showMap"
                @toggleMap="showMap = !showMap"
                :class="{'active': !showMobileCities}"
                class="shops col-4 row content-stretch q-pa-lg"
            />
          </div>
        </q-menu>
      </div>
    </div>
</template>

<script>
import { NS_CITY, CITIES, CITY } from 'src/store/Cities'
import { mapGetters } from 'vuex'

export default {
  name: 'CitiesAndShops',
  data: () => ({
    showCitiesComponent: false,
    showMobileCities: false,
    showCity: false,
    showMap: true
  }),
  components: {
    MapApp: () => import('../Map'),
    Cities: () => import('../Cities/'),
    Shops: () => import('../Shops/List')
  },
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/'),
      cities: [NS_CITY, CITIES].join('/')
    })
  },
  methods: {
    showCities (bool) {
      this.showCity = bool
    },
    showComponent (bool) {
      this.showMap = false
      this.showCitiesComponent = bool
    },
    showMapper () {
      this.showMenu = false
      this.$emit('showMap', true)
    }
  },
  created () {
    this.$root.$on('showCities', this.showCities)
    this.$root.$on('showCitiesComponent', this.showComponent)
  }
}
</script>

<style lang="scss" scoped="scoped">
@import "src/css/vars";

.shop_info {
  background-color: var(--color-blue-dark);
  font-size: calc(var(--font-size) - 2px);
  position: relative;
  z-index: 100;
  padding: 0 10px;
  cursor: pointer;
  height: 35px;
  line-height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 10px;
  white-space: nowrap;
}

.q-menu {
  max-height: 110vw;
}
::v-deep .city-shops-popup {
  max-width: 100% !important;
}

::v-deep .title {
  width: 100%;
  font-size: 24px;
  color: var(--color-black);
  margin-bottom: 15px;
}
.popup {
  --height: 365px;
  --min-width: 1180px;

  min-width: var(--min-width);
  &::before {
    content: ' ';
    position: absolute;
    width: 19px;
    height: 19px;
    background: white;
    left: 220px;
    top: -9px;
    transform: rotate(45deg);
  }
  a {
    display: block;
    padding: 0 15px;
    border-radius: 3px;
    font-size: var(--font-size);
    line-height: 36px;
    transition: background-color .4s ease-in-out, opacity .2s ease-in-out;
    &:hover {
      background-color: var(--color-grey-light);
      cursor: pointer;
    }
    &.active {
      background-color: var(--color-blue);
      color: var(--color-white);
    }
    &.not_matched {
      opacity: .2;
    }
  }
  section {
    max-height: var(--height);
  }
}
.shops {
  > div {
    width: 100%;
  }
}
.cities {
  a {
    width: 25%;
    max-height: 200px;
  }
  &::after {
    position: absolute;
    content: '';
    background-color: var(--color-grey-light);
    width: 1px;
    top: 75px;
    bottom: 24px;
    right: 0;
  }
  .column {
    height: 218px;
  }
}

@media (max-width: $hideAside){
  .popup.row {
    min-width: 50%;
    width: 50%;
    flex-wrap: nowrap;
    --height: 425px;

    .row {
      width: 100%;
    }
  }

  .cities {
    a {
      width: 100%;
    }
  }

  .shop_info {
    display: none;
  }

  .column.content-start {
    display: block;
    overflow-y: scroll;
    direction: initial;
  }
}

@media (max-width: $width-1180) {
  .popup {
    --min-width: 95vw;
  }
}
</style>
