<template lang="html">
  <div id="menu">
    <yandex-map v-if="showMap"/>

    <div class="search">
      <q-input
          v-if="!showMap"
          v-model="search"
          dense="dense"
          borderless
          class="search-city"
          label="Поиск города"
      />

      <i @click="showMap = !showMap; iconForButton" class="icon-search" :style="{'--icon-name': iconForButton}"></i>

    </div>

    <div class="no-map" v-if="!showMap" @click="showAddress = !showAddress">
      <a class="city"
         v-for="city in cities" :key="city.id"
         @click="getCityId(city.id); getCityDomain(city.domain)"
         :class="{'current-city': currentCity.name === city.name, 'not_matched': !isMatched(city)}"
         :style="{ '--arrow': arrowChange(city.id) }"
      >
          {{ city.name }}
          <span v-if="showAddress && city.id === cityId">
            <a
              v-for="shop of city.shops" :key="shop.id"
              :href="getCityUrl"
              :class="{'current-shop': shop === currentCity.shop}"
              @click="setShop(shop); selectedShopNotify (city, shop)"
            >
              {{ shop.address }}
            </a>
          </span>
        </a>
    </div>
  </div>
</template>

<script lang="js">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import { CITIES, CITY, NS_CITY, SET_SHOP, SHOPS_BY_CITY } from 'src/store/Cities'
import { scroll } from 'quasar'

const { getScrollPosition } = scroll

export default {
  components: {
    YandexMap: () => import('../Map')
  },
  data: () => ({
    domain: process.env.BASE_DOMAIN,
    search: '',
    resizeObserver: null,
    absolute: false,
    showAddress: false,
    showMap: false,
    cityId: null,
    cityDomain: '',
    iconName: 'edit_location'
  }),
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/'),
      cities: [NS_CITY, CITIES].join('/'),
      currentCity: [NS_CITY, CITY].join('/'),
      shops: [NS_CITY, SHOPS_BY_CITY].join('/')
    }),
    filtered () {
      return this.cities.filter(city => {
        return new RegExp('(' + [this.search, Vue.translate(this.search)]
          .join('|') + ')', 'i')
          .test(city.name)
      })
    },
    getCityUrl () {
      // if (this.currentCity.domain !== this.cityDomain) {
      //   return `//${this.cityDomain}.${this.domain}/`
      // }
      return `//${this.cityDomain}.${this.domain}/`
    },
    iconForButton () {
      return !this.showMap ? '\'location_on\'' : '\'list\''
    }
  },
  methods: {
    ...mapActions({
      setShop: [NS_CITY, SET_SHOP].join('/')
    }),
    getCityId (id) {
      this.cityId = id
    },
    getCityDomain (domain) {
      this.cityDomain = domain
    },
    arrowChange (id) {
      return this.showAddress && id === this.cityId ? '\'keyboard_arrow_up\'' : '\'keyboard_arrow_down\''
    },
    handleScroll () {
      const menuHeight = document.getElementById('menu').offsetHeight + document.getElementById('menu').offsetTop - getScrollPosition(window)
      this.absolute = window.innerHeight >= menuHeight
    },
    isMatched (city) {
      return new RegExp('(' + [this.search, Vue.translate(this.search)]
        .join('|') + ')', 'i')
        .test(city.name)
    },
    selectedShopNotify (city, shop) {
      if (this.$q.screen.width < 960) {
        this.$q.notify({
          color: 'primary',
          position: 'top',
          message: `Выбран: ${city.name}, ${shop.address}`,
          timeout: 1000
        })
      }
    }
  },
  created () {
    if (typeof window !== 'undefined') {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  mounted () {
    this.resizeObserver = new ResizeObserver(this.handleScroll)
    this.resizeObserver.observe(document.getElementById('menu'))
  },
  beforeDestroy () {
    this.resizeObserver.disconnect()
    if (typeof window !== 'undefined') {
      window.addEventListener('scroll', this.handleScroll)
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import "src/css/vars";

#menu {
  position: relative;
  width: 100vw;
  left: 0;
  right: 0;
  min-height: calc(100vh - var(--mobile-bar-height));
  background-color: var(--color-white);
  color: var(--color-black-dark);
  font-size: var(--font-size);
  overflow-x: scroll;

  & > .no-map {
    padding-top: 40px;
  }
}

.search-city {
  padding-left: 10px;
}

.search {
  --size: 45px;

  line-height: var(--size);
  height: var(--size);
  position: fixed;
  top: 58px;
  left: 0;
  right: 0;
  background-color: var(--color-grey-light);
  border-bottom: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
  z-index: 300;

  .icon-search {
    --icon-name: 'location_on';

    cursor: pointer;
    display: block;
    position: absolute;
    background-color: var(--color-grey-light);
    color: var(--color-blue-dark);
    top: 0;
    right: 0;
    z-index: 100;
    width: var(--size);
    height: calc(var(--size) - 1px);
    border-left: 1px solid var(--border-color-grey);

    &:before {
      content: var(--icon-name);
      font-family: "Material Icons Outlined", Arial, serif;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 24px;
      text-align: center;
    }
  }
}

.yandex-map {
  height: 100vh;
}

.city {
  --arrow: 'keyboard_arrow_down';

  display: block;
  outline: none;
  width: 95vw;
  line-height: 45px;
  position: relative;
  z-index: 10;
  margin: auto;
  cursor: pointer;

  & > span a {
    display: block;
    color: var(--color-black);
    padding-left: 15px;
    transition: background-color .2s ease-in-out;
    &:hover:not(.current-shop) {
      border-right: 2px;
      background: var(--color-grey-light);
      color: var(--color-black-dark);
    }
    &.current-shop {
      position: relative;
      color: var(--color-blue-primary);
      &:before {
        content: 'place';
        font-family: 'Material Icons', serif;
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Material Icons', serif;
    content: var(--arrow);
    color: var(--color-grey-dark);
    font-size: 24px;
  }
  &.not_matched {
    opacity: .2;
  }

  &.active {
    color: var(--color-blue-primary);
  }
  &.current-city {
    color: var(--color-blue-primary);
  }
}
</style>
