<template lang="html">
  <h1>{{ product.name }}</h1>
</template>

<script lang="js">

import { Product } from 'src/model/Product'

export default {
  name: 'ProductName',
  props: {
    product: Product
  }
}
</script>

<style scoped="scoped" lang="scss">
@import '../../../../css/vars';

h1 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--color-black-dark);
  font-size: calc(var(--font-size) + 4px);
}

@media (max-width: $width-800) {
    h1 {
      position: fixed;
      top: var(--mobile-menu-height);
      height: var(--mobile-bar-height);
      line-height: var(--mobile-bar-height);
      left: 0;
      right: 0;
      z-index: 200;
      background-color: var(--color-grey-light);
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
      padding: 0 15px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
}
</style>
