<template lang="html">
  <div>
    <span class="title">Другие цвета:</span>
    <div class="flex-original">
      <load-color v-for="product in product.colors" :key="product.id" :product="product"/>
    </div>
  </div>
</template>
<script lang="js">
export default {
  name: 'Colors',
  props: {
    product: {}
  },
  components: {
    LoadColor: () => import('../Colors/LoadColor')
  }
}
</script>
<style scoped="scoped" lang="scss">
@import 'src/css/mixins.scss';

.title {
  @extend .title;
}

.slider-color {
  margin-bottom: 20px;
  max-width: 351px;
  position: relative;

  &__title {
    margin-bottom: 13px;
  }

  &__title-mobile {
    display: none;
    font-size: 15px;
  }

  &__right {
    right: -20px;
  }

  &__left {
    left: -20px;
  }

  &__left, &__right {
    display: flex;
    align-items: center;
    position: absolute;
    top: 32px;
    bottom: 0;
    -webkit-tap-highlight-color: transparent;
  }

  &__button-left, &__button-right {
    cursor: pointer;
    outline: none;
    border: 0;
    background: transparent;
    font-family: fontsIconLight, serif;
    color: #C4C4C4;
    font-size: 28px;
  }

  &__line {
    width: 350px;
    overflow: hidden;
  }

  &__box {
    -webkit-box-align: center;
    align-items: center;
    border: 1px solid #F0F0F0;
    width: 80px !important;
    height: 100px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  &__box.active {
    border: 2px solid #474747;
    border-radius: 2px;
  }

  &__box img {
    width: 100%;
    vertical-align: middle;
  }

  .slick-track {
    display: flex;
  }

  .slick-list {
    overflow: hidden;
  }

  .slick-arrow {
    -webkit-box-align: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
  }

  .slick-prev, .slick-next {
    font: {
      family: fontsIconLight;
      style: normal;
      variant: normal;
      feature-settings: normal;
      size: 0;
    }

    position: absolute;
    top: 60%;
    bottom: 0;
    cursor: pointer;
    outline: none;
    border: 0;
    text-rendering: auto;
    line-height: 1;
    color: #C4C4C4;

    &:hover {
      color: #C4C4C4;
    }

    &:before {
      font: {
        family: inherit;
        size: 28px;
      };
      content: "\f105";
      opacity: unset;
      color: #C4C4C4;
    }
  }

  .slick-prev {
    &:before {
      content: "\f104";
    }
  }
}
</style>
