<template lang="html">
  <div>
    <router-link v-if="product.isFullLoaded" :to="product.url">
      <div class="url">{{ product.url }}</div>
      <q-img
        class="size"
        :src="product.getSrc(100, 100)"
        contain
      >
        <template v-slot:loading>
          <q-spinner
            color="grey-9"
            size="20px"
            :thickness="1"
          />
        </template>
        <template v-slot:error>
          <img :src="product.getDefaultImage" alt="product"/>
        </template>
      </q-img>
    </router-link>
    <div v-if="!product.isFullLoaded">
      <q-spinner
        color="grey-9"
        size="4em"
        :thickness="1"
      />
    </div>
  </div>
</template>
<script lang="js">
import { mapActions } from 'vuex'
import { NS_CATEGORY, LOAD_NEW_PRODUCT } from 'src/store/Category/const'

export default {
  name: 'LoadColor',
  props: {
    product: {}
  },
  methods: {
    ...mapActions({
      loadProduct: [NS_CATEGORY, LOAD_NEW_PRODUCT].join('/')
    })
  },
  created () {
    this.loadProduct(this.product)
  },
  watch: {
    '$route' (to, from) {
      this.loadProduct(this.product)
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
.q-img {
  width: 100px;
  height: 100px;
  border: 1px solid #bfbfbf;
}

.url {
  opacity: 0;
  width: 100px;
  margin-right: 15px;
  height: 0;
}
</style>
