<template lang="html">
  <q-expansion-item :label="filter.title" :default-opened="isOpen">
    <i
      v-for="prop in this.values"
      :key="prop.value"
      :style="{'background': prop.background, 'color': prop.color}"
      :class="{'active': checked.includes(prop.value) }"
      :title="prop.title"
      :data-value="prop.value"
      @click="$emit('input', prop)"
    />
  </q-expansion-item>
</template>

<script lang="js">
import { FilterCollection } from 'src/model/Filter'

export default {
  name: 'FilterColor',
  props: {
    id: Number,
    filters: FilterCollection
  },
  computed: {
    checked () {
      return this.id in this.filters.active ? Object.keys(this.filters.active[this.id]).map(v => parseInt(v)) : []
    },
    isOpen () {
      return !!Object.keys(this.checked).length
    },
    filter () {
      return this.filters.names[this.id]
    },
    values () {
      return this.filter.values
        .map(id => {
          const bg = this.id in this.filters.cname ? this.filters.cname[this.id][id] : this.filters.values[id]
          return {
            name: this.id,
            value: id,
            title: this.filters.values[id],
            background: bg,
            color: bg.split(' ').shift()
          }
        })
        // .sort((a, b) => a.name > b.name)
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import '~quasar/dist/quasar.sass';

::v-deep .q-item__section {
  justify-content: initial;
}
::v-deep .q-expansion-item__toggle-icon {
  left: 8px;
}
::v-deep .q-expansion-item__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: none;

  i {
    --count: 6;
    --width: 25px;
    --margin: calc((100% - var(--count) * var(--width)) / (var(--count) - 1));

    display: block;
    margin-left: var(--margin);
    margin-bottom: var(--margin);
    width: var(--width);
    transition: box-shadow .2s ease-in-out;
    cursor: pointer;
    color: red;

    &:hover {
      box-shadow: 1px 1px 2px 0 RGBA(0, 0, 0, 0.2)
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }

    &.active {
      box-shadow: 0 0 0 2px #fff, 0 0 0 4px;
    }
  }
}
</style>
