<template>
  <q-menu
    :value="true"
    @before-hide="hideOverlayButton"
    @before-show="$root.$emit('showOverlay', true)"
    :offset="[0, 0]"
    :max-width="width"
    :anchor="'center' + ancor"
    transition-show="jump-down"
    transition-hide="jump-up"
    :content-style="'min-width: 420px;'"
  >
    <q-list bordered padding>
      <q-item>
        <q-item-section>
          <div class="q-dialog__title">Условия сборки</div>
        </q-item-section>
        <q-item-section side top>
          <q-btn flat dense unelevated icon="close" v-close-popup class="bg-transparent q-py-sm q-px-md" size="10px"/>
        </q-item-section>
      </q-item>
    </q-list>
    <div class="q-pa-md q-gutter-sm">
      <div class="q-dialog__message q-card__section q-card__section--vert">
        {{ assemblyText }}
      </div>
    </div>
  </q-menu>
</template>

<script>
export default {
  name: 'Assembly',
  props: {
    assemblyText: {}
  },
  computed: {
    width () {
      let ancor = '100%'
      if (this.$q.screen.width > 767) {
        ancor = '200px'
      }
      return ancor
    },
    ancor () {
      let ancor = ''
      if (this.$q.screen.width > 767) {
        ancor = ' middle'
      }
      return ancor
    }
  },
  methods: {
    hideOverlayButton () {
      this.$root.$emit('showOverlay', false)
      this.$root.$emit('showAssembly', false)
    }
  }
}
</script>
<style lang="scss" scoped>
.q-img {
  height: 110px;
}

.product {
  display: flex;
  transition: box-shadow 0.3s linear;
  padding: 15px 25px;
  padding-left: 0;

  .text {
    margin-top: 5px;
  }

  &:hover {
    transition: box-shadow 0.3s linear;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .product__icons {
      display: block;
    }
  }

  &__props {
    color: #777777;
    font-size: 13px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__icons {
    text-align: center;
    margin-top: 5px;
    display: none;

    i {
      margin-right: 5px;
    }
  }

  &__img {
    display: block;
    position: relative;
    width: 110px;
    height: 110px;
    margin-right: 10px;
  }

  &__delete {
    position: absolute;
    left: calc(100% - 5px);
    margin-top: 5px;
  }

  &__flex {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__product-name {
    color: #3A3A3A;
    font-size: 17px;
  }

  &__product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__actions {
    width: 10%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    &__price {
      font-size: 20px;
      color: #2E2E2E;
      white-space: nowrap;
      margin-left: auto;
      margin-right: 10px;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .product {
    display: block;
    padding-bottom: 40px;

    &__product-name {
      font-size: 15px;
      overflow: hidden;
    }

    &__product-info {
      justify-content: normal;
      height: 105px;
      overflow: hidden;
    }

    &__actions {
      &__price {
        margin-right: -15px;
      }
    }

    &__price {
      margin-top: 0;
    }
  }

  .mobile.bottom_items {
    display: flex;
    position: absolute;
    margin-top: 115px;
    width: 100%;
  }
}
</style>
