<template>
  <div class="product">
    <div class="product__flex">
      <router-link class="product__img" :to="product.url">
        <q-img
          contain
          :src="product.getSrc(100, 100)"
          :srcset="product.getSetSrc(100, 100)"
          width="100%"
        >
          <template v-slot:loading>
            <q-spinner
              color="grey-9"
              size="60px"
              :thickness="1"
            />
          </template>
          <template v-slot:error>
            <img :src="product.getDefaultImage" alt="product"/>
          </template>
        </q-img>
      </router-link>
      <div class="product__product-info text">
        <router-link :to="product.url" class="product__product-name">
          {{ product.name }}
        </router-link>
        <div @click="$emit('getAssembly', product.category)" class="help" v-if="product.assembly">
          <q-checkbox label="Заказать сборку" dense v-model="assemblyChecked" color="teal"/>
        </div>
        <div v-if="product.sizes.length">
          <span>Размер:</span>
          <span>{{ cartItem.offer.name }}</span>
        </div>
      </div>
      <cart-counter class="not-mobile" :cartItem="cartItem"/>
      <div class="not-mobile text product__actions__price rub">
        {{ price | price }}
      </div>
      <cart-delete class="product__delete" :cartItem="cartItem"/>
      <div class="mobile bottom_items">
        <cart-counter :cartItem="cartItem"/>
        <div class="product__actions__price rub">
          {{ price | price }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { CartItem } from 'src/model/Cart'

export default {
  name: 'CartProduct',
  props: {
    cartItem: CartItem
  },
  data () {
    return {
      assemblyChecked: false
    }
  },
  components: {
    CartCounter: () => import('components/User/Cart/Counter'),
    CartDelete: () => import('components/User/Cart/Delete')
  },
  computed: {
    price () {
      return this.cartItem.offer.price.actual * this.cartItem.count
    },
    product () {
      return this.cartItem.offer.product
    }
  }
}
</script>

<style lang="scss" scoped>
.q-img {
  height: 110px;
}

.help {
  position: relative;
  line-height: 20px;
  color: var(--color-grey-dark);
  cursor: pointer;

  &:after {
    position: absolute;
    margin-left: 5px;
    font-family: "Material Icons Outlined", Arial, serif;
    content: 'info';
    font-size: 22px;
  }
}

.product {
  display: flex;
  transition: box-shadow 0.3s linear;
  padding: 15px 25px;
  padding-left: 0;

  .text {
    margin-top: 5px;
  }

  &:hover {
    transition: box-shadow 0.3s linear;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .product__icons {
      display: block;
    }
  }

  &__props {
    color: #777777;
    font-size: 13px;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__icons {
    text-align: center;
    margin-top: 5px;
    display: none;

    i {
      margin-right: 5px;
    }
  }

  &__img {
    display: block;
    position: relative;
    width: 110px;
    height: 110px;
    margin-right: 10px;
  }

  &__delete {
    position: absolute;
    left: calc(100% - 5px);
    margin-top: 5px;
  }

  &__flex {
    display: flex;
    position: relative;
    width: 100%;
  }

  &__product-name {
    color: #3A3A3A;
    font-size: 17px;
  }

  &__product-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  &__actions {
    width: 10%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    &__price {
      font-size: 20px;
      color: #2E2E2E;
      white-space: nowrap;
      margin-left: auto;
      margin-right: 10px;
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media (max-width: 767px) {
  .product {
    display: block;
    padding-bottom: 40px;

    &__product-name {
      font-size: 15px;
      overflow: hidden;
    }

    &__product-info {
      justify-content: normal;
      height: 105px;
      overflow: hidden;
    }

    &__actions {
      &__price {
        margin-right: -15px;
      }
    }

    &__price {
      margin-top: 0;
    }
  }

  .mobile.bottom_items {
    display: flex;
    position: absolute;
    margin-top: 115px;
    width: 100%;
  }
}
</style>
