<template>
  <yandex-map
    v-if="showMap"
    class="yandex-map"
    :zoom="9"
    :controls="['zoomControl']"
    :coords="city.getCenterMap"
  >
    <ymap-marker
      v-for="(shop, idx) in shops"
      :key="idx"
      :icon="markerIcon(shop)"
      :marker-id="shop.id"
      :marker-type="'placemark'"
      :coords="shop.getGeoData"
      :balloon-template="shopBallon(shop)"
      @balloonopen="bindBallon"
    />
  </yandex-map>
</template>

<script>
import { yandexMap, ymapMarker } from 'vue-yandex-maps'
import { mapActions, mapGetters } from 'vuex'
import { CITY, NS_CITY, SET_SHOP, SHOPS, SHOPS_BY_CITY } from 'src/store/Cities'

export default {
  name: 'Map',
  components: { yandexMap, ymapMarker },
  data: () => ({
    mapControls: [
      'zoomControl'
    ],
    showMap: true,
    settings: {
      apiKey: '9ee2df85-fced-4ec3-8c5c-d696408c1e61',
      lang: 'ru_RU',
      coordorder: 'latlong',
      version: '2.1'
    }
  }),
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/'),
      AllShops: [NS_CITY, SHOPS].join('/'),
      shops: [NS_CITY, SHOPS_BY_CITY].join('/')
    })
  },
  methods: {
    ...mapActions({
      setShop: [NS_CITY, SET_SHOP].join('/')
    }),
    markerIcon (shop) {
      let imageHref = require('../../../../statics/icons/map-marker.svg')

      if (shop.isActive) {
        imageHref = require('../../../../statics/icons/map-marker-red.svg')
      }
      return {
        layout: 'default#imageWithContent',
        imageHref: imageHref,
        imageSize: [35, 54]
      }
    },
    nativeClickBallon: function () {
      const shopId = document.getElementById('selectShop').dataset.shopId
      this.setShop(shopId)
    },
    bindBallon: function () {
      document.getElementById('selectShop').addEventListener('click', this.nativeClickBallon)
    },
    shopBallon: function (shop) {
      return `
            <div class="balloon-content">
              <div class="balloon-content__img">
                <img src="` + shop.image + `" alt="" />
              </div>
              <div class="balloon-content__info">
                <div class="balloon-content__title">` + shop.name + `</div>
                <div class="balloon-content__title">` + shop.address + `</div>
                <div class="balloon-content__time">` + shop.workTime + `</div>
                <div class="balloon-content__phone">` + shop.phones + `</div>
                <div class="balloon-content__button-box">
                    <div id="selectShop" data-shop-id="` + shop.id + `" class="balloon-content__button">Выбрать</div>
                </div>
              </div>
            </div>
            `
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep .balloon-content {
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: normal;

  &__button {
    background: #2660a5;
    border-radius: 3px;
    padding: 6px 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    width: 90px;
    cursor: pointer;

    &:hover {
      background-color: #C20E0F;
      transition: background-color 0.5s;
    }
  }

  &__time {
    color: #93a2af;
    margin-bottom: 5px;
  }

  &__button-box {
    display: flex;
    justify-content: flex-start;
  }

  &__phone {
    color: #000;
    margin-bottom: 5px;
  }

  &__title {
    color: #2e2e2e;
    margin-bottom: 5px;
  }

  &__img {
    margin-right: 13px;

    img {
      vertical-align: middle;
      width: 115px;
      height: 93px;
    }
  }
}
</style>
