<template>
  <form @keypress="validateCode" class="code q-pt-md">
    <div @click="clearValidateInput" ref="bigNumbers" class="bigNumbers" :class="{'error': errors.length}">
      <input v-for="(i, key) in inputs" :key="key" v-model="inputs[key]" type="text"/>
    </div>

    <!--Вывод ошибок-->
    <reports class="errors" v-if="errors.length" :reports="errors"/>
    <!--Вывод ответов-->
    <reports class="reports" v-if="reports.length" :reports="reports"/>

    <div class="text-weight-bold text-center q-pt-xs">
      Код выслан на {{ phone | formatted }}
    </div>
    <div v-if="active" class="spinner-block" :data-count="counter">
      <q-spinner-oval size="42px"/>
    </div>
    <q-btn
      v-else
      @click="getNewCode"
      label="Получить новый код"
      flat
      no-caps
      class="full-width q-mt-xs bg-white text-weight-regular"
      text-color="grey-7"
      size="12px"
    />

    <q-btn
      @click="$emit('input:tab', 'email')"
      label="Войти по почте"
      flat
      no-caps
      class="full-width q-mt-xs bg-white text-weight-regular"
    />
  </form>
</template>
<script>
import { ASSIGN } from 'src/store/Common'
import { mapActions, mapGetters } from 'vuex'
import { NS_USER, USER, USER_STATUS, USER_SEND_CODE, USER_PHONE_AUTH } from 'src/store/User'

export default {
  name: 'FormCode',
  components: {
    Reports: () => import('../Authorize/Reports')
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    })
  },
  data () {
    return {
      active: false,
      counter: 0,
      code: '',
      inputs: [null, null, null, null]
    }
  },
  props: {
    phone: {
      type: String
    },
    errors: {
      type: Array
    },
    reports: {
      type: Array
    }
  },
  watch: {
    errors () {
      if (this.errors.length) {
        this.clearValidateInput()
      }
    }
  },
  methods: {
    ...mapActions({
      authorizeByPhone: [NS_USER, USER_PHONE_AUTH].join('/'),
      sendCode: [NS_USER, USER_SEND_CODE].join('/')
    }),
    getNewCode () {
      this.counter = 0
      this.active = true
      this.clearValidateInput()
      this.sendAuthRequest()

      const interval = setInterval(() => {
        this.counter++

        // if we are done...
        if (this.counter === 10) {
          this.active = false
          clearInterval(interval)
        }
      }, 500)
      this.$emit('input:new')
    },
    sendAuthRequest () {
      this.authorizeByPhone(this.phone).then((result) => {
        console.log('result', result)
      }).catch((err) => {
        this.errors.push(err)
      })
    },
    sendCodeRequest () {
      // для отправки кода используем телефон, полученный на пред. шаге
      const phone = this.phone
      const sendData = {
        phone: phone,
        sms: this.code
      }
      this.sendCode(sendData).then(() => {
        this.$store.dispatch(ASSIGN, { obj: this.user })
          .then(() => {
            this.$emit('input:hide')
          })
          .then(() => {
            this.$router.go()
          })
        if (this.user.isAuth) {
          this.$store.dispatch([NS_USER, USER_STATUS].join('/'))
        }
        this.$emit('showAuthForm', false)
      })
    },
    // очистка инпутов формы кода и фокусировка на первом по клику
    clearValidateInput () {
      this.$refs.bigNumbers.childNodes[0].focus()

      this.inputs = [null, null, null, null]

      this.code = ''
    },
    // валидация инпутов формы отправки кода
    validateCode (e) {
      // проверка на число
      const re = new RegExp('^[0-9]$', 'g')
      if (e.key.search(re) === -1) {
        e.preventDefault()
      } else {
        // собирание sms кода для отправки
        this.code = this.code + e.key

        if (e.target.nextElementSibling !== null) {
          // фокус на след. инпут кода
          e.target.nextElementSibling.focus()
        } else {
          this.sendCodeRequest()
        }
      }
    }
  }
}

</script>
<style lang="scss" scoped="scoped">
.spinner-block {
  position: relative;
  width: 42px;
  margin: auto;
  color: #8bbae7;

  &:before {
    position: absolute;
    text-align: center;
    width: inherit;
    content: attr(data-count);
    padding: 25%;
    left: 1px;
    line-height: 19px;
    font-size: 20px;
    color: inherit;
  }
}
</style>
<style lang="stylus" scoped="scoped">

.bigNumbers {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

input[type=text] {
  background: #e7ecef;
  border-radius: 3px;
  height: 80px;
  width: 50px;
  display: block;
  border: unset;
  font-size: 32px;
  text-align: center;
}

}

.bigNumbers.error {

input {
  border: 1px solid red;
  box-shadow: red 0 0 2px 2px;
}

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
