<template>
  <form v-on:submit.prevent="submitForm" class="phone q-gutter-y-xs">
    <label class="q-pt-sm">Email</label>
    <q-input v-model="form.email" dense outlined />

    <label class="q-pt-sm">Пароль</label>
    <q-input v-model="form.password" dense outlined />
    <!--Вывод ошибок-->
    <reports class="errors" v-if="errors.length" :reports="errors" />
    <!--Вывод ответов-->
    <reports class="reports" v-if="reports.length" :reports="reports" />

    <q-btn
      label="Получить код"
      dense
      unelevated
      class="full-width"
      color="grey-7"
      :disable="false"
    />

    <q-btn
      @click="$emit('input:tab', 'phone')"
      label="Войти по телефону"
      flat
      no-caps
      class="full-width q-mt-xs"
    />

  </form>
</template>
<script>
export default {
  name: 'FormCode',
  components: {
    Reports: () => import('../Authorize/Reports')
  },
  data () {
    return {
      form: {
        email: null,
        password: null
      },
      modelPhone: '',
      sendBlocked: true
    }
  },
  props: {
    phone: {},
    errors: {
      type: Array
    },
    reports: {
      type: Array
    }
  },
  methods: {
    submitForm (e) {
      const vm = this
      this.$emit('submitForm', { element: e, phone: vm.modelPhone })
    }
  },
  watch: {
    modelPhone () {
      this.sendBlocked = this.modelPhone.length <= 9
    }
  }
}
</script>
<style lang="stylus" scoped="scoped">
label
  display block
  font-size 13px
  line-height 18px
  color #777
  margin-bottom 10px
  margin-top 10px

button
  font-size 12px
  font-weight normal
  height 40px

</style>
