<template>
  <div class="q-gutter-y-xs">
    <label class="q-pt-sm">Номер телефона</label>
    <q-input
      :fill-mask="true"
      unmasked-value
      v-model="phone"
      mask="+7 (###) ###-##-##"
      dense
      outlined
    />
    <!--Вывод ошибок-->
    <reports class="errors" v-if="errors.length" :reports="errors" />
    <!--Вывод ответов-->
    <reports class="reports" v-if="reports.length" :reports="reports" />

    <q-btn
      label="Получить код"
      dense
      unelevated
      class="full-width"
      color="grey-7"
      :disable="!phone || phone.length < 10"
      @click="$emit('input:phone', phone)"
    />

    <q-btn
      @click="$emit('input:tab', 'email')"
      label="Войти по почте"
      flat
      no-caps
      class="full-width q-mt-xs bg-white"
    />
  </div>
</template>
<script>
export default {
  name: 'FormCode',
  components: {
    Reports: () => import('../Authorize/Reports')
  },
  data () {
    return {
      phone: null,
      sendBlocked: true
    }
  },
  props: {
    errors: Array,
    reports: Array
  }
}
</script>
<style lang="stylus" scoped="scoped">
label
  display block
  font-size 13px
  line-height 18px
  color #777
  margin-bottom 10px
  margin-top 10px

button
  font-size 12px
  font-weight normal
  height 40px
</style>
