<template>
  <q-card>
    <q-card-section dense class="q-pa-none row justify-between">
      <span class="title q-py-sm q-pa-md">{{ headerName }}</span>
        <q-btn flat dense unelevated icon="close" v-close-popup class="bg-transparent q-py-sm q-px-md" size="10px" />
    </q-card-section>
    <q-separator />
    <q-card-section dense class="q-py-none q-px-md">

      <q-tab-panels v-model="tab" animated vertical>

          <q-tab-panel name="phone" class="q-pa-none" style="overflow: hidden;">
             <form-phone
               @input:tab="$event => tab = $event"
               @input:phone="$event => sendAuthRequest($event)"
               @submitForm="submitForm"
               :phone="phone"
               :errors="errors"
               :reports="reports"
             />
          </q-tab-panel>

          <q-tab-panel name="sms" class="q-pa-none" style="overflow: hidden;">
            <form-code
              @input:tab="$event => tab = $event"
              @input:hide="$emit('input:hide')"
              @submitForm="submitForm"
              :phone="phone"
              :errors="errors"
              :reports="reports"
            />
          </q-tab-panel>

          <q-tab-panel name="email" class="q-pa-none" style="overflow: hidden;">
             <form-email
               @input:tab="$event => tab = $event"
               @submitForm="submitForm"
               :phone="phone"
               :errors="errors"
               :reports="reports"
             />
          </q-tab-panel>

      </q-tab-panels>
    </q-card-section>
    <q-card-section class="q-pt-none text-center">
      При входе или регистрации вы соглашаетесь с
      <router-link :to="url">Правилами</router-link>
    </q-card-section>
  </q-card>

</template>
<script>
import { mapActions } from 'vuex'
import { NS_USER, USER_PHONE_AUTH, USER_SEND_CODE } from 'src/store/User'
import { ROUTE_STATIC_RULES } from 'src/router/routes'

export default {
  name: 'AuthForm',
  components: {
    FormPhone: () => import('../Authorize/FormPhone'),
    FormEmail: () => import('../Authorize/FormEmail'),
    FormCode: () => import('../Authorize/FormCode')
  },
  computed: {
    url () {
      return { name: ROUTE_STATIC_RULES }
    },
    phone () {
      return '7' + this.modelPhone
    }
  },
  data () {
    return {
      tab: 'phone',
      modelPhone: '',
      code: '',
      headerName: 'Вход или регистрация',
      errors: [],
      reports: [],
      activeForm: '', // по умолчание актиная форма
      sendBlocked: true
    }
  },
  created () {
    this.activeForm = 'showPhoneAuth'
  },
  methods: {
    ...mapActions({
      authorizeByPhone: [NS_USER, USER_PHONE_AUTH].join('/'),
      sendCode: [NS_USER, USER_SEND_CODE].join('/')
    }),
    abc (e) {
      console.log('e', e)
    },
    smsCode (code) {
      this.code = code
    },
    submitForm (data) {
      const element = data.element
      // очищаем предыдущие сообщения
      this.errors = []
      this.reports = []

      if (element.currentTarget.className === 'phone') {
        this.modelPhone = data.phone
        this.sendAuthRequest(data.phone)
      }
      if (element.currentTarget.className === 'code') {
        this.sendCodeRequest(data.code)
      }
    },
    sendAuthRequest (phone) {
      this.authorizeByPhone(phone).then((result) => {
        this.modelPhone = phone
        this.tab = 'sms'
      }).catch((err) => {
        this.errors.push(err)
      })
    }
    // sendCodeRequest (code) {
    //   this.sendCode(code).then((result) => {
    //     localStorage.setItem('token', result.token)
    //     this.$store.dispatch([NS_USER, LOAD_USER_DATA].join('/'))
    //     this.$emit('showAuthForm', false)
    //   }).catch((err) => {
    //     this.errors = []
    //     this.errors.push(err)
    //   })
    // }
  }
}
</script>

<style scoped="scoped" lang="scss">
.q-card {
  max-width: 280px;

  .q-card__section:last-child {
    font-size: 13px;
    line-height: 17px;
    color: #777777;

    a {
      color: #2e2e2e
    }
  }
}
</style>
