<template>
  <ul>
    <li class="list-group-item"
        v-for="(report, id) in reports"
        :key="id">
      {{ report }}
    </li>
  </ul>
</template>
<script>
export default {
  name: 'Reports',
  props: {
    reports: {
      type: Array
    }
  }
}
</script>
