<template>
  <div class="buttons-list">
    <i
      @click="add2favorite(product)"
      class="material-icons-outlined md-20"
      :class="{'active': product.isFavorite}"
    >favorite_border
      <q-tooltip v-if="!product.isFavorite">Отложить на потом</q-tooltip>
      <q-tooltip v-else>Убрать из отложенных</q-tooltip>
    </i>
    <i
      @click="add2compare(product)"
      class="material-icons md-20"
      :class="{'active': product.isCompare}"
    >leaderboard
      <q-tooltip v-if="!product.isCompare">Добавить в сравнение</q-tooltip>
      <q-tooltip v-else>Убрать из сравнения</q-tooltip>
    </i>
    <i
      @click="add2Cart(product)"
      class="material-icons-outlined md-20"
      :class="{'active': cart.contains(product)}"
    >
      shopping_cart
      <q-tooltip>{{ textCart }}</q-tooltip>
    </i>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import {
  NS_USER,
  CART,
  ADD_TO_CART, PRODUCT_COMPARE, PRODUCT_FAVORITE
} from 'src/store/User'

export default {
  name: 'Buttons',
  props: {
    product: {},
    cardType: {
      required: false
    }
  },
  computed: {
    ...mapGetters({
      cart: [NS_USER, CART].join('/')
    })
  },
  data () {
    return {
      accepted: ['favorite', 'compare', 'cart'],
      textCart: 'Добавить в корзину'
    }
  },
  methods: {
    ...mapActions({
      add2Cart: [NS_USER, ADD_TO_CART].join('/'),
      add2favorite: [NS_USER, PRODUCT_FAVORITE].join('/'),
      add2compare: [NS_USER, PRODUCT_COMPARE].join('/')
    })
  }
}
</script>

<style lang="scss" scoped>
.buttons-list{
  color: #cbcbcb;
  width: 50%;
  float: right;

  i.active {
    color: #ec0909;
  }

  i {
    cursor: pointer;
    margin-right: 5px;
    vertical-align: bottom;
  }
}
</style>
