<template>
  <div id="cartInfo" class="cart-info" :class="{'fixed': fixed }">
    <div class="block">
      <div class="sum">
        <div>Итого:</div>
        <div style="margin-left: auto;" class="rub">{{ sum | price }}</div>
      </div>
      <div class="price">
        <div class="text flex">
          <div>Доставка:</div>
          <div class="rub">{{ order.delivery.priceCur | price }}</div>
        </div>
        <div class="text flex">
          <div>Товары, {{ count }} шт.</div>
          <div class="rub">{{ user.cart.sum | price }}</div>
        </div>
        <div v-if="0" class="flex">
          <div>Скидка</div>
          <div class="rub">{{ sum | price }}</div>
        </div>
      </div>
      <div class="delivery">
        <div class="flex-original">
          <div class="title">Доставка:</div>&nbsp;
          <span @click="scrollToElement('delivery')">{{ order.delivery.name }}</span>
        </div>
        <div>{{ order.delivery.address }}</div>
      </div>
      <div class="delivery">
        <div class="flex-original">
          <div class="title">Дата:</div>&nbsp;
          <span @click="scrollToElement('delivery')">{{ order.delivery.datetime }}</span>
        </div>
      </div>
      <div class="delivery">
        <div class="flex-original">
          <div class="title">Оплата:</div>&nbsp;
          <span>{{ order.payment }}</span>
        </div>
      </div>
      <div v-if="type === 'cart'" class="button">
        <div class="regulations">
          <q-checkbox dense v-model="rulesChecked" color="blue"/>
          &nbsp;
          <span>Согласен с </span>&nbsp;
          <router-link :to="url" class="link">
            правилами продажи
          </router-link>
        </div>
        <q-btn :disable="!checked" @click="$emit('checkOrder', true)" color="brown-5" label="Оформить заказ" type="submit"/>
      </div>
      <button v-else @click="oldOrderSetNew">
        Повторить заказ
      </button>
    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'
import { NS_ORDER, CHANGE_ORDER } from 'src/store/Order'
import { scroll } from 'quasar'
const { getScrollPosition } = scroll
import { ROUTE_STATIC_RULES } from 'src/router/routes'

export default {
  name: 'CartInfo',
  props: {
    type: {
      required: true
    },
    orderCheck: {
      required: false
    }
  },
  data () {
    return {
      fixed: false,
      rulesChecked: true,
      Text: 'Оформить заказ'
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    url () {
      return { name: ROUTE_STATIC_RULES }
    },
    count () {
      return this.user.cart.size
    },
    checked () {
      return this.rulesChecked && this.sum > 0
    },
    order () {
      return this.user.order
    },
    sum () {
      let sum = this.user.cart.sum
      if (this.order.delivery.price) {
        sum = sum + this.order.delivery.price
      }
      return sum
    }
  },
  methods: {
    ...mapActions({
      changeOrder: [NS_ORDER, CHANGE_ORDER].join('/')
    }),
    scrollToElement (el) {
      this.$emit('scroll', el)
    },
    handleScroll ($event) {
      this.fixed = getScrollPosition(window) > 132
    },
    oldOrderSetNew () {
      this.changeOrder(this.order)
    },
    orderSet () {
      // this.$router.push({ name: ROUTE_ORDER_SUCCESS })
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy () {
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>
<style lang="scss" scoped>
.cart-info {
  position: relative;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  padding: 20px;
  margin-left: 34px;
  border: 1px solid #f0f0f0;
  max-width: 320px;
  width: 30%;

  button.order-button {
    background: whitesmoke;
  }

  button.order-button.active {
    background: var(--color-red);
  }

  button {
    display: block;
    background: var(--color-red);
    border-radius: 3px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    border: 0;
    outline: none;
    cursor: pointer;
    width: 100%;
    padding: 10px;
  }

  .title {
    font-weight: 600;
  }

  .regulations {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;

    .link {
      color: #1c3d5e;
      position: relative;
    }
  }

  .delivery {
    margin-bottom: 10px;

    .flex-original {
      margin-top: 0;
    }

    span {
      text-decoration: none;
      cursor: pointer;
      font-weight: 600;
      color: var(--color-blue);
      border-bottom: 1px dashed rgba(203,17,171,.2);
    }
  }

  .block {
    font-size: 15px;
    color: #3a3a3a;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;

    .sum {
      font-size: 22px;
      display: flex;
      margin-bottom: 10px;
    }

    .text {
      color: #676767;
      font-weight: 100;
    }

    .flex div {
      font-size: 15px;
      margin-bottom: 5px;
      width: 40%;
      flex-grow: 1;
      flex-shrink: 0;

      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        text-align: end;
      }
    }

    .price div {
      &:first-child {
        color: #676767;
        font-weight: 100;
      }
    }

    .q-btn {
      background-color: var(--color-blue) !important;
    }
  }
}

.cart-info.fixed {
  position: fixed;
  top: 10px;
}

@media (max-width: 1200px) {
  .cart-info.fixed {
    position: relative;
  }
}
</style>
