<template>
  <ul class="product__counter count">
    <q-btn
      @click="$store.dispatch(ASSIGN, { obj: cartItem, props: {count: cartItem.count - 1 || 1} })"
      flat
      round
      icon="remove_circle_outline"
    />
    <li>{{ cartItem.count }}</li>
    <q-btn
      @click="$store.dispatch(ASSIGN, { obj: cartItem, props: {count: cartItem.count + 1} })"
      flat
      round
      icon="add_circle_outline"
    />
  </ul>
</template>

<script>
import { ASSIGN } from 'src/store/Common'
import { CartItem } from 'src/model/Cart'

export default {
  name: 'CartCounter',
  props: {
    cartItem: CartItem
  },
  data () {
    return {
      ASSIGN: ASSIGN
    }
  }
}
</script>

<style lang="scss" scoped>
.product {
  &__counter {
    font-size: 17px;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    height: 33px;
    opacity: 0.6;

    li {
      font-size: 17px;
      margin-top: 7px;
    }
  }
}

@media (max-width: 767px) {
  .product {
    &__counter.count {
      margin-top: 0;
      margin-left: 0;
      margin-right: auto;
    }
  }
}
</style>
