<template lang="html">
  <q-btn
    class="delete"
    @click="deleteFromCart(cartItem)"
    flat dense unelevated
    icon="remove_shopping_cart"
  />
</template>
<script>
import { CartItem } from 'src/model/Cart'
import { mapActions } from 'vuex'
import { NS_USER, DELETE_FROM_CART } from 'src/store/User'

export default {
  name: 'CartDelete',
  props: {
    cartItem: CartItem
  },
  methods: {
    ...mapActions({
      deleteFromCart: [NS_USER, DELETE_FROM_CART].join('/')
    })
  }
}
</script>

<style scoped="scoped" lang="scss">
.delete {
  color: #808080;
  font-size: 12px;
}
</style>
