<template>
  <div class="cart-page__products">
    <div
      v-for="(cartItem, idx) in cart.items"
      :key="idx"
    >
      <component
        :is="component(cartItem)"
        :cartItem="cartItem"
        @cartProductDelete="deleteFromCart($event)"
        @getAssembly="getAssembly($event)"
        :type="'cart'"
      />
    </div>
    <assembly v-if="assemblyForm" :assemblyText="assemblyText"/>
  </div>
</template>
<script>
import axios from 'axios'
import { mapActions, mapGetters } from 'vuex'
import { NS_USER, DELETE_FROM_CART, CART } from 'src/store/User'

import CartProduct from 'components/User/Cart/Product/index'
import CartSkeletonEmpty from 'components/User/Cart/Skeleton/Empty'
import CartSkeleton from 'components/User/Cart/Skeleton'

export default {
  name: 'cart',
  props: {
    type: {
      required: true
    },
    orderCheck: {
      required: false
    }
  },
  components: {
    Assembly: () => import('components/User/Cart/Product/Assembly'),
    CartProduct,
    CartSkeleton,
    CartSkeletonEmpty
  },
  data () {
    return {
      assemblyForm: false,
      assemblyText: '',
      items: [
        {
          name: 'Корзина',
          url: '/cart'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      cart: [NS_USER, CART].join('/')
    })
  },
  methods: {
    ...mapActions({
      deleteFromCart: [NS_USER, DELETE_FROM_CART].join('/')
    }),
    component (cartItem) {
      if (cartItem.offer.product.name) {
        return CartProduct
      }
      if (!cartItem.offer.product.name && !cartItem.offer.product.isErrorLoaded) {
        return CartSkeleton
      }
      if (cartItem.offer.product.isErrorLoaded) {
        return CartSkeletonEmpty
      }
    },
    getAssembly (category) {
      const url = ['category', category.id, 'assembly'].join('/')
      axios.get(url).then((ans) => {
        // TODO: mock
        this.assemblyText = 'Вы можете заказать сборку велосипеда, беговела в магазине. ' +
          'Стоимость сборки: велосипед - 500руб., беговел - 200руб. ' +
          'При получении заказа товар уже будет собран. Условие оплаты - предоплата на сайте'
      }).catch(() => {
        this.assemblyText = 'Вы можете заказать сборку велосипеда, беговела в магазине. ' +
          'Стоимость сборки: велосипед - 500руб., беговел - 200руб. ' +
          'При получении заказа товар уже будет собран. Условие оплаты - предоплата на сайте'
      }).finally(() => {
        this.assemblyForm = true
      })
    }
  },
  created () {
    this.$root.$on('showAssembly', ($event) => { this.assemblyForm = $event })
  }
}
</script>
<style lang="scss" scoped>
.order__line {
  justify-content: space-between;
  display: flex;
  margin-bottom: 16px;

  span:first-child {
    width: 60%;
  }
}
</style>
