<template>
  <div>
    <div class="cart-top">
      <div class="cart-top__text-border">
        <div class="cart-top__text">
        <span class="cart-top__text__desc">
          {{ cart.count }}
          товара
        </span> &nbsp; на сумму
          <span class="cart-top__text__price rub">
            {{ cart.sum | price }}
          </span>
        </div>
      </div>
      <q-scroll-area
        :thumb-style="thumbStyle"
        :bar-style="barStyle"
        :style="height"
      >
        <div class="cart-top__products">
          <cart-product
            v-for="(cartItem, id) in cart.items"
            :key="id"
            :cartItem="cartItem"
          />
        </div>
      </q-scroll-area>
      <router-link :to="{ name: 'ROUTE_CART' }" class="blackButton">
        Перейти в корзину
      </router-link>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { NS_USER, CART, DELETE_FROM_CART } from 'src/store/User'

export default {
  name: 'CartTop',
  components: {
    CartProduct: () => import('components/User/Cart/CartTop/Product')
  },
  computed: {
    ...mapGetters({
      cart: [NS_USER, CART].join('/')
    }),
    height () {
      let count = this.cart.count
      if (this.cart.count > 3) {
        count = 3
      }
      return 'height:' + count * 110 + 'px'
    }
  },
  methods: {
    ...mapActions({
      deleteFromCart: [NS_USER, DELETE_FROM_CART].join('/')
    })
  },
  data () {
    return {
      thumbStyle: {
        right: '4px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      },
      barStyle: {
        right: '2px',
        borderRadius: '9px',
        backgroundColor: '#027be3',
        width: '9px',
        opacity: 0.2
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.cart-top {
  &__text-border {
    border-bottom: 1px solid #f0f0f0;
    padding: 19px 0 17px 0;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px 15px 15px;
    border-bottom: 1px solid #F0F0F0;

    &__img {
      max-height: 100px;
    }

    &__close {
      position: absolute;
      top: 0;
      left: calc(100% - 57px);
      color: #808080;

      &:hover {
        color: inherit;
      }
    }

    &__price {
      color: #777777;
      font-size: 17px;
      margin: 0 42px 0 37px;
      line-height: 18px;
      width: 95px;
      text-align: center;
      white-space: nowrap;
    }

    &__img img {
      width: auto;
      max-height: 85px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    margin: 0 auto 0 25%;
    width: 75%;

    &__desc {
      font-size: 13px;
      color: #000000;
      font-weight: bold;
    }

    &__price {
      font-weight: 700;
      font-size: 17px;
      color: #777777;
      width: 126px;
      margin-left: auto;
    }
  }

  &__name {
    width: 158px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
  }

  &__price {
    width: 95px;
    color: #777777;
    font-size: 17px;
    margin: 0 42px 0 37px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
  }

  &__text-bottom {
    background: #474747;
    font: {
      size: 14px;
      weight: bold;
    }
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    display: block;
    transition: background-color 0.5s;
    cursor: pointer;

    &:hover{
      background: #ff0000;
    }
  }

  &__scroll {
    height: auto !important;
    max-height: 330px;
  }
}
</style>
