<template>
  <div v-if="product.name" class="cart-top__item">
    <router-link class="flex-original" :to="product.url">
      <image-wrapper :size="90"  :product="product" :key="product.id"/>
      <div class="cart-top__name">
        {{ product.name }}
        <div v-if="product.sizes.length">
          <span>Размер:</span>
          <span>{{ offer.name }}</span>
        </div>
      </div>
    </router-link>
    <div class="cart-top__price rub">
      {{ offer.price.actual | price }}
    </div>
    <cart-delete class="cart-top__item__close" :cartItem="cartItem"/>
  </div>
  <div v-else>
    <cart-skeleton v-if="!product.isErrorLoaded" :type="'cart'" :cartItem="cartItem"/>
    <cart-skeleton-empty v-if="product.isErrorLoaded" :top="true" :cartItem="cartItem"/>
  </div>
</template>

<script>
import { CartItem } from 'src/model/Cart'
import { mapActions, mapGetters } from 'vuex'
import { NS_USER, CART, DELETE_FROM_CART } from 'src/store/User'

export default {
  name: 'CartTopProduct',
  props: {
    cartItem: CartItem
  },
  components: {
    ImageWrapper: () => import('components/Catalog/Product/ImageWrapper'),
    CartSkeleton: () => import('components/User/Cart/Skeleton'),
    CartDelete: () => import('components/User/Cart/Delete'),
    CartSkeletonEmpty: () => import('components/User/Cart/Skeleton/Empty')
  },
  computed: {
    ...mapGetters({
      cart: [NS_USER, CART].join('/')
    }),
    product () {
      return this.cartItem.offer.product
    },
    offer () {
      return this.cartItem.offer
    }
  },
  methods: {
    ...mapActions({
      deleteFromCart: [NS_USER, DELETE_FROM_CART].join('/')
    })
  }
}
</script>

<style lang="scss" scoped>
.cart-top {
  &__text-border {
    border-bottom: 1px solid #f0f0f0;
    padding: 19px 0 17px 0;
  }

  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #F0F0F0;
    padding: 10px 15px 15px 15px;
    border-bottom: 1px solid #F0F0F0;

    &__img {
      max-height: 100px;
    }

    &__close {
      position: absolute;
      top: 0;
      left: calc(100% - 57px);
      color: #808080;
      margin-right: 20px;

      &:hover {
        color: inherit;
      }
    }

    &__price {
      color: #777777;
      font-size: 17px;
      margin: 0 42px 0 37px;
      line-height: 18px;
      width: 95px;
      text-align: center;
      white-space: nowrap;
    }

    &__img img {
      width: auto;
      max-height: 85px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    margin: 0 auto 0 24%;
    width: 61%;

    &__desc {
      margin-bottom: 4px;
      font-size: 13px;
      color: #000000;
      font-weight: bold;
    }

    &__price {
      font-weight: 700;
      font-size: 17px;
      color: #777777;
      width: 126px;
      margin-left: auto;
    }
  }

  &__name {
    width: 158px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    text-align: left;
  }

  &__price {
    width: 95px;
    color: #777777;
    font-size: 17px;
    margin: 0 42px 0 37px;
    line-height: 18px;
    text-align: center;
    white-space: nowrap;
  }

  &__text-bottom {
    background: #474747;
    font: {
      size: 14px;
      weight: bold;
    }
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    display: block;
    transition: background-color 0.5s;
    cursor: pointer;

    &:hover{
      background: #ff0000;
    }
  }

  &__scroll {
    height: auto !important;
    max-height: 330px;
  }
}

::v-deep {
  .delete {
    //margin-right: 22px;
  }

  .text {
    font-size: 13px !important;
    width: 25% !important;
    margin-top: auto;
    margin-left: 15px !important;
  }

  .empty {
    width: 20% !important;
  }
}
</style>
