<template>
  <i :class="{'active': product.inCart}">
    <slot />
  </i>
</template>

<script>
import { Product } from 'src/model/Product'

export default {
  name: 'IconCart',
  props: {
    product: Product
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/mixins";
i {
  font-style: normal;

  &.active {
    color: $red
  }

  &:before {
    @extend .icon, .outlined;
    content: 'shopping_cart';
    position: absolute;
    left: 0;
  }
}
</style>
