<template>
  <i
    @click="add2compare(product)"
    :class="{'active': product.isCompare}"
  >
    <template v-if="!isTouch">
      <q-tooltip v-if="!product.isCompare">Добавить в сравнение</q-tooltip>
      <q-tooltip v-else>Убрать из сравнения</q-tooltip>
    </template>
  </i>
</template>

<script>

import { mapActions } from 'vuex'
import { NS_USER, PRODUCT_COMPARE } from 'src/store/User'
import { Product } from 'src/model/Product'

export default {
  name: 'IconCompare',
  props: {
    product: Product
  },
  computed: {
    isTouch () {
      return this.$q.platform.has.touch
    }
  },
  data () {
    return {
      accepted: ['compare']
    }
  },
  methods: {
    ...mapActions({
      add2compare: [NS_USER, PRODUCT_COMPARE].join('/')
    })
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/mixins";
i {
  &:before {
    @extend .icon;
    content: 'leaderboard';
  }
}
</style>
