<template>
  <i
    @click="add2favorite(product)"
    :class="{'active': product.isFavorite}"
  >
    <template v-if="!isTouch">
      <q-tooltip v-if="!product.isFavorite">Отложить на потом</q-tooltip>
      <q-tooltip v-else>Убрать из отложенных</q-tooltip>
    </template>

  </i>
</template>

<script>

import { mapActions } from 'vuex'
import { NS_USER, PRODUCT_FAVORITE } from 'src/store/User'
import { Product } from 'src/model/Product'

export default {
  name: 'IconFavorite',
  props: {
    product: Product
  },
  computed: {
    isTouch () {
      return this.$q.platform.has.touch
    }
  },
  data () {
    return {
      accepted: ['favorite']
    }
  },
  methods: {
    ...mapActions({
      add2favorite: [NS_USER, PRODUCT_FAVORITE].join('/')
    })
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/mixins";
i {
  &:before {
    @extend .icon;
    content: 'favorite_border';
  }
}
</style>
