<template lang="html">
  <div class="container-origin-width">

    <breadcrumbs :category="category" class="breadcrumbs"  />

    <article class="product_page">
      <product-name :product="product" class="name" />

      <product-image
        v-if="product"
        :product="product"
        class="image"
      />

      <discount :product="product" />

      <product-price :product="product" :offer="offer" class="price" />

      <sizes
          v-if="product.sizes.length"
          @setOffer="offer = $event"
          :product="product"
          class="sizes"
      />

      <colors v-if="product.colors.length" :product="product" class="colors" />

      <delivery
          :product="product"
          title="Доставка"
          class="delivery"
      />

      <advantages
          title="Преимущества"
          class="advantages"
      />

      <description
        v-if="product.description"
        :text="product.description"
        title="Описание"
        class="description"
      />

      <property-list
        v-if="product.getCharacters.length"
        :product="product"
        class="properties"
      />

      <slider-horizontal
        v-if="product.related.length"
        :height="'320px'"
        :products="product.related"
        title="Рекомендуем"
        key="related"
        class="recommended"
      />

      <reviews v-if="category.reviews" class="reviews" :userIsAuth="user.isAuth" :product="product" :category="category" />

      <slider-horizontal
        v-if="watched.length"
        :products="watched"
        title="Вы смотрели"
        key="watched"
        class="watched"
      />

    </article>
  </div>
</template>

<script lang="js">

import { Category } from 'src/model/Category'
import { mapActions, mapGetters } from 'vuex'
import { NS_CATEGORY, PRODUCT_FILL_RELATED } from 'src/store/Category/const'
import { PRODUCT_WATCHED, NS_USER, USER } from 'src/store/User'

export default {
  name: 'pageCatalog',
  meta () {
    return {
      title: this.product.name,
      meta: {
        description: {
          name: 'description',
          content: this.product.name
        }
      }
    }
  },
  props: {
    category: {
      type: Category,
      required: true
    },
    product: {}
  },
  components: {
    Advantages: () => import('components/Catalog/Product/Advantages'),
    Breadcrumbs: () => import('../../../components/Layout/Breadcrumbs'),
    Colors: () => import('components/Catalog/Product/Colors/index'),
    Delivery: () => import('components/Catalog/Product/Delivery'),
    Description: () => import('../../../components/Catalog/Product/Description'),
    ProductName: () => import('components/Catalog/Product/Name'),
    ProductPrice: () => import('components/Catalog/Product/Price'),
    ProductImage: () => import('components/Catalog/Product/Image'),
    PropertyList: () => import('../../../components/Catalog/Product/PropertyList'),
    SliderHorizontal: () => import('../../../components/Catalog/Product/SliderHorizontal'),
    Sizes: () => import('components/Catalog/Product/Sizes'),
    Discount: () => import('components/Catalog/Product/Price/Discount'),
    Reviews: () => import('components/Catalog/Product/Review')
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    watched () {
      return this.user.watched.filter(product => product !== this.product)
    }
  },
  methods: {
    ...mapActions({
      fillRelated: [NS_CATEGORY, PRODUCT_FILL_RELATED].join('/'),
      setWatchedProduct: [NS_USER, PRODUCT_WATCHED].join('/')
    })
  },
  mounted () {
    this.setWatchedProduct(this.product)
    if (!this.product.recommended.length) {
      this.fillRelated(this.product)
    }
  },
  updated () {
    if (!this.product.recommended.length) {
      this.fillRelated(this.product)
    }
  },
  data () {
    return {
      isColors: false,
      isSizes: false,
      offer: null
    }
  },
  created () {
    if (!this.product.sizes.length) {
      this.offer = this.product.offers[0]
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
@import 'src/css/vars';

.container-origin-width {
  margin-bottom: 10px;
}

.product_page {
  position: relative;
  * {
    --advantages-row-height: 3;
    --advantages-row-start: var(--delivery-row-end);
    --advantages-row-end: calc(var(--advantages-row-start) + var(--advantages-row-height));

    --delivery-row-height: 8;
    --delivery-row-start: var(--colors-row-end);
    --delivery-row-end: calc(var(--delivery-row-start) + var(--delivery-row-height));

    --description-row-height: 5;
    --description-row-start: var(--image-row-end);
    --description-row-end: calc(var(--image-row-end) + var(--description-row-height));

    --name-row-height: 3;
    --name-row-start: 1;
    --name-row-end: calc(var(--name-row-start) + var(--name-row-height));

    --price-row-height: 6;
    --price-row-start: var(--name-row-end);
    --price-row-end: calc(var(--price-row-start) + var(--price-row-height));

    --colors-row-height: 0;
    --colors-row-start: var(--sizes-row-end);
    --colors-row-end: calc(var(--colors-row-start) + var(--colors-row-height));

    --sizes-row-height: 0;
    --sizes-row-start: var(--price-row-end);
    --sizes-row-end: calc(var(--sizes-row-start) + var(--sizes-row-height));

    --image-row-height: 26;
    --image-row-start: 1;
    --image-row-end: calc(var(--image-row-start) + var(--image-row-height));

    --recommended-row-height: 20;
    --recommended-row-start: var(--description-row-start);
    --recommended-row-end: calc(var(--description-row-start) + var(--recommended-row-height));

    --properties-row-height: 16;
    --properties-row-start: var(--description-row-end);
    --properties-row-end: calc(var(--properties-row-start) + var(--properties-row-height));

    --watched-row-height: 10;
    --watched-row-start: var(--reviews-row-end);
    --watched-row-end: calc(var(--watched-row-start) + var(--watched-row-height));

    --reviews-row-height: 65;
    --reviews-row-start: var(--properties-row-end);
    --reviews-row-end: calc(var(--reviews-row-start) + var(--reviews-row-height));
  }
  .colors ~ * {
    --colors-row-height: 3;
  }

  .sizes ~ * {
    --sizes-row-height: 3;
  }
}
@media (min-width: $width-800) {
  .product_page {
    position: relative;
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    align-items: stretch;

    .name{
      grid-column: 13 / -1;
      grid-row: var(--name-row-start)/ var(--name-row-end);
    }

    .image {
      grid-column: 1 / 13;
      grid-row: var(--image-row-start) / var(--image-row-end);
    }

    .price {
      grid-column: 13 / -1;
      grid-row: var(--price-row-start) / var(--price-row-end);
    }

    .colors {
      grid-column: 13 / -1;
      grid-row: var(--colors-row-start) / var(--colors-row-end);
    }

    .sizes {
      grid-column: 13 / -1;
      grid-row: var(--sizes-row-start) / var(--sizes-row-end);
    }

    .advantages {
      grid-column: 13 / -1;
      grid-row: var(--advantages-row-start) / var(--advantages-row-end);
    }

    .delivery {
      grid-column: 13 / -1;
      grid-row: var(--delivery-row-start) / var(--delivery-row-end);
    }

    .description {
      grid-column: 1 / 13;
      grid-row: var(--description-row-start) / var(--description-row-end);
    }

    .properties {
      grid-column: 1 / 13;
      grid-row: var(--description-row-end) / var(--properties-row-end);
    }

    .recommended {
      grid-column: 13 / -1;
      grid-row: var(--recommended-row-start) / var(--recommended-row-end);
    }

    .watched {
      grid-column: 1 / -1;
      grid-row: var(--watched-row-start) / var(--watched-row-end);
    }

    .reviews {
      grid-column: 1 / 13;
      grid-row: var(--reviews-row-start) / var(--reviews-row-end);
    }
  }
}

@media (min-width: $width-320) and (max-width: $width-1280){
  .product_page {
    padding: 0 10px;
  }

  .breadcrumbs {
    padding-left: 10px;
  }
}
</style>
<style lang="scss">
//.wrapper {
//  margin-top: 10px;
//}
</style>
