<template>
  <div
    class="shop header__selector city header__selector"
  >
    <span class="city__title header__selector__text">
      {{ currentCity.shop.address }}
    </span>
    <q-menu
      v-model="showMenu"
      transition-show="fade"
      content-class="header-inner"
      @before-hide="$root.$emit('showOverlay', false)"
      @before-show="$root.$emit('showOverlay', true)"
    >
      <div class="shop__list">
        <div class="shop__list-padding">
          <div
            :class="{'active': shop === currentCity.shop}"
            @click="setShop(shop)"
            class="shop__list__shop"
            v-for="shop in shops"
            :key="shop.id"
          >
            <span>
              {{ shop.address }}
            </span>
          </div>

          <div class="shop__list__delivery">
            <span>
              Доставка курьером
            </span>
          </div>
        </div>
        <div @click="showMapper" class="blackButton">Выбрать на карте</div>
      </div>
    </q-menu>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { CITY, NS_CITY, SET_SHOP, SHOPS_BY_CITY } from 'src/store/Cities'

export default {
  name: 'Shops',
  data: () => ({
    showMenu: false
  }),
  computed: {
    ...mapGetters({
      currentCity: [NS_CITY, CITY].join('/'),
      shops: [NS_CITY, SHOPS_BY_CITY].join('/')
    })
  },
  methods: {
    ...mapActions({
      setShop: [NS_CITY, SET_SHOP].join('/')
    }),
    showMapper () {
      this.showMenu = false
      this.$emit('showMap', true)
    }
  }
}
</script>
<style lang="scss" scoped="scoped">
.shop.active {
  background: #143f6d;
}

.shop {
  min-width: 194px;

  &__position {
    position: absolute;
    top: 45px;
    left: 0;
  }

  &__list-padding {
    padding: 9px 19px 16px 19px;
  }

  &__list {
    position: relative;
    z-index: 100;
    cursor: default;
    font-size: 12px;
    width: 276px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 7px 18px rgba(0, 0, 0, 0.2);
    overflow: visible;

    &__shop.active {
      font-weight: 700;
    }

    &__delivery {
      color: #595959;
      font-size: 13px;
      font-weight: 400;
      cursor: pointer;
      margin-top: 10px;
    }

    &__shop {
      cursor: pointer;
      font-size: inherit;
      padding: 10px 0;
      border-bottom: 1px solid #f0f0f0;
      min-width: 108px;
      font-weight: 400;
      color: #222222;
      transition: color .5s;
    }

    &:after {
      content: "";
      position: absolute;
      top: -15px;
      left: 45%;
      border: 7.5px solid transparent;
      border-bottom: 7.5px solid #ffffff;
      z-index: 1;
    }
  }
}
</style>
