<template>
  <div class="col-md-4 col-sm-5 row content-stretch q-pa-lg">
    <div class="relative-position row content-start q-pb-xl">
      <div class="title">Магазины в г. {{ city.name }}</div>
      <div class="full-width">
            <q-scroll-area class="col-4">
              <p
                @click="setShop(shop)"
                v-for="shop in city.shops"
                class="full-width"
                :class="{'active': shop.id === city.shop.id}"
                :key="shop.id"
              >
                <q-img
                :width="'90px'"
                :height="'72px'"
                contain
                :src="shop.image"
              />
                <span class="name">{{ shop.address || shop.name }}</span>
                <span class="time">{{ shop.workTime }}</span>

                <a
                  v-for="(phone, idx) in shop.getPhones" :key="idx"
                  rel="nofollow"
                  :href="'tel:+' + phone">
                  {{ phone | formatted }}
                </a>
              </p>
            </q-scroll-area>
      </div>

      <q-btn
        @click="$emit('toggleMap', true)"
        outline
        color="primary"
        no-caps
        class="full-width absolute-bottom"
        :label="showMap ? 'Выбрать на карте' : 'Выбрать из списка'"
      />
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { CITY, SET_SHOP, NS_CITY } from 'src/store/Cities'

export default {
  name: 'ShopList',
  props: {
    showMap: Boolean
  },
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/')
    })
  },
  methods: {
    ...mapActions({
      setShop: [NS_CITY, SET_SHOP].join('/')
    })
  }
}
</script>
<style lang="scss" scoped="scoped">
div {
    position: relative;
    width: 100%;
  .q-scrollarea {
    height: 210px;
  }
}

p {
  max-height: 95px;
  vertical-align: bottom;
  padding: 5px 5px 75px 125px;
  margin-bottom: 0;
  border-radius: 3px;
  font-size: calc(var(--font-size) - 1px);
  line-height: 22px;
  transition: background-color .4s ease-in-out, opacity .2s ease-in-out;

  span {
    display: block;
    &.time {
      text-transform: lowercase;
      color: var(--text-grey);
    }
    &.name {
      font-size: var(--font-size);
    }
  }

  a{
    color: var(--text-grey);
  }

  &:hover {
    background-color: var(--text-grey-light);
    cursor: pointer;
  }

  &.active {
    background-color: var(--color-blue);
    color: var(--text-white);
    .time, a {
      color: var(--text-white);
    }
  }

  &.not_matched {
    opacity: .2;
  }

  .q-img {
    position: absolute;
    left: 10px;
  }
}
</style>
