<template>
  <div class="bg-white popup">
    <q-card-section dense class="q-pa-none row justify-between">
      <span class="title q-py-sm q-pa-md">
        Выберите удобный магазин
      </span>
      <q-btn flat dense unelevated icon="close" v-close-popup class="bg-transparent q-py-sm q-px-md" size="10px"/>
    </q-card-section>
    <div class="popup__inner">
      <div class="popup__buttons" :class="{'active': showList}">
        <q-btn
          @click="showList = false"
          label="На карте"
          dense
          unelevated
          class="button small"
          :class="{'active': !showList}"
        />
        <q-btn
          @click="showList = true"
          label="Списком"
          dense
          unelevated
          class="button small"
          :class="{'active': showList}"
        />
      </div>
      <map-app v-if="!showList" />
      <shop-list v-else :shops="shops" />
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_CITY, SHOPS } from 'src/store/Cities'

export default {
  name: 'ShopPopup',
  data: () => ({
    showList: false
  }),
  components: {
    MapApp: () => import('components/Layout/Header/Map'),
    ShopList: () => import('components/Layout/Header/Shops/List')
  },
  computed: {
    ...mapGetters({
      shops: [NS_CITY, SHOPS].join('/')
    })
  }
}
</script>
<style lang="scss" scoped>
::v-deep .q-dialog__inner--minimized > div {
  width: inherit;
}

.popup {
  max-width: 900px;
  min-width: 900px;
  height: 435px;
  background-color: #ffffff;
  box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.2);

  .row {
    border-bottom: 2px solid #dedede;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__inner {
    position: relative;
  }

  &__buttons.active {
    background: white;
  }

  &__buttons {
    padding: 18px 20px 10px 20px;
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
  }
  //transform: scale(0);
  //transition: transform 0.5s;
}
</style>
