<template>
  <div>
    <div class="flex-original">
      <router-link :to="{ name: 'ROUTE_ORDERS' }">
        <span class="material-icons back">chevron_left</span>
      </router-link>
      <div class="title">Заказ №{{order.id}}</div>
      <div class="status" :class="{'new': order.status === 'Новый'}">{{order.status}}</div>
    </div>
    <div class="flex-original">
      <div class="items">
        <cart-product
          v-for="(cartItem, idx) in cart"
          :key="idx" :cartItem="cartItem"
        />
      </div>
      <cart-info :order="order" :type="'type'"/>
    </div>
    <div class="title">Оформление заказа</div>
    <div class="order_form tabs">
      <div class="tab">
        <div class="flex order_form__line">
          <div class="order_form__title">
            {{ order.delivery.name }}
            <span class="order_form--price"></span>
            <i class="material-icons-outlined tab-icons md-30">local_shipping</i>
          </div>
        </div>
        {{ order.delivery.address }}
      </div>
      <div class="tab">
        <div class="flex order_form__line">
          <div class="order_form__title">
            Оплата онлайн
            <i class="material-icons-outlined tab-icons md-30">credit_card</i></div></div>
      </div>
      <div class="tab">
        <div class="flex order_form__line">
          <div class="order_form__title">
            Контакты
            <i class="material-icons-outlined tab-icons md-30">account_circle</i></div>
        </div>
        <div>
          <span>Имя</span>
          <span>
            {{ order.contacts.name }}
          </span>
        </div>
        <div>
          <span>Телефон</span>
          <span>
            {{ order.contacts.phone | formatted }}
          </span>
        </div>
      </div>
    </div>
  </div>
</template>
<script>

export default {
  name: 'order-page',
  props: {
    order: {
      required: true
    }
  },
  computed: {
    cart () {
      return this.order.products
    }
  },
  components: {
    CartInfo: () => import('components/User/Cart/CartInfo'),
    CartProduct: () => import('components/User/Cart/Product/')
  },
  created () {
    console.log('this.order', this.order)
  }
}
</script>
<style lang="scss" scoped>
::v-deep {
  .product {
    &__actions button {
      display: none;
    }

    &__counter li {
      margin-left: 10px;
    }

    &__counter li:not(:nth-child(2)) {
      display: none !important;
    }
  }
}

.back {
  font-size: 30px;
}

.tabs {
  opacity: 1;
}

.tab {
  margin: 0;
  border: 1px solid;
  padding: 15px 40px;
  text-transform: none;
  border-radius: 4px;

  &:first-child {
    border-bottom: 1px;
  }

  &:last-child {
    border-top: 1px;
  }
}
.title {
  font-size: 21px;
  font-weight: 600;
}
.status.new {
  color: var(--color-green);
}
.status {
  color: var(--color-red);
  margin: auto;
  font-size: 13px;
  margin-left: 26px;
}

@media (max-width: 767px) {
  .order_form {
    margin: auto;
  }
}
</style>
