<template>
  <div>
    <h2>Заказы</h2>
    <q-table
      row-key="name"
      :data="orders"
      @row-click="onRowClick"
      :columns="columns"
      :hide-pagination="false"
      :wrap-cells="true"
      rows-per-page-label="Заказов на странице:"
      no-data-label="Нет заказов"
      class="no-shadow text-left"
    >
      <!--Сумма заказа-->
      <template v-slot:body-cell-sum="props">
        <q-td class="col" :props="props">
          <span class="rub">{{ props.row.sum | price }} </span>
        </q-td>
      </template>
      <!--Товары-->
      <template v-slot:body-cell-products="props">
        <q-td id="prod" class="col" :props="props">
          <div v-for="(product, id) in props.row.products" :key="id">
            {{ product.name }}
          </div>
        </q-td>
      </template>
      <!--Дата-->
      <template v-slot:body-cell-date="props">
        <q-td class="col" :props="props">
          {{ props.row.date | formatted }}
        </q-td>
      </template>
      <!--Статус-->
      <template v-slot:body-cell-status="props">
        <q-td :class="{'text-red': props.row.isCancelled}" class="status" :props="props">
          {{ props.row.status }}
        </q-td>
      </template>
    </q-table>
  </div>
</template>

<script>
import { ROUTE_ORDER_PAGE } from 'src/router/routes'

export default {
  name: 'order-list',
  props: {
    orders: {
      required: true
    }
  },
  methods: {
    onRowClick (e, row) {
      this.$router.push({ name: ROUTE_ORDER_PAGE, params: { id: row.id } })
    }
  },
  data () {
    return {
      columns: [
        {
          name: 'id',
          align: 'left',
          style: 'width: 7%',
          label: '№ заказа',
          field: 'id',
          sortable: true
        },
        {
          name: 'date',
          align: 'left',
          style: 'width: 10%',
          label: 'Дата заказа',
          field: 'date',
          sortable: true
        },
        {
          name: 'products',
          align: 'left',
          style: 'width: 40%',
          label: 'Товары',
          field: 'products',
          sortable: true
        },
        {
          name: 'status',
          align: 'left',
          style: 'width: 10%',
          label: 'Статус',
          field: 'status',
          sortable: true
        },
        {
          name: 'sum',
          align: 'right',
          width: '10%',
          style: 'width: 10%',
          label: 'Сумма',
          field: 'sum',
          sortable: true
        }
      ]
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep thead {
  background: #f4f4f4;
}
</style>
