<template>
  <q-card>
    <q-card-section dense class="q-pa-none row justify-between">
      <span class="title q-py-sm q-pa-md">Изменение персональных данных</span>
        <q-btn flat dense unelevated icon="close" v-close-popup class="bg-transparent q-py-sm q-px-md" size="10px" />
    </q-card-section>
    <q-separator />
    <div class="card-inner">
      <div class="card-inner__text">
        Для изменения персональных данных необходимо ввести код подтверждения:
      </div>
      <q-btn
        v-if="!sendCode"
        @click="getCode"
        label="Получить код"
        dense
        unelevated
        class="button small"
      />
      <q-input
        v-else
        filled
        clearable
        clear-icon="close"
        v-model="code"
        :rules="[validateCode || 'Смс-код неверный!']"
        maxlength="4"
        label="Код из смс:"
      />
    </div>
  </q-card>
</template>
<script>
export default {
  name: 'SmsPopup',
  methods: {
    validateCode (code) {
      // TODO: проверка смс
      if (parseInt(code) !== null) {
        this.$emit('sms-userData', true)
        return true
      }
    },
    getCode () {
      this.sendCode = true
    }
  },
  data () {
    return {
      code: null,
      sendCode: false
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
body button.small {
  color: #474747;
  border: 1px solid #474747;
  background: #FFF;
  font-weight: 700;
  font-size: 14px;
  line-height: normal;
  width: 100%;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px;
}

.q-card {
  max-width: 380px;

  .card-inner {
    padding: 24px 18px;
    font-size: 14px;
    line-height: 20px;
    overflow-y: auto;
    max-height: 590px;

    &__text {
      margin-bottom: 20px;
    }
  }

  .q-card__section:last-child {
    font-size: 13px;
    line-height: 17px;
    color: #777777;

    a {
      color: #2e2e2e
    }
  }
}
</style>
