<template lang="html">
  <aside id="aside" ref="aside">
    <left-menu :categoryOrigin="category" class="menu" />

    <filters
      v-if="category.filters"
      :key="category.filters.state"
      :filters="category.filters"
    />
    <q-no-ssr>
      <div v-if="$q.screen.width < 960" class="find-goods" :class="{'absolute': absolute }">
        <q-btn
          @click="showFilters(false)"
          color="primary"
          no-caps
          outline
          class="bg-white"
        >Найдено {{ category.filteredIds.length }} {{
            category.filteredIds.length | plural(['товар', 'товара', 'товаров'])
          }}</q-btn>
      </div>
    </q-no-ssr>
  </aside>
</template>

<script lang="js">
import { Category } from 'src/model/Category'
import { scroll } from 'quasar'
import { mapActions } from 'vuex'
import { SHOW_FILTERS } from 'src/store/Common'

const { getScrollPosition } = scroll

export default {
  name: 'catalog',
  props: {
    category: Category,
    range: Array,
    prices: Object
  },
  components: {
    Filters: () => import('./Filters'),
    LeftMenu: () => import('../../../Layout/Menu/LeftMenu')
  },
  methods: {
    handleScroll () {
      const asideHeight = document.getElementById('aside').offsetHeight + document.getElementById('aside').offsetTop - getScrollPosition(window)
      this.absolute = window.innerHeight >= asideHeight
    },
    ...mapActions({
      showFilters: SHOW_FILTERS
    })
  },
  created () {
    if (typeof window !== 'undefined') {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  mounted () {
    this.resizeObserver = new ResizeObserver(this.handleScroll)
    this.resizeObserver.observe(document.getElementById('aside'))
  },
  beforeDestroy () {
    this.resizeObserver.disconnect()
    if (typeof window !== 'undefined') {
      window.addEventListener('scroll', this.handleScroll)
    }
  },
  data () {
    return {
      absolute: false,
      resizeObserver: null
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import 'src/css/vars';

aside {
  width: 240px;
  box-sizing: border-box;

  #filters {
    width: 240px;
    color: var(--color-black);
    margin-top: 20px;
  }

  .menu, #filters {
    border: 1px solid var(--color-grey-light);
    border-radius: 6px;
  }
}

@media (max-width: $width-960) {
  aside {
    position: relative;
    width: 100%;
    min-height: calc(100vh - #{$mobileTopHeight});
    padding-bottom: 40px;

    #filters {
      margin-top: $mobileBarHeight;
      width: 100%;
      border: none;
    }

    .menu {
      display: none;
    }

    .q-btn {
      font-weight: normal;
    }

    .find-goods {
      position: fixed;
      height: 45px;
      text-align: center;
      line-height: 45px;
      background-color: var(--color-grey-light);
      box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.3);;
      bottom: 0;
      right: 0;
      left: 0;

      .q-btn {
        width: 90vw;
      }

      &.absolute {
        position: absolute;
      }
    }
  }
}

@media (min-width: $width-961) {
  aside {
    margin-left: 10px;
  }
}
</style>
