<template>
  <q-select
    filled
    v-model="address"
    clearable
    use-input
    hide-selected
    fill-input
    input-debounce="0"
    :label="label"
    :options="options"
    @filter="filterFn"
    :rules="[ val => val && val.length > 0 || 'Ввведите адрес']"
  >
    <template v-slot:no-option>
      <q-item>
        <q-item-section class="text-grey">
          Нет результата
        </q-item-section>
      </q-item>
    </template>
  </q-select>
</template>
<script>

import { mapGetters } from 'vuex'
import { NS_ORDER, GET_SUGGESTIONS, ORDER_SUGGESTIONS } from 'src/store/Order'

export default {
  name: 'Dadata',
  props: {
    label: {}
  },
  computed: {
    options: {
      get () {
        return this.getSuggestions
      },
      set (newValue) {
        console.log(newValue)
      }
    },
    ...mapGetters({
      getSuggestions: [NS_ORDER, ORDER_SUGGESTIONS].join('/')
    })
  },
  data () {
    return {
      address: null
    }
  },
  watch: {
    address () {
      this.$emit('address', this.address)
    }
  },
  methods: {
    filterFn (val, update, abort) {
      // call abort() at any time if you can't retrieve data somehow
      setTimeout(() => {
        update(
          () => {
            if (val !== '') {
              this.$store.dispatch([NS_ORDER, GET_SUGGESTIONS].join('/'), val)
              const needle = val.toLowerCase()
              this.options = this.options.slice().filter(v => v.toLowerCase().indexOf(needle) > -1)
            }
          },
          ref => {
            if (val !== '' && ref.options.length > 0) {
              ref.setOptionIndex(-1) // reset optionIndex in case there is something selected
              ref.moveOptionSelection(1, true) // focus the first selectable option and do not update the input-value
            }
          }
        )
      }, 300)
    }
  }
}
</script>

<style scoped lang="scss">
</style>
