<template lang="html">
  <div class="flex">
    <q-img
      contain
      class="empty"
      :class="{'top': top}"
      :src="cartItem.product.getDefaultImage"
    />
    <div class="text">{{ cartItem.product.loadText }}</div>
    <cart-delete :cartItem="cartItem"/>
  </div>
</template>
<script>
import { CartItem } from 'src/model/Cart'

export default {
  name: 'SkeletonCartEmpty',
  props: {
    cartItem: CartItem,
    top: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  components: {
    CartDelete: () => import('components/User/Cart/Delete')
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";
.image {
  margin-top: 10px;
  margin-bottom: 20px;
}

.empty {
  width: 10%;
  height: 110px;
}

.empty.top {
  margin-right: 20px;
}

.product__delete {
  color: #808080;
}

.text {
  color: #3a3a3a;
  font-size: 17px;
  margin: auto auto auto 35px;
  vertical-align: middle;
}

@media (max-width: $hideAside){
  .empty {
    width: 25%;
  }
}
</style>
