<template>
  <div class="cart_skeleton">
    <q-skeleton type="circle" size="100px"/>
    <q-skeleton class="close" type="circle" size="20px"/>
    <q-skeleton class="name" type="text" height="30px"/>
<!--    <q-skeleton class="color" type="text" width="50px"/>-->
    <q-skeleton class="count" type="rect" width="70px" height="20px"/>
    <q-skeleton class="price" type="rect" width="70px" height="20px"/>
  </div>
</template>

<script>
import { CartItem } from 'src/model/Cart'
import { mapActions } from 'vuex'
import { LOAD_NEW_PRODUCT, NS_CATEGORY } from 'src/store/Category/const'
import { UPDATE_OFFER_CART, NS_USER } from 'src/store/User'

export default {
  name: 'CartSkeleton',
  props: {
    cartItem: CartItem
  },
  computed: {
    product () {
      return this.cartItem.offer.product
    }
  },
  methods: {
    ...mapActions({
      loadProduct: [NS_CATEGORY, LOAD_NEW_PRODUCT].join('/')
    })
  },
  created () {
    if (!this.product.isFullLoaded) {
      const obj = { product: this.product, cartItem: this.cartItem }
      this.loadProduct(this.product).then(() => {
        if (this.product.isFullLoaded) {
          this.$store.dispatch([NS_USER, UPDATE_OFFER_CART].join('/'), obj)
        } else {
          console.log(343)
        }
      })
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
.cart_skeleton {
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;

  .image {
    padding: 10%;
  }

  .close {
    position: absolute;
    right: 0;
    top: -10px;
  }

  .name {
    position: absolute;
    top: -8px;
    left: 15%;
    width: 42%;
  }

  .color {
    position: absolute;
    top: 18px;
    left: 45%;
  }

  .count {
    position: absolute;
    top: 0;
    width: 60px;
    height: 20px;
    left: 88%;
  }

  .price {
    position: absolute;
    top: 0;
    width: 90px;
    height: 20px;
    left: 65%;
  }
}
</style>
