<template>
  <div>
    <h2 class="page-title">Категории</h2>
    <main class="row justify-center">
      <div class="grid">
        <router-link
          :style="'background-image: url('+'../new_category/'+ category.slug +'.png'+');'"
          v-for="(category, id) in getList"
          :key="id"
          :to="category.url"
          :title="category.name"
        >
          {{ category.name }}
        </router-link>
      </div>
    </main>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { NS_CATEGORY, CATEGORIES } from 'src/store/Category/const'

export default {
  name: 'Categories',
  computed: {
    ...mapGetters({
      getCategories: [NS_CATEGORY, CATEGORIES].join('/')
    }),
    getList () {
      return this.getCategories.filter(category => !category.parent).filter(category => !!category.children.length)
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import 'src/css/new_layout';
$color-red: #e15730;
$color-green: #00ab9b;
$color-grey: #f3f3f3;

h2 {
  padding-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  padding-bottom: 3rem;
  width: 100%;
}

a {
  font-family: 'Raleway';
  background-size: contain;
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: bottom;
  transition: all ease-in-out 0.3s;
  border-radius: 8px;
  padding-top: 305px;
  min-width: 305px;

  &:after {
    content: attr(title);
    position: absolute;
    text-align: center;
    top: 10%;
    font-size: 30px;
    color: white;
  }

  &:nth-child(1) {
    grid-row: 1;
    background-color: #fed700;

    &:after {
      width: 100%;
    }
  }

  &:nth-child(2) {
    background-color: $color-grey;
    &:after {
      color: $color-red;
    }
  }

  &:nth-child(3) {
    grid-column: 1 / 1;
    background-size: auto;
    background-color: $color-red;

    &:after {
      margin: 30%;
      transform: rotate(45deg);
    }
  }

  &:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 3 / 5;
    padding-top: 100%;
    background-color: #ffe0e1;
    background-size: auto;
    background-position-y: 25%;
    background-position-x: 80%;

    &:after {
      font-size: 42px;
      transform: rotate(-90deg);
      color: $color-red;
    }
  }

  &:nth-child(5) {
    grid-row: 4 / 6;
    background-color: $color-red;

    &:after {
      width: 100%;
    }
  }

  &:nth-child(6) {
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    background-color: #f2f2f2;

    &:after {
      color: $color-red;
      left: 40%;
      top: 15%;
      font-size: 40px;
    }
  }
  &:nth-child(7) {
    grid-row: 5 / 6;
    background-color: #f4f4f4;

    &:after {
      color: $color-red;
    }
  }

  &:nth-child(8) {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    background-color: $color-green;
  }

  &:nth-child(9) {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
    background-size: auto;
    background-color: $color-grey;

    &:after {
      color: $color-red;
      top: 40%;
    }
  }

  &:nth-child(10) {
    grid-row: 2 / 2;
    background-size: auto;
    background-color: $color-red;

    &:after {
      margin: 10%;
    }
  }
  &:nth-child(11) {
    grid-column: 1 / 2;
    grid-row: 4 / 6;
    background-color: #fed700;
  }
  &:nth-child(12) {
    grid-row: 5 / 6;
    background-position-y: 0;
    background-color: $color-green;

    &:after {
      top: 60%;
      left: 40%;
    }
  }

  &:hover {
    box-shadow: 0 0 28px 0 rgba(0, 43, 121, 0.15),
    0 25px 55px 0 rgba(76, 139, 255, 0.21);
    z-index: 5;
  }
}

@media (max-width: $width-1280) {
  .grid a {
    min-width: auto;
  }
}

@media (max-width: 900px) {
  a {
    &:after {
      font-size: 24px;
    }

    &:nth-child(1) {
      background-size: cover;
      grid-column: 1 / 3;
    }
    &:nth-child(2) {
      grid-column: 3 / 5;
    }
    &:nth-child(6) {
      grid-column: 1 / 3;
      grid-row: 2 / 4;
    }
    &:nth-child(3) {
      grid-column: 1 / 3;
      grid-row: 4 / 6;
    }
    &:nth-child(4) {
      grid-column: 3 / 5;
      grid-row: 4 / 7;
    }
    &:nth-child(5) {
      grid-column: 1 / 3;
      grid-row: 7 / 7;
    }

    &:nth-child(6) {
      grid-row: 2 / 4;

      &:after {
        left: 0;
        font-size: 30px;
      }
    }

    &:nth-child(8) {
      grid-column: 3 / 5;
      grid-row: 2 / 3;

      &:after {
        font-size: 18px;
      }
    }
    &:nth-child(9) {
      background-size: cover;
      grid-column: 3 / 5;
      grid-row: 7 / 7;
    }

    &:nth-child(10) {
      grid-column: 3 / 5;
      grid-row: 3 / 4;
    }

    &:nth-child(11) {
      grid-column: 1 / 3;
      grid-row: 6 / 7;
    }

    &:nth-child(7) {
      grid-column: 1 / 3;
      grid-row: 8 / 8;
    }

    &:nth-child(12) {
      grid-column: 3 / 5;
      grid-row: 8 / 8;
    }
  }
}

@media (max-width: 600px) {
  a {
    padding-top: 85%;

    &:nth-child(3) {
      background-size: cover;
      background-position: -19px 7px;
    }
    &:nth-child(4) {
      background-size: cover;
      &:after {
        transform: none;
        font-size: 32px;
      }
    }
    &:nth-child(9) {
      &:after {
        top: 0;
      }
    }
    &:nth-child(10) {
      background-position: -35px;
    }
    &:nth-child(11) {
      &:after {
        font-size: 18px;
      }
    }
    &:nth-child(12) {
      &:after {
        top: 35%;
      }
    }
    &:nth-child(2) {
      &:after {
        font-size: 18px;
      }
    }
  }
}
</style>
