<template lang="html">
  <div class="products" :class="{'small': !isBigCardSize, 'big': isBigCardSize}" ref="products" :style="cardParams">
    <product-card
      v-for="product in products"
      :key="product.id + '-' + imageSize"
      :product="product"
      :isListing="isListing"
      :imageSize = "imageSize"
      :noHover="showHover"
      :offer="offer"
    />
  </div>
</template>

<script lang="js">

import { mapActions, mapGetters } from 'vuex'
import { IS_BIG_CARD_SIZE } from 'src/store/Common'
import { Product } from 'src/model/Product'
import { Offer } from 'src/model/Offer'
import cardsCountCalculate from 'src/utils/cardSizeCalculate'
import { ADD_TO_CART, NS_USER } from 'src/store/User'

export default {
  name: 'ProductList',
  props: {
    product: Product,
    offer: {
      type: Offer,
      default: null
    },
    isListing: {
      type: Boolean,
      required: false,
      default: true
    },
    products: Array,
    showHover: {
      type: Boolean,
      default: true,
      required: false
    },
    changeSize: {
      type: Boolean,
      default: false
    }
  },
  components: {
    ProductCard: () => import('./Card')
  },
  data () {
    return {
      productSize: null,
      currentProduct: null,
      activeCardId: -1,
      width: 0,
      maxCardWidth: '480px',
      minCardWidth: '160px',
      internalPaddingY: '5px',
      internalPaddingX: '15px',
      isSize: null,
      newOffer: null
    }
  },
  computed: {
    checkProductSize () {
      return !!this.productSize
    },
    imageSize () {
      if (this.isBigCardSize) {
        return [250]
      }
      return [220, 180]
    },
    screenWidth () {
      return this.$q.screen.width
    },
    margin () {
      if (this.screenWidth > 960 && this.isBigCardSize) {
        return 25
      }
      return 10
    },
    cardWidth () {
      if (this.screenWidth > 960 && this.isBigCardSize) {
        return 300
      }
      if (this.screenWidth < 960 && !this.isBigCardSize) {
        return 160
      }
      return 240
    },
    cardsCount () {
      return 'cardsCount' in this.$attrs ? this.$attrs.cardsCount
        : cardsCountCalculate({
          areaWidth: this.width,
          margins: this.margin,
          cardWidth: this.cardWidth
        })
    },
    cardParams () {
      return {
        '--min-width': this.minCardWidth,
        '--max-width': this.maxCardWidth,
        '--internalPaddingY': '5px',
        '--internalPaddingX': '15px',
        '--count': this.cardsCount,
        '--margin': this.margin + 'px'
      }
    },
    ...mapGetters({
      isBigCardSize: IS_BIG_CARD_SIZE
    })
  },
  methods: {
    ...mapActions({
      add2cart: [NS_USER, ADD_TO_CART].join('/')
    }),
    addToCart (offer) {
      this.$store.dispatch([NS_USER, ADD_TO_CART].join('/'), offer)
      this.$emit('setOffer', offer)
    },
    setProductSize (val) {
      this.productSize = val
    }
  },
  watch: {
    '$q.screen.width': {
      handler () {
        this.width = this.$refs.products.clientWidth
      }
    }
  },
  mounted () {
    this.width = this.$refs.products.clientWidth
  }
}
</script>

<style scoped="scoped" lang="scss" src="../Listing/styles.scss"></style>
<style lang="scss" scoped="scoped">
@import '~quasar/dist/quasar.sass';
@import 'src/css/vars';

.products {
  @extend .row;
  --min-height: 0;
  --width: 100%;
  --margin: 10px;
  --count: 4;

  &.big {
    --count: 3;
    --margin: 25px;
  }
  margin-left: calc(-1 * var(--margin));
  margin-bottom: 25px;

  > div {
    position: relative;
    width: calc(var(--width)/var(--count) - var(--margin));
    min-height: var(--min-height);
    margin-left: var(--margin);
    margin-bottom: var(--margin);
  }
}

@media (max-width: $width-360) {
  .products {
    margin: var(--margin) auto auto;
    > div {
      margin: 0 auto var(--margin);
    }
  }
}

@media (max-width: $width-960) {
  .title {
    @extend .title;
  }

  div {
    margin-bottom: 10px;
  }

  p {
    span {
      position: relative;
      display: inline-block;
      color: var(--color-grey-dark);
      border: 1px solid var(--color-grey);
      margin-bottom: 10px;
      margin-right: 10px;
      box-shadow: none;
      padding: 4px 10px;
      min-height: 0;
      border-radius: 3px;
      cursor: pointer;
      user-select: none;

      &.active {
        border-color: var(--color-red);
      }

      &.unavailable {
        background-color: var(--color-grey-light);
        border-color: var(--color-grey-light);
        color: var(--color-grey);
        cursor: inherit;
      }

      &.in-cart {
        border-color: var(--color-grey);
        color: #2f9324;
      }
    }
  }

  .title {
    color: var(--color-black-dark);
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  div {
    margin-bottom: 0;
  }
  p {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin: auto;
    padding: 5px;

    span {
      margin: 5px;
      text-align: center;
      flex: 1 1 auto;
    }
  }
}
</style>
