@import 'src/css/vars';
@import '~quasar/dist/quasar.sass';

.card {
  --internal-padding-y: 5px;
  --internal-padding-x: 15px;
  --max-width: 480px;
  --min-width: 160px;

  position: relative;
  max-width: var(--max-width);
  min-width: var(--min-width);
  min-height: var(--min-height);
  display: block;
  border: 1px solid var(--border-color-grey);
  border-radius: 6px;
  padding: var(--internal-padding-y) var(--internal-padding-x) 35px;
  z-index: 10;

  &:before {
    content: '';
    transition: box-shadow .1s ease;
    background-color: var(--color-white);
  }

  &:not(.no-hover):hover {
    z-index: 100;

    &:before {
      z-index: -1;
      box-shadow: 0 10px 25px grey;
      border-radius: 6px;
      position: absolute;
      top: -1px;
      left: -30%;
      right: -1px;
      bottom: -58px;
    }
  }
  .image {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 75%;
    margin-bottom: 20px;

    > div {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .product-new {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 65px;
    font-size: calc(var(--font-size) - 2px);
    color: var(--color-white);
    line-height: 22px;
    padding: 0 5px;
    border-radius: 2px;
    overflow: hidden;
    z-index: 0;

    &:before {
      content: 'Новинка';
      transform: rotate(45deg);
      position: relative;
      display: block;
      left: -5px;
      width: 95px;
      height: 23px;
      margin-top: 12px;
      background: var(--color-green);
      text-align: center;
    }
  }

  .price {
    margin-bottom: 10px;
    .actual {
      color: var(--color-black);
      font-size: calc(var(--font-size) + 6px);
    }
    .old {
      color: var(--color-grey);
      font-size: calc(var(--font-size) - 2px);
      text-decoration: line-through;
      margin-left: 10px;
    }
    .discount {
      position: absolute;
      display: block;
      font-size: calc(var(--font-size) - 2px);
      top: var(--internal-padding-x);
      //right: var(--internal-padding-x);
      left: var(--internal-padding-x);
      background: var(--color-red);
      color: var(--color-white);
      line-height: 22px;
      padding: 0 5px;
      border-radius: 2px;
    }
  }

  .name {
    display: block;
    margin-bottom: 10px;
    max-height: 66px;
    line-height: 22px;
    margin-top: 5px;
    overflow: hidden;
    color: var(--color-grey-dark);
    font-size: var(--font-size);
  }

  .icons {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: var(--internal-padding-x);
    right: calc(var(--internal-padding-x) - 5px);
    bottom: var(--internal-padding-y);
    line-height: 24px;

    span {
      flex: 10000 1 0;
      font-size: calc(var(--font-size) - 4px);
      color: var(--color-grey);
    }

    i {
      color: var(--color-grey);
      line-height: 25px;
      flex: 0 0 auto;
      padding: 0 5px;
    }
    .q-btn {
      position: absolute;
      bottom: -48px;
      //left: 0;
      right: 3px;
      height: 30px;
      color: var(--color-white);
      background-color: var(--color-red);
      border-radius: 4px;
      font-size: calc(var(--font-size) - 2px);
      line-height: 22px;
    }
  }
}

@media (max-width: $width-960) {
  .card {
    background-color: white;
    border: none;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,.3);
    &:not(.no-hover):hover {
      &:before {
        content: none;
      }
    }

    .icons {
      i:first-child {
        cursor:pointer;
        flex: 10000 1 0;
        padding-left: 23px;
        font-size: calc(var(--font-size) - 2px);
      }
    }
  }

  .recommended .card, .watched .card {
    box-shadow: none;
    border: 1px solid var(--border-color-grey);
    border-radius: 6px;
  }
}

