<template lang="html">
  <q-footer class="inner justify-center q-col-gutter-lg">
    <div class="footer-line row inline">
      <div class="footer-line__menu" v-for="menu in staticMenu" :key="menu.name">
        <span class="title">{{menu.name}}</span>
        <div
          v-for="(item, idx) in menu.pages"
          :key="idx"
        >
          <router-link v-if="item.name && item.path" :to="item.path">{{ item.name }}</router-link>
          <div v-else>{{ item.address }}</div>
        </div>
      </div>
      <div class="footer-line__menu shops">
        <span class="title">Контакты</span>
        <div class="footer-line__shops flex">
          <div class="footer-line__menu__item" v-for="shop in shops" :key="shop.id">
            <div v-if="shop.address">{{ shop.address }}</div>
            <div>{{ shop.getPhones[0] }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <social-block/>
      <div class="copyright">
        &copy; Rich Family,
          <span style="font-size: 16px;">2011-{{ year }}</span>
      </div>
    </div>
  </q-footer>
</template>

<script lang="js">
import { date } from 'quasar'
import { mapGetters } from 'vuex'
import { CITY, NS_CITY } from 'src/store/Cities'

export default {
  name: 'AppFooter',
  components: {
    SocialBlock: () => import('src/components/LayoutNew/Footer/SocialBlock')
  },
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/')
    }),
    shops () {
      return this.city.shops.slice(0, 4)
    },
    year () {
      return date.formatDate(Date.now(), 'YYYY')
    }
  },
  data () {
    return {
      sizeX: this.$q.screen.width,
      staticMenu: require('src/mockJson/static.json')
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import 'src/css/new_layout';

.footer-bottom {
  display: flex;
  width: 50%;
  margin-left: auto;
  padding: unset;
  //padding-left: 8px;

  .copyright {
    margin-left: auto;
    padding: 45px;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.footer-line {
  display: flex;
  padding-left: 0;

  &__menu.shops {
    width: 50%;
  }

  &__menu {
    letter-spacing: 0.42px;
    line-height: 31px;
    width: 25%;

    &__item {
      margin-bottom: 37px;
      padding-left: 20px;
      width: 50%;

      &:before {
        content: '';
        position: absolute;
        background: url(/../img/new/point.png);
        width: 16px;
        height: 21px;
        margin-left: -20px;
        margin-top: 7px;
      }
    }
  }
}

.inner {
  margin-top: auto;
  min-height: 263px;
  background: #f4f4f4;
  color: black;
  width: 100%;

  &:before {
    content: '';
    position: absolute;
    background-size: contain;
    background: url('/../img/new/footer.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    bottom: 0;
    background-color: inherit;
    left: 50%;
    top: 0;
    margin-left: -50vw;
    z-index: -1;
    width: 100vw;
  }

  &:after {
    position: absolute;
    content: ' ';
    background-image: url('/../img/new/footer.png');
  }

  .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.42px;
    color: #141414;
  }
}

::v-deep {
  .social {
    margin-right: auto;

    a {
      display: flex;
    }
  }
}

@media (max-width: $width-767) {
  .footer-line {
    display: block;
    padding: 0;

    &__menu {
      width: 100%;

      &__item {
        width: inherit;
        margin: 0;
      }
    }

    &__menu.shops {
      width: 100%;
    }
  }

  .footer-bottom {
    width: 100%;
    display: block;

    .copyright {
      padding: 5px;
    }
  }

  .footer {
    z-index: 999;
    display: block;
    border-top: 1px solid #ebebeb;
    background: white;
    color: black;
  }
}
</style>
