<template>
  <div>
    <span class="title">Мы в соцсетях:</span>
    <div class="images">
      <a v-for="soc in social" :key="soc.name" target="_blank" :href="soc.url">
        <img :class="soc.name" :alt="soc.name" :src="soc.img" />
      </a>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SocialBlock',
  data () {
    return {
      social: [
        {
          name: 'inst',
          url: 'https://instagram.com/rich_family_official',
          img: '/img/new/footer/inst.png'
        },
        {
          name: 'vk',
          url: 'https://vk.com/rich_family_official',
          img: '/img/new/footer/vk.png'
        },
        {
          name: 'ok',
          url: 'https://ok.ru/richfamily',
          img: '/img/new/footer/ok.png'
        }
      ]
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
.title {
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  letter-spacing: 0.42px;
  color: #141414;
}

.images {
  display: flex;
  margin-top: 30px;
}

a {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 15px;
  border-radius: 50%;
  background-color: #ffffff;

  &:hover {
    box-shadow: 0 1px 3px grey;
  }

  & + a {
    margin-left: 15px;
  }

  img {
    width: 100%;
    max-width: 20px;
  }
  img.vk {
    max-width: none;
    width: 26px;
    position: relative;
    left: -3px;
    top: 3px;
  }
}
</style>
