<template>
  <q-tabs
    v-if="user.isAuth"
    dense
    class="tab-list text-grey"
    align="justify"
    indicator-color="transparent"
  >
    <q-route-tab
      class="tab-list__tab"
      :class="{'q-router-link--active': tabCheck(tab)}"
      v-for="(tab, id) in tabs" :key="id"
      no-caps
      name="cart"
      :label="labelName(tab)"
      :to="tab.path"
      exact
    />
    <q-tab
      @click="exit"
      no-caps
      name="exit"
      label="Выход"
      exact
    />
  </q-tabs>
</template>
<script>

import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'

export default {
  name: 'Personal',
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    tabs () {
      return this.user.tabs
    }
  },
  methods: {
    exit () {
      localStorage.removeItem('token')
      this.$router.go()
    },
    tabCheck (tab) {
      return (tab.name === 'Заказы') && (this.$route.name === 'ROUTE_ORDER_PAGE')
    },
    labelName (tab) {
      let name = tab.name
      if (tab.count > 0) {
        name = name + ' (' + tab.count + ')'
      }
      return name
    }
  }
}
</script>
<style lang="scss" scoped>
.tab-list {
  border-bottom: 1px solid #D5D5D5;
  margin-top: 25px;
  margin-bottom: 25px;

  &__tab {
    border: 1px solid #dfdfdf;
    border-bottom: 0;
  }
}

::v-deep .q-tab {
  padding: {
    top: 1px;
    bottom: 1px;
  };
  border-top: {
    right-radius: 3px;
    left-radius: 3px;
  };
  border-bottom: none;
  max-width: 225px;
  background-color: #fff;
  margin-right: 5px;
  font-size: 17px;
  cursor: pointer;
  color: #2E2E2E;
}

::v-deep .q-router-link--active {
  color: #e42426;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 38px;
    border-bottom: 2px solid #fdfdfd;
  }
}

::v-deep .q-tabs__content {
  overflow: initial;
}

::v-deep .q-tab__label {
  font-size: inherit !important;
}

@media (max-width: 767px) {
  .tab-list {
    display: none;
  }
}
</style>
