@import "src/css/vars";

body {
  font-size: 14px;
  height: 100%;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif !important;

  .active .card-inner-border {
    display: block;
    border: 1px solid #F0F0F0;
    background: #ffffff;
  }

  .pos {
    position: absolute;
    top: 73px;
  }

  .fullscreen.header-show {
    z-index: 999;
  }

  .material-icons-outlined {
    vertical-align: unset;
    align-items: normal;
  }

  .material-icons-outlined.tab-icons {
    position: absolute;
    left: -35px;
  }

  .md-18 { font-size: 18px; }
  .md-22 { font-size: 22px; }
  .md-24 { font-size: 24px; }
  .md-20 { font-size: 20px; }
  .material-icons.md-24 { font-size: 24px !important; }
  .md-30 { font-size: 30px; }

  .q-field__label {
    font-size: 13px;
  }

  .button.small {
    border: 1px solid #dfdfdf;
    text-transform: initial;
    background: #ffffff;
    font-size: 14px;
    color: #474747;
    text-align: center;
    display: block;
    cursor: pointer;
    margin-right: 15px;
    padding: 0 18px;
  }

  .button.active {
    background: #474747;
    color: #ffffff;
  }

  .blackButton {
    background: #474747;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10px 0;
    display: block;
    transition: background-color 0.5s;
    cursor: pointer;

    &:hover {
      background: #ff0d00;
    }
  }

  .q-field--with-bottom {
    padding-bottom: 0;
  }

  .filled .order_form {
    opacity: 1;

    &__submitted-text {
      display: block;
    }

    &__change_form {
      display: block;
    }
  }

  .active .order_form{
    opacity: 1;

    &__switch {
      display: block;
    }
  }

  .order_form{
    &__submitted-text {
      display: none;
      min-width: 75%;

      .address {
        color: #000000;
        font-size: 14px;
        font-weight: 700;
        display: contents;
      }
    }

    &__title {
      padding-left: 0;
      position: relative;
      font-size: 20px;
      line-height: 30px;
      color: #333333;
      box-sizing: border-box;
      margin-left: 47px;

      .tab-icons {
        left: -36px;
      }
    }

    .q-btn {
      padding: 8px !important;
      background-color: #474747 !important;

      &:hover {
        background-color: #e42426 !important;
      }
    }

    &__switch {
      //display: none;
    }

    &__address {
      .q-field--filled .q-field__control {
        margin-right: 20px;
        max-width: 195px;
      }
    }

    &__line {
      padding: 10px;
      margin-left: -24px;
    }

    &__payment {
      margin-left: auto;
    }

    &__checkout.active {
      border: 2px solid #797979;
    }

    &__checkout {
      margin-bottom: 10px;
      padding: 21px 43px 23px;
      padding-left: 50px;
      border: 1px solid #C6C6C6;
      min-height: auto;
      z-index: 3;
      border-radius: 4px;
      box-sizing: border-box;
      width: 100%;
      cursor: pointer;
      background-color: #fff;
      margin-right: 4px;
      position: relative;
      //-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      //-webkit-tap-highlight-color: transparent;

      &__title {
        position: relative;

        display: flex;
        justify-content: space-between;
        color: #474747;
        font-size: 15px;
        cursor: pointer;
        margin-left: -23px;

        .tab-icons  {
          position: relative;
          left: -15px;
        }

      }

      &__text {
        margin: 18px 0 0 0;
        font-size: 12px;
        color: #474747;
      }
    }

    &__change_form {
      display: none;
      margin-left: auto;
      cursor: pointer;

      &:hover {
        color: #ff0000;
      }
    }
  }

  .close .q-btn .q-icon,
  .close .q-btn .q-spinner{
    font-size: 1.4em;
  }

  .q-focus-helper{
    display: none;
  }

  .q-field--filled .q-field__control {
    background: #FFFFFF !important;
    border: 1px solid #D5D5D5;
  }

  .close .q-btn .q-icon,
  .close .q-btn .q-spinner{
    font-size: 1.4em;
  }

  .q-focus-helper{
    display: none;
  }

  .q-pagination .q-btn{
    margin-right: 8px;
    min-width: 22px !important;
    background: #F4F4F4;
    color: #3D3D3D !important;

    &__wrapper{
      min-height: 0;
    }
  }

  .q-pagination .bg-primary{
    background: #474747 !important;
    color: #fff !important;
  }

  a{
    text-decoration: none;
    color: inherit;

    &:hover{
      text-decoration: none;
    }
  }

  h2 {
    color: #000000;
    margin-bottom: 15px;
    font-size: 18px;
    //font-weight: 700;
    line-height: 20px;
  }

  h1{
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: normal;
    margin-block-start: auto;
  }

  .container{
    padding: 0;
  }

  .container-origin-width{
    max-width: 1180px;
    margin: 0 auto;
  }

  .flex-original{
    display: flex;
    flex-flow: row nowrap;
  }

  .show-more{
    position: absolute;
    margin-top: 35px;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (max-width: 767px){
  body .order_form {
    margin: auto;
  }
  body .container-origin-width {
    width: 100%;
    margin: unset;
  }
}

@media (max-width: $width-767) {
  .flex-original {
    margin-top: -15px;
  }
}
//
//@media (max-width: $width-1280) {
//  .container-origin-width {
//    padding: 0 15px;
//  }
//}
