@import "src/css/vars";

.static {
  color: #777777;
  p, ul {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 20px;
  }

  ul {
    padding-left: 35px;
    margin: 15px 0;

    li {
      list-style-type: none;
      position: relative;
      font-size: 13px;
      line-height: 20px;

      &:before {
        content: "—";
        position: absolute;
        left: -20px;
        color: rgb(119, 119, 119);
      }
    }
  }

  b {
    color: #383838;
  }

  h1 {
    color: var(--color-black-dark);
  }
}

@media (max-width: 1200px) {
  .static {
    margin-left: 40px;
  }
}

@media (max-width: 960px) {

  //
  //.static {
  //  h1 {
  //    margin-top: -45px;
  //  }
  //}
}

@media (max-width: $width-767) {
  @import "src/css/mixins";

  .mobile-header {
    position: fixed;
    top: 58px;
    height: var(--mobile-bar-height);
    //line-height: var(--mobile-bar-height);
    left: 0;
    right: 0;
    z-index: 200;
    background-color: var(--color-grey-light);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    padding: 8px 10px 5px 45px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .return-button {
    position: fixed;
    z-index: 250;
    top: 67px;
    left: 10px;
    @extend .icon;
    &:before {
      content: 'keyboard_backspace';
      color: var(--color-black);
      transition: all .2s ease-in-out;
    }
  }

  .return-button:hover:before {
    color: black;
    border-radius: 5px;
    background-color: rgba(189, 188, 188, 0.3);
  }
}
