<template lang="html">
  <div>
    <span class="title">Оставить отзыв</span>
    <q-input
      v-model="review.text"
      type="textarea"
      outlined
      clearable
      color="grey"
    />
    <q-rating
      v-model="review.rating"
      size="16px"
      color="grey-10"
      color-selected="orange"
      max="5"
    />
    <q-btn
      @click="addReview"
      :loading="loading"
      color="red"
      no-caps
      label="Отправить"
    />
  </div>
</template>

<script lang="js">
import Review from 'src/model/Review'
import axios from 'axios'
import { Product } from 'src/model/Product'

export default {
  props: {
    product: Product
  },
  data () {
    return {
      review: new Review(),
      loading: false
    }
  },
  methods: {
    reviewNotify (message) {
      this.$q.notify({
        message,
        timeout: 1000
      })
    },
    addReview () {
      this.loading = true
      axios.post(`product/${this.product.id}/review`, this.review).then(() => {
        this.review = new Review()
        this.reviewNotify('Отзыв успешно добавлен')
      }).catch(() => {
        this.reviewNotify('Ошибка при добавлении отзыва')
      }).finally(() => {
        this.loading = false
      })
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "~quasar/dist/quasar";
@import "src/css/mixins";

div {
  @extend .row, .justify-between;

  span {
    flex-basis: 100%;
  }
  label {
    flex-basis: 100%;
    margin-bottom: 10px;
  }
  .q-rating {
    @extend .justify-start;
  }
}

i {
  @extend .icon;
}

.title {
  @extend .title;
  margin-bottom: 10px;
}
</style>
