<template lang="html">
  <div>
    <q-no-ssr>
    <add-review :product="product" />
    </q-no-ssr>
    <span class="title">Отзывы</span>
    <review-item
      @notAuth="notAuth = $event"
      v-for="review in product.reviews"
      :key="review.id"
      :review="review"
    />
  </div>
</template>
<script lang="js">

import { Product } from 'src/model/Product'
import { Category } from 'src/model/Category'

export default {
  props: {
    product: Product,
    category: Category
  },
  components: {
    AddReview: () => import('./Add'),
    ReviewItem: () => import('./ReviewItem')

  },
  data () {
    return {
      notAuth: false
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
@import "src/css/mixins";

.title {
  @extend .title;
}
</style>
