<template lang="html">
  <div class="review">
    <div class="info">
      <span>{{review.name}}</span>
      <i :class="productRating"></i>
      <time>{{ review.date | formatted }}</time>
      <p>{{ review.text }}</p>
    </div>
    <div class="reviews-useful">
      <span>Отзыв полезен?</span>
      <i @click="userVote(-1)" :class= "{'active':isDisliked}" class="dislike">{{ review.dislike }}</i>
      <i @click="userVote(1)" :class= "{'active': isLiked}" class="like">{{ review.like }}</i>
    </div>
  </div>
</template>

<script lang="js">

import { mapActions, mapGetters } from 'vuex'
import { NS_CATEGORY, VOTE } from 'src/store/Category/const'
import { NS_USER, USER_REVIEW_VOTES, USER } from 'src/store/User'
import { UserVote } from 'src/model/User'

export default {
  props: {
    review: Object
  },
  computed: {
    ...mapGetters({
      userReviewVote: [NS_USER, USER_REVIEW_VOTES].join('/'),
      user: [NS_USER, USER].join('/')
    }),
    productRating () {
      return 'rating' + this.review.rating
    },
    isLiked () {
      return this.userReviewVote.find(vote => vote.review === this.review && vote.value === 1)
    },
    isDisliked () {
      return this.userReviewVote.find(vote => vote.review === this.review && vote.value === -1)
    }
  },
  methods: {
    ...mapActions({
      vote: [NS_CATEGORY, VOTE].join('/')
    }),
    userVote (value) {
      if (this.user.isAuth) {
        this.vote(new UserVote(this.review, value))
      } else {
        this.$q.notify({
          message: 'Необходима авторизация!',
          timeout: 1000
        })
        this.$root.$emit('showAuthForm', true) // Нужно доделать!!
      }
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";
@import "~quasar/dist/quasar";
@import "src/css/mixins";

i {
  @extend .icon
}

.title {
  @extend .title;
  margin-bottom: 10px;
}
.review {
  padding-bottom: 10px;

  & + .review {
    box-shadow: 0 -1px 0 var(--color-grey);
    padding-top: 15px;
  }
  .info {
    @extend .row, .justify-between;

    span:first-of-type {
      flex-grow: 2;
      margin-bottom: 10px;
    }
    p {
      margin-bottom: 10px;
    }
    time {
      display: block;
      width: 100%;
      color: var(--color-grey-dark);
      margin-bottom: 10px;
    }
    i {
      &[class^="rating"] {
        flex-grow: 1;
        text-align: right;
        font-size: 16px;
        word-spacing: -6px;
        pointer-events: none;
        &:before {
          color: orange;
        }
        &.rating1 {
          &:before {
            content: 'star';
          }
          &:after {
            content: ' star star star star';
          }
        }
        &.rating2 {
          &:before {
            content: 'star star ';
          }
          &:after {
            content: ' star star star';
          }
        }
        &.rating3 {
          &:before {
            content: 'star star star ';
          }
          &:after {
            content: ' star star';
          }
        }
        &.rating4 {
          &:before {
            content: 'star star star star ';
          }
          &:after {
            content: ' star';
          }
        }
        &.rating5 {
          &:before {
            content: 'star star star star star';
          }
        }
      }
    }
  }
}
.reviews-useful {
  @extend .row, .justify-start, .items-center;
  user-select: none;

  span:first-of-type {
    line-height: 45px;
    color: var(--color-grey-dark)
  }
  span {
    padding-right: 5px;
  }
  i {
    position: relative;
    padding-left: 25px;
    font-family: inherit;
    color: var(--color-black);
    font-size: var(--font-size);

    &.dislike:before, &.like:before {
      position: absolute;
      @extend .icon;
    }
    &.dislike {
      margin-right: 10px;
      &:before {
        top: -1px;
        bottom: 0;
        left: 3px;
        content: 'thumb_down';
      }
      &.active:before {
        color: var(--color-red);
      }
    }
    &.dislike:hover:before {
      color: var(--color-red);
    }
    &.like {
      &:before {
        top: -6px;
        bottom: 0;
        left: 3px;
        content: 'thumb_up';
      }
      &.active:before {
        color: green;
      }
    }
    &.like:hover:before {
      color: green;
    }
  }
}
</style>
