<template>
    <component :is="component" :product="product" :category="category" />
</template>

<script>
import {
  CATEGORY_BY_URL,
  LOAD_FILTERS,
  LOAD_PRODUCTS,
  LOAD_PRODUCT,
  LOAD_SORTING,
  NS_CATEGORY
} from 'src/store/Category/const'

import { store } from 'src/store'

import PageCategory from './Category'
import PageProduct from './Product'
import Error404 from 'pages/Error404'

function loadProducts (category) {
  return store.dispatch([NS_CATEGORY, LOAD_PRODUCTS].join('/'), category)
}

const beforeLoad = function (route, from, next) {
  let category = store.getters[[NS_CATEGORY, CATEGORY_BY_URL].join('/')](route.path)
  if (category) {
    route.params.category = category
    if (category.parent) {
      loadProducts(route.params.category)
        .then(() => Promise.all([
          store.dispatch([NS_CATEGORY, LOAD_SORTING].join('/'), category),
          store.dispatch([NS_CATEGORY, LOAD_FILTERS].join('/'), category)
        ]))
    }
    return next()
  }

  let path = route.path.split('/').filter(p => !!p)
  const slug = path.pop()
  path.unshift('')
  path = path.join('/')
  category = store.getters[[NS_CATEGORY, CATEGORY_BY_URL].join('/')](path)

  return loadProducts(category)
    .then(() => {
      route.params.product = category.products.find(product => product.slug === slug) || throw new Error('404')
      route.params.category = route.params.product.category
    })
    .then(() => next())
    .then(() => {
      if (!route.params.product.isFullLoaded) {
        store.dispatch([NS_CATEGORY, LOAD_PRODUCT].join('/'), route.params.product)
      }
    })
    .then(() => console.log('*** catalog product load done'))
    .catch(error => {
      console.log('error', error)
      next()
    })
}

export default {
  name: 'pageCatalog',
  beforeRouteEnter: beforeLoad,
  beforeRouteUpdate: beforeLoad,
  components: {
    PageCategory,
    PageProduct,
    Error404
  },
  computed: {
    component () {
      if (this.$route.params.product) {
        return PageProduct
      }
      if (this.$route.params.category) {
        return PageCategory
      }
      return Error404
    },
    category () {
      return this.$route.params.category
    },
    product () {
      return this.$route.params.product
    }
  }
}
</script>
