<template lang="html">
  <div class="card">
    <div class="image">
      <q-skeleton type="circle" size="100px"/>
    </div>
    <div class="price">
      <q-skeleton class="discount" type="text" width="35px" height="40px" tag="span"/>
      <q-skeleton type="text" width="80px" height="32px"/>
    </div>
    <q-skeleton class="text" type="text" width="90%"/>
    <q-skeleton type="text" width="60%"/>
    <div class="icons">
      <q-skeleton class="q-mr-auto" type="text" width="60px"/>
      <q-skeleton size="20px" square tag="i"/>
      <q-skeleton size="20px" square tag="i"/>
    </div>
  </div>
</template>
<script>

export default {
  name: 'CardSkeleton'
}
</script>
<style scoped="scoped" lang="scss">
@import '../styles.scss';

.card {
   &:before {
     content: initial;
   }
   .price {
     .discount {
       background: var(--color-grey) !important;
       opacity: .6;
       padding: 0;
       margin-top: -10px;
     }
   }
   .icons {
     i {
       margin-left: 5px;
     }
   }
 }
</style>
