<template lang="html">
  <div class="card">
    <div class="image">
      <div>
        <q-img
          :src="product.getDefaultImage"
          contain
          style="margin: auto"
          width="100%"
          height="100%"
        />
      </div>
    </div>
    <div class="text">Товар недоступен</div>
    <div class="icons flex">
      <icon-favorite v-if="product.isFavorite" :product="product"/>
      <icon-compare v-if="product.isCompare" :product="product"/>
    </div>
  </div>
</template>
<script>
import { Product } from 'src/model/Product'

export default {
  name: 'SkeletonEmpty',
  components: {
    IconCompare: () => import('components/Catalog/Product/Icon/Compare'),
    IconFavorite: () => import('components/Catalog/Product/Icon/Favorite')
  },
  props: {
    product: Product
  }
}
</script>

<style scoped="scoped" lang="scss" src="src/components/Catalog/Category/Listing/styles.scss"></style>
<style scoped="scoped" lang="scss">
.image {
  margin-top: 10px;
  margin-bottom: 20px;
}
.text {
  margin-top: 50px;
  margin-bottom: 15px;
}

</style>
