<template lang="html">
  <div>
    <skeleton-empty v-if="product.isErrorLoaded" :product="product"/>
    <product-card-skeleton v-if="!product.isErrorLoaded"/>
  </div>
</template>
<script>
import { mapActions } from 'vuex'
import { LOAD_NEW_PRODUCT, NS_CATEGORY } from 'src/store/Category/const'
import { Product } from 'src/model/Product'

export default {
  name: 'SkeletonLoad',
  components: {
    ProductCardSkeleton: () => import('../Skeleton/Card'),
    SkeletonEmpty: () => import('../Skeleton/Empty')
  },
  props: {
    product: Product,
    isListing: {
      type: Boolean,
      required: false,
      default: false
    }
  },
  data () {
    return {
      errorLoad: false
    }
  },
  methods: {
    ...mapActions({
      loadProduct: [NS_CATEGORY, LOAD_NEW_PRODUCT].join('/')
    })
  },
  created () {
    if (!this.isListing && !this.product.isFullLoaded) {
      this.loadProduct(this.product)
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
.card {
  &:before {
    content: none;
  }
}
</style>
