<template lang="html">
  <div class="products" :class="{'small': !isBigCardSize, 'big': isBigCardSize}" ref="products" :style="{ '--count': cardsCount }">
    <product-skeleton
      v-for="n in count"
      :key="n"
      :isListing="true"
    />
  </div>
</template>

<script lang="js">

import { mapGetters } from 'vuex'
import { IS_BIG_CARD_SIZE } from 'src/store/Common'

const SMALL_MARGIN = 10
const BIG_MARGIN = 25
const SMALL_CARD_WIDTH = 160
const BIG_CARD_WIDTH = 245

export default {
  name: 'ProductList',
  props: {
    count: {}
  },
  components: {
    ProductSkeleton: () => import('components/Catalog/Category/Listing/Skeleton')
  },
  data () {
    return {
      currentProduct: null,
      activeCardId: -1,
      width: 0
    }
  },
  computed: {
    cardsCount () {
      if (this.$q.screen.width < 460) {
        return 2
      }
      const margin = this.isBigCardSize ? BIG_MARGIN : SMALL_MARGIN
      const cardWidth = this.isBigCardSize ? BIG_CARD_WIDTH : SMALL_CARD_WIDTH
      const cards = Math.floor((this.width) / cardWidth)
      const totalIndent = margin * cards - 1
      return cards * cardWidth + totalIndent < this.width ? cards : cards - 1
    },
    ...mapGetters({
      isBigCardSize: IS_BIG_CARD_SIZE
    })
  },
  watch: {
    '$q.screen.width': {
      handler () {
        this.width = this.$refs.products.clientWidth
        this.$emit('mounted', { width: this.width, count: this.cardsCount })
      }
    }
  },
  mounted () {
    this.width = this.$refs.products.clientWidth
    this.$emit('mounted', { width: this.width, count: this.cardsCount })
  }
}
</script>

<style scoped="scoped" lang="scss" src="src/components/Catalog/Category/Listing/styles.scss"></style>
<style lang="scss" scoped="scoped">
@import '~quasar/dist/quasar.sass';
@import 'src/css/vars';

.products {
  @extend .row;
  --min-height: 0;
  --width: 100%;
  --margin: 10px;
  --count: 4;

  &.big {
    --count: 3;
    --margin: 25px;
  }
  margin-left: calc(-1 * var(--margin));
  margin-bottom: 25px;

  > div {
    position: relative;
    width: calc(var(--width)/var(--count) - var(--margin));
    min-height: var(--min-height);
    margin-left: var(--margin);
    margin-bottom: var(--margin);
  }
}

@media (max-width: $width-960) {
  .products {
    &.big {
      --margin: 10px;
    }
  }
}

@media (max-width: $width-460) {
  .products {
    > div {
      min-width: 165px;
      &:before {
        content: initial;
      }
    }
  }
}

@media (max-width: $width-360) {
  .products {
    margin: var(--margin) auto auto;
    > div {
      margin: 0 auto var(--margin);
    }
  }
}
</style>
