<template>
    <div class="index-page">
      <div id="video">
        <video
          id="video-file"
          autoplay="autoplay"
          loop="loop"
          muted="muted"
          poster="../../statics/home/imgpsh_fullsize_anim.gif"
          preload="auto"
        >
          <source src="../../statics/home/odejda.mp4">
        </video>
      </div>
      <main class="row justify-center">
        <h1>Каталог</h1>
        <div>
          <router-link
            v-for="(category, id) in getList"
            :key="id"
            :to="category.url"
            :title="category.name"
          >
            {{ category.name }}
          </router-link>
        </div>
      </main>
    </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_CATEGORY, CATEGORY_BY_ID } from 'src/store/Category/const'

export default {
  name: 'PageIndex',
  meta () {
    return {
      title: 'Rich Family - интернет-магазин детских товаров в Новосибирске',
      meta: {
        description: {
          name: 'description',
          content: 'Большой каталог товаров для детей: игрушки, одежда и обувь, товары для новорожденных, для спорта и отдыха, детская мебель. Низкие цены. Онлайн заказ. Адреса магазинов.'
        }
      }
    }
  },
  computed: {
    ...mapGetters({
      getCategoryById: [NS_CATEGORY, CATEGORY_BY_ID].join('/')
    }),
    getList () {
      return this.categoryList.map(id => this.getCategoryById(id)).filter(category => !!category)
    }
  },
  data () {
    return {
      categoryList: [371, 202, 165, 163, 115, 443, 508, 544, 340, 431, 505]
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import 'src/css/vars';

.index-page {
  --width: calc(100%);
  --height: calc(var(--width) * 0.2083);
  #video {
    padding-bottom: var(--height);
    position: relative;
    display: flex;
    justify-content: center;
  }
  #video-file {
    z-index: 0;
    max-height: 100%;
    position: absolute;
  }
}

main {
  h1 {
    width: 100%;
    text-align: center;
    margin: 25px auto;
  }
  > div {
    width: 1180px;
    margin: 0 auto;
    padding-bottom: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);

  }
  a {
    position: relative;
    padding-top: 100%;
    display: flex;
    align-items: flex-end;
    padding-left: 15px;

    box-sizing: border-box;
    font-size: 0;
    vertical-align: bottom;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    transition: all ease-in-out 0.3s;

    &:after {
      content: attr(title);
      position: absolute;
      bottom: 15px;
      left: 20px;
      font-size: 18px;
    }

    &:nth-child(1) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      background-image: url("../../statics/home/clothes.png");
      background-color: #ececee;
    }

    &:nth-child(2) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      background-image: url("../../statics/home/toys_image.png");
      background-color: #a3dff2;
    }

    &:nth-child(3) {
      padding-top: 50%;
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      background-image: url("../../statics/home/shoes_image.png");
      background-color: #d9fab8;
    }

    &:nth-child(4) {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
      background-image: url("../../statics/home/imgbike.png");
      background-color: #538cc2;
    }

    &:nth-child(5) {
      padding-top: 200%;
      grid-column: 1 / 2;
      grid-row: 3 / 5;
      background-image: url("../../statics/home/active_sport_image.png");
      background-color: #b6ffff;
    }

    &:nth-child(6) {
      grid-column: 2 / 4;
      grid-row: 3 / 5;
      background-image: url("../../statics/home/novor1.png");
      background-color: #f5e7d3;
    }
    &:nth-child(7) {
      grid-column: 4 / 5;
      grid-row: 3 / 4;
      background-image: url("../../statics/home/textile_image.png");
      background-color: #f3ce6b;
    }

    &:nth-child(8) {
      grid-column: 4 / 5;
      grid-row: 4 / 5;
      background-image: url("../../statics/home/creation_image.png");
      background-color: #e4bcf3;
    }
    &:nth-child(9) {
      grid-column: 1 / 3;
      grid-row: 5 / 7;
      background-image: url("../../statics/home/furniture_image.png");
      background-color: #73b4e8;
    }
    &:nth-child(10) {
      padding-top: 50%;
      grid-column: 3 / 5;
      grid-row: 5 / 6;
      background-image: url("../../statics/home/holiday_image.png");
      background-color: #fefec0;
    }
    &:nth-child(11) {
      padding-top: 50%;
      grid-column: 3 / 5;
      grid-row: 6 / 7;
      background-image: url("../../statics/home/related_products_image_15.01.2020.png");
      background-color: #c0ecd8;
    }

    &:hover {
      background-size: 90%;
      box-shadow: 0 0 28px 0 rgba(0, 43, 121, 0.15),
      0 25px 55px 0 rgba(76, 139, 255, 0.21);
      z-index: 5;
    }
  }
}

@media (max-width: $width-640){
  .index-page {
    --width: calc(100% + 200px);
    #video {
      padding-bottom: var(--height);
    }
    #video-file {
      left: -500px;
      right: -500px;
      margin: auto;
    }
  }
  main {
    > div {
      grid-template-columns: repeat(2, 50%);
    }
    a {
      &:nth-child(4) {
        grid-column: 1 / 3;
        grid-row: 3 / 4;
      }
      &:nth-child(5) {
        grid-column: 1 / 2;
        grid-row: 4 / 6;
      }
      &:nth-child(7) {
        grid-column: 2 / 3;
        grid-row: 4 / 5;
      }
      &:nth-child(8) {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
      }
      &:nth-child(6) {
        grid-column: 1 / 3;
        grid-row: 6 / 7;
      }

      &:nth-child(9) {
        grid-column: 1 / 3;
        grid-row: 7 / 8;
      }
      &:nth-child(10) {
        grid-column: 1 / 3;
        grid-row: 8 / 9;
      }
      &:nth-child(11) {
        grid-column: 1 / 3;
        grid-row: 9 / 10;
      }
    }
  }
}
</style>
