<template lang="html">
  <div class="filter" :class="{'active': open}">
    <div @click="open = !open" class="title">
      {{ filters.names[id].title }}
      <i v-if="checked.length" @click.stop="reset({ filters, id})" />
    </div>
    <transition name="fade">
      <div v-if="open">
          <q-checkbox
            v-for="prop in values"
            :key="prop.value"
            :val="prop.value"
            :value="checked"
            :label="prop.title"
            @input="$emit('input', prop)"
            class="full-width text-capitalize"
          />
      </div>
    </transition>
  </div>
</template>

<script>
import { FILTER_RESET, NS_CATEGORY } from 'src/store/Category/const'
import { mapActions } from 'vuex'

export default {
  name: 'filterCheckbox',
  props: {
    id: Number,
    filters: {}
  },
  data () {
    return {
      open: false
    }
  },
  computed: {
    checked () {
      return this.id in this.filters.active ? Object.keys(this.filters.active[this.id]).map(v => parseInt(v)) : []
    },
    values () {
      return Object.keys(this.filters.values)
        .map(id => parseInt(id))
        .filter(id => this.filters.names[this.id].values.includes(id))
        .map(id => {
          return {
            name: this.id,
            value: id,
            title: this.filters.values[id]

          }
        })
        .sort((a, b) => a.title.localeCompare(b.title))
    }
  },
  created () {
    this.open = !!this.checked.length
  },
  methods: {
    ...mapActions({
      reset: [NS_CATEGORY, FILTER_RESET].join('/')
    })
  }
}
</script>

<style lang="scss" scoped>
.filter {
  min-height: 48px;
  padding: 8px 16px;
  cursor: pointer;

  .title {
    position: relative;

    &::after {
      position: absolute;
      transition: transform .2s;
      right: -8px;
      top: -5px;
      content: "keyboard_arrow_down";
      opacity: 0.9;
      font-size: 24px;
      font-family: 'Material Icons', serif;
      -webkit-font-feature-settings: 'liga';
    }
  }
}

.filter.active {
  .title {
    &::after {
      transform: rotate(180deg);
      transition: transform .2s;
    }

    i {
      margin-left: 5px;
      color: var(--color-grey-medium);
      cursor: pointer;
      border-bottom: 1px dotted;

      &:before{
        content: 'Сбросить';
        font-style: normal;
        font-size: calc(var(--font-size) - 4px);
      }
    }
  }
}

.sort, .sort-panel {
  min-height: auto;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 700;
  border: 0 !important;

  &:after {
    border: none;
  }
}

.sort-panel.v-expansion-panel-header--active {
  min-height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.sort-child {
  &:after {
    border: none;
  }
}
</style>
