<template>
  <q-form @submit="submit" class="q-gutter-md">
    <dadata
      @address="$address => form.address = $address"
      :label="'Адрес экспресс-доставки'"
      ref="address"
    />
    <q-toggle v-model="privateHome" label="Частный дом"/>
    <div
      v-if="!privateHome"
      class="flex order_form__address"
    >
      <q-input
        filled
        v-model="form.apartment"
        label="Квартира/офис"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Ввведите квартиру']"
      />
      <q-input
        filled
        v-model="form.entrance"
        label="Подъезд"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Ввведите подъезд']"
      />
    </div>
  </q-form>
</template>
<script>

export default {
  name: 'ExpressForm',
  components: {
    Dadata: () => import('components/User/Dadata')
  },
  props: {
    form: {}
  },
  methods: {
    submit (event) {
      if (this.form.address !== undefined) {
        this.$emit('checkForm', true)
      } else {
        this.$refs.address.$el.click()
      }
    }
  },
  data () {
    return {
      privateHome: true
    }
  }
}
</script>
<style lang="scss" scoped>
::v-deep .vue-dadata__input {
  border: 1px solid #D5D5D5;
  padding: 0 12px;
  border-radius: 3px 3px 0 0;
  height: 56px;
}

::v-deep .q-field__label {
  color: #474747;
}

::v-deep .dadata--filled {
  .q-field__label {
    position: absolute;
    z-index: 1;
    margin-top: 23px;
    margin-left: 12px;
    max-width: 99%;
  }
}
</style>
