<template>
  <div ref="delivery" class="order_form__switch">
    <q-tabs
      v-model="tabId"
      dense
      :vertical="vertical"
      class="text-grey"
      indicator-color="transparent"
    >
      <q-tab
        class="order_form__checkout"
        v-for="(tab, id) in deliveryTypes"
        :key="id"
        :name="id"
      >
          <span>{{ tab.name }}</span>
          <span v-if="id === tabId" class="q-tab--date">{{ tab.datetime }}</span>
      </q-tab>
    </q-tabs>
    <q-tab-panels
      v-model="tabId"
    >
      <q-tab-panel v-for="(tab, id) in deliveryTypes" :key="id" :name="id">
        <delivery-form
          @submit="checkDelivery"
          v-if="tab.name === 'Доставка курьером'"
          :form="usualForm"
        />
        <express-form
          v-else-if="tab.name === 'Экспресс-доставка'"
          :form="expressForm"
          @checkForm="checkDelivery"
        />
      </q-tab-panel>
    </q-tab-panels>
  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex'
import { NS_CITY, CITY } from 'src/store/Cities'
import { NS_USER, CHANGE_ORDER } from 'src/store/User'

export default {
  name: 'DeliveryTypes',
  components: {
    DeliveryForm: () => import('components/User/Order/Delivery/Types/UsualForm'),
    ExpressForm: () => import('components/User/Order/Delivery/Types/ExpressForm')
  },
  data () {
    return {
      checkForm: false,
      tabId: 0,
      usualForm: {},
      expressForm: {},
      address: ''
    }
  },
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/')
    }),
    vertical () {
      return this.$q.screen.width < 767
    },
    deliveryTypes () {
      return this.city.delivery
    },
    delivery () {
      return this.deliveryTypes[this.tabId]
    },
    sendData () {
      return {
        address: this.address,
        delivery: this.delivery
      }
    }
  },
  methods: {
    ...mapActions({
      changeOrder: [NS_USER, CHANGE_ORDER].join('/')
    }),
    checkDelivery () {
      if (this.delivery.name !== 'Самовывоз') {
        let form = this.expressForm
        if (this.delivery.name !== 'Экспресс-доставка') {
          form = this.usualForm
        }

        this.address = form.address
        if (form.apartment) {
          this.address = this.address + ' кв/оф.' + form.apartment
        }
        if (form.entrance) {
          this.address = this.address + ' под.' + form.entrance
        }
      }
    },
    addressSet () {
      this.address = ''
      if (this.delivery.name === 'Самовывоз') {
        this.address = 'г.' + this.city.shop.fullAddress
      }
      this.changeOrder({ delivery: this.delivery, address: this.address })
    }
  },
  watch: {
    'city.shop.fullAddress' () {
      this.addressSet()
    },
    tabId () {
      this.addressSet()
    }
  },
  created () {
    this.addressSet()
    this.$root.$on('checkDeliveryForm', this.showMaps)
  }
}
</script>
<style lang="scss" scoped>
::v-deep .q-tab-panel {
  padding-left: 0;
  padding-right: 0;
}

::v-deep .q-tab {
  margin: 0;
  padding: 10px 40px;
  padding-left: 50px;
  text-transform: none;
  background: #e0e0e0;
  color: black;

  &--active {
    border: 2px solid var(--color-blue);
    opacity: 1;
    background: white;

    span {
      color: var(--color-blue);
    }
  }

  &__content {
    align-items: start;
    justify-content: normal;
    display: inline;
    width: 100%;
  }

  &--date {
    font-size: 12px;
    font-weight: 700;
    margin: auto;
    margin-left: 10px;
  }

  &--text {
    margin: 18px 0 0 0;
    font-size: 12px;
    width: 100%;
    color: #474747;
    white-space: normal;
    text-align: left;
  }
}
</style>
