<template>
  <q-form class="q-gutter-md" ref="usual">
    <q-input
      filled
      clearable
      clear-icon="close"
      v-model="form.full"
      label="Адрес доставки курьером"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Ввведите адрес доставки']"
    />
    <q-toggle v-model="privateHome" label="Частный дом"/>
    <div v-if="!privateHome" class="flex order_form__address">
      <q-input
        filled
        v-model="form.apartment"
        label="Квартира/офис"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Ввведите квартиру']"
      />
      <q-input
        filled
        v-model="form.entrance"
        label="Подъезд"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Ввведите подъезд']"
      />
    </div>
  </q-form>
</template>
<script>
export default {
  name: 'Form',
  props: {
    form: {}
  },
  data () {
    return {
      privateHome: false
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
