<template lang="html">
  <div>
      <router-link :to="'/'" exact>
        Главная
      </router-link>
      <router-link
        v-for="( item, index ) in pathArray" :key="index"
        :to="item.url" class="bread-crumbs__item" exact>
        {{item.name }}
      </router-link>
  </div>

</template>
<script>
import { mapGetters } from 'vuex'
import {
  CATEGORY_MAP,
  NS_CATEGORY
} from 'src/store/Category/const'

export default {
  name: 'Breadcrumbs',
  props: {
    items: {
      type: Array
    },
    category: {}
  },
  computed: {
    ...mapGetters({
      categoryMap: [NS_CATEGORY, CATEGORY_MAP].join('/')
    }),
    pathArray () {
      if (this.$route.path.split('/').includes('catalog')) {
        return this.category.parents
      } else {
        return this.items
      }
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";

div {
  margin-bottom: 10px;
  a {
    position: relative;
    margin-right: 17px;
    white-space: nowrap;
    line-height: 16px;
    text-decoration: underline;
    color: var(--color-grey-medium);
    font-size: 11px;
    transition: color .2s ease-in-out;

    &:after {
      position: absolute;
      font-family: "Material Icons", Arial, serif;
      content: 'keyboard_arrow_right';
      font-size: 14px;
      top: 0;
      right: -16px;
    }

    &:last-of-type:after {
      display: none;
    }

    &:hover {
      color: var(--color-grey-dark);
      text-decoration: none;
    }
  }
}

@media (max-width: $width-800) {
  div {
    position: absolute;
    width: 100%;
    padding:10px 10px 60px;
    display: flex;
    flex-flow: row nowrap;
    margin-top: 35px;
    left: 0;
    z-index: 100;

    a {
      font-size: calc(var(--font-size) - 2px);
      text-decoration: none;
    }
    a:first-child {
      display: none;
    }
  }
}
</style>
