<template>
  <div class="bg-overlay"></div>
</template>
<script>
export default {
  name: 'Overlay'
}
</script>

<style scoped lang="scss">
.bg-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 99;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
</style>
