<template lang="html">
  <div class="row items-center">
    <sorting :code="sortCode" :direction="'asc'" @input="$emit('input:sortCode', $event)" />
    <quantity v-if="$q.screen.width > 960 && paginator.pages.length > 1" @input="$emit('input:count', $event)" :paginator="paginator" />
    <card-size v-if="$q.screen.width > 960" @input="changeCardSize(!isBigCardSize)"/>
  </div>
</template>

<script lang="js">
import { Category } from 'src/model/Category'
import { mapActions, mapGetters } from 'vuex'
import { IS_BIG_CARD_SIZE } from 'src/store/Common'

export default {
  name: 'componentCatalogCategory',
  props: {
    category: Category,
    sortCode: String,
    paginator: {}
  },
  components: {
    Quantity: () => import('./Quantity'),
    CardSize: () => import('./CardSize'),
    Sorting: () => import('./Sorting')
  },
  computed: {
    ...mapGetters({
      isBigCardSize: IS_BIG_CARD_SIZE
    })
  },
  methods: {
    ...mapActions({
      changeCardSize: IS_BIG_CARD_SIZE
    })
  }
}
</script>

<style lang="scss" scoped="scoped">
@import 'src/css/vars';

aside + article {
  flex-grow: 1;
}

.quantity {
  color: var(--color-grey-dark);
  font-size: var(--font-size) - 1px;
  margin-right: 10px;

  span {
    padding-right: 8px;
    cursor: pointer;
    &.active {
      color: var(--color-red);
    }
  }
}

@media (min-width: $width-961) {
  div:first-of-type {
    margin-bottom: 5px;
  }
}

@media (max-width: $width-960) {
  .quantity {
    span {
      display: none;
    }
  }
}

</style>
