<template lang="html">
  <div class="container-origin-width">
    <div class="page404">
      <div class="right-text">
        <span style="font-size: 3vh">Страница не найдена</span>
        <div>
          Неправильно набран адрес или такой страницы не существует
        </div>
        <router-link :to="{ name: home }">
          На главную
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import { ROUTE_HOME } from 'src/router/routes'

export default {
  name: 'Error404',
  data () {
    return {
      home: ROUTE_HOME
    }
  }
}
</script>
<style scoped lang="scss">
.right-text {
  //width: 25%;
  margin: auto;
  margin-left: 0;
  //text-align: center;

  .blackButton {
    background-color: var(--color-blue);
  }

  div {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  span {
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
  }
}

.page404 {
  margin-top: 10px;
  display: flex;

  .q-img {
    background-color: var(--color-blue);
  }
}
</style>
