<template lang="html">
  <div class="card" v-if="1">
    <q-skeleton class="image_placeholder" square size="100px" />
    <q-skeleton type="text" class="q-mt-md" width="80px" height="30px" />
    <div class="q-mt-md">
      <q-skeleton type="text" width="100px" />
      <q-skeleton type="text" width="130px" />
      <q-skeleton type="text" width="160px" />
    </div>
    <div class="row justify-end bottom_items">
      <q-skeleton class="q-mr-auto" type="text" width="60px" />
      <q-skeleton class="col-4" size="20px" type="circle" tag="i" />
      <q-skeleton size="20px" type="circle" tag="i" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'CompareSkeleton'
}
</script>

<style lang="scss" scoped="scoped">

.card {
  --internal-padding-y: 5px;
  --internal-padding-x: 15px;

  position: relative;
  max-width: 320px;
  display: block;
  border: 1px solid var(--color-grey);
  border-radius: 6px;
  padding: var(--internal-padding-y) var(--internal-padding-x);
}
.image_placeholder {
  margin: 5px auto auto;
}

.bottom_items {
  position: absolute;
  left: var(--internal-padding-x);
  right: calc(var(--internal-padding-x) - 5px);
  bottom: var(--internal-padding-y);
  i {
    margin-left: 3px;
    align-self: flex-end;
  }
}
</style>
