<template>
  <div>
    <div class="flex order_form__line">
      <div class="order_form__title">
        Ваши данные
        <i class="material-icons-outlined tab-icons md-30">account_circle</i>
      </div>
    </div>
    <div class="order_form__submitted-text">
      <div>
        Ф.И.О.
        <span>{{ form.fio }}</span>
        <br>
        Телефон
        <span>{{ form.phone }}</span>
      </div>
      <div v-if="form.comment">
          <span>
            Комментарий:
          </span>
        {{ form.comment }}
      </div>
    </div>
    <div class="order_form__switch">
      <q-form
        ref="form"
        @submit="onSubmit"
        class="q-gutter-md"
      >
        <div class="flex">
          <q-input
            class="contacts__div"
            filled
            v-model="form.fio"
            label="Ф.И.О."
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ввведите ФИО']"
          />
          <q-input
            class="contacts__div"
            filled
            label="Телефон"
            :fill-mask="true"
            unmasked-value
            v-model="form.phone"
            mask="+7 (###) ###-##-##"
            lazy-rules
            :rules="[ val => val && val.length > 0 || 'Ввведите телефон']"
          />
        </div>
        <q-input
          v-model="form.comment"
          label="Комментарий к заказу"
          filled
          type="textarea"
        />

      </q-form>
    </div>
  </div>
</template>
<script>
export default {
  name: 'contacts',
  props: {
    form: {}
  },
  methods: {
    onSubmit () {
      // if (this.filled) {
      //   this.$emit('currentOrderForm', null)
      // } else {
      //   if (!this.rulesChecked) {
      //     return false
      //   }
      //   this.$emit('currentOrderForm', 'contacts')
      // }
      // this.filled = true
    },
    onEdit () {
      this.filled = false
      this.$emit('editForm', 'contacts')
    }
  },
  data () {
    return {
      filled: false
    }
  }
}
</script>
<style lang="scss" scoped>
.contacts {
  &__div {
    width: 48%;
    margin-right: 29px;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 767px) {
  .contacts {
    &__div {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }
}
</style>
