<template>
  <div class="payment" :class="{'filled': filled}">
    <div class="order_form">
      <div class="flex order_form__line">

        <div class="order_form__title">
          Оплата онлайн
          <i class="material-icons-outlined tab-icons md-30">credit_card</i>
        </div>

        <div class="order_form__change_form">
          <div @click="onEdit" class="change">Изменить</div>
        </div>
      </div>
      <div class="order_form__switch">
        <div class="order_form__checkout active">
          <div class="flex">
            <div class="order_form__checkout__title">
              <i class="material-icons tab-icons md-24">check_circle_outline</i>
              Оплата онлайн
            </div>
          </div>
          <span class="order_form__checkout__text">
            Оплата с помощью банковской карты на сайте, без комиссии.
            Заказ необходимо оплатить в течение 40 минут, неоплаченные заказы  не обрабатываются.
            Для получения заказа предъявите электронный чек.
          </span>
        </div>
        <div>
          <q-btn @click="onSubmit" color="brown-5" label="Продолжить" type="submit"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'payment',
  methods: {
    onSubmit () {
      if (this.filled) {
        this.$emit('currentOrderForm', null)
        return false
      } else {
        this.$emit('currentOrderForm', 'payment')
      }
      this.filled = true
    },
    onEdit () {
      this.filled = false
      this.$emit('editForm', 'payment')
    }
  },
  data () {
    return {
      filled: false
    }
  }
}
</script>
<style lang="scss" scoped>
</style>
