<template>
  <div class="cities col-md-8 col-sm-7 row q-pa-lg relative-position">
    <div class="relative-position q-pb-xl block full-width">
      <div class="column content-start">
        <a
          v-for="city_ in cities"
          :key="city_.id"
          :href="'//' + [city_.domain, domain].join('.') + '/'"
          :class="{'active': city_ === city, 'not_matched': !isMatched(city_)}"
        >
          {{ city_.name }}
        </a>
      </div>
      <q-input outlined dense="dense" :class="{'absolute-top': $q.screen.width < 960, 'absolute-bottom':  $q.screen.width > 960 }" class="full-width" label="Поиск города"
               v-model="search"/>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import { NS_CITY, CITIES, CITY } from 'src/store/Cities'
import { mapGetters } from 'vuex'

export default {
  name: 'Cities',
  data: () => ({
    domain: process.env.BASE_DOMAIN,
    search: ''
  }),
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/'),
      cities: [NS_CITY, CITIES].join('/')
    }),
    filtered () {
      return this.cities.filter(city => {
        return new RegExp('(' + [this.search, Vue.translate(this.search)]
          .join('|') + ')', 'i')
          .test(city.name)
      })
    }
  },
  methods: {
    isMatched (city) {
      return new RegExp('(' + [this.search, Vue.translate(this.search)]
        .join('|') + ')', 'i')
        .test(city.name)
    }
  }
}
</script>
<style lang="scss" scoped="scoped">
@import "src/css/vars";
.city {
  .shops {
    display: none;
  }

  .popup.row {
    max-width: 100%;
    width: 50%;
  }
}

.q-menu {
  max-height: 110vw;
}

::v-deep {
  .city-shops-popup {
    max-width: 100% !important;
  }

  .title {
    width: 100%;
    font-size: 1rem;
    color: var(--color-black);
    text-align: center;
    padding: 10px;
  }

  .title.active {
    background-color: var(--color-blue);
    color: var(--text-white);
  }
}

.popup {
  --height: 365px;

  min-width: 1180px;
  height: var(--height);

  a {
    display: block;
    padding: 0 15px;
    border-radius: 3px;
    font-size: var(--font-size);
    line-height: 36px;
    transition: background-color .4s ease-in-out, opacity .2s ease-in-out;
    &:hover {
      background-color: var(--color-grey-light);
      cursor: pointer;
    }
    &.active {
      background-color: var(--color-blue);
      color: var(--color-white);
    }
    &.not_matched {
      opacity: .2;
    }
  }
  section {
    max-height: var(--height);
  }
}
.shops {
  > div {
    width: 100%;
  }
}
.cities {
  a {
    width: 25%;
    max-height: 200px;
  }
  &::after {
    position: absolute;
    content: '';
    background-color: var(--color-grey-light);
    width: 1px;
    top: 75px;
    bottom: 24px;
    right: 0;
  }
  .column {
    height: 220px;
  }
}

@media (max-width: 767px){
  .popup.row {
    flex-wrap: nowrap;
    --height: 425px;

    .row {
      position: absolute;
      width: 100%;
      padding: 5px;
    }

    .q-btn {
      margin-bottom: 23px;
    }
  }

  ::v-deep .row {
    .title {
      display: none;
    }

    .q-scrollarea {
      height: 323px !important;
    }
  }

  ::v-deep .shops button.full-width {
    display: none;
  }

  .cities {
    a {
      width: 100%;
      border-bottom: 1px solid rgba(0,0,0,.12);
    }
  }

  .column.content-start {
    margin-top: 50px;
    height: 80vh;
    display: block;
    overflow-y: scroll;
    direction: initial;
  }
}
</style>
