<template>
  <div class="container-origin-width">
    <div v-if="user.cart.size" class="cart-page">
      <div class="l-cart">
        <h1 class="page-title">Заказ</h1>
        <cart :type="'cart'"/>
        <div class="order_form">
          <delivery ref="delivery"/>
          <contacts :form="contacts" ref="contacts"/>
        </div>
      </div>
      <cart-info @scroll="scroll" @checkOrder="checkOrder" class="r-cart" :type="'cart'"/>
    </div>
    <div v-else>
      Ваша корзина пуста
    </div>
  </div>
</template>
<script>
import Vue from 'vue'
import { mapGetters, mapActions } from 'vuex'
import { NS_USER, USER, CREATE_NEW_ORDER } from 'src/store/User'
import { NS_CITY, CITY } from 'src/store/Cities'
import { ROUTE_HOME, ROUTE_ORDER_SUCCESS } from 'src/router/routes'

export default {
  name: 'order-page',
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/'),
      city: [NS_CITY, CITY].join('/')
    })
  },
  data () {
    return {
      contacts: {}
    }
  },
  components: {
    Delivery: () => import('components/User/Order/Delivery/'),
    Contacts: () => import('components/User/Order/Contacts'),
    Cart: () => import('components/User/Cart/'),
    CartInfo: () => import('components/User/Cart/CartInfo')
  },
  methods: {
    ...mapActions({
      createOrder: [NS_USER, CREATE_NEW_ORDER].join('/')
    }),
    submitForm (type) {
      console.log('submit')
    },
    validate (formType) {
      if (formType === 'delivery') {
        console.log('form', this.$refs[formType])
        return true
      }
      const form = this.$refs[formType].$refs.form
      form.validate().then(success => {
        if (success) {
          return true
        } else {
          return false
        }
      })
    },
    scroll (formType) {
      const el = this.$refs[formType].$el
      Vue.scrollToElement(el)
    },
    checkForm (formType) {
      if (!this.validate(formType)) {
        this.scroll(formType)
      } else {
        return true
      }
    },
    checkOrder () {
      if (!this.checkForm('delivery')) {
        return false
      }
      if (!this.checkForm('contacts')) {
        return false
      }
      this.$router.push({ name: ROUTE_ORDER_SUCCESS })
    }
  },
  created () {
    if (!this.user.cart.length) {
      this.$router.push({ name: ROUTE_HOME })
      return false
    }
    this.createOrder(this.city.delivery[0])
    this.$root.$on('currentOrderForm', this.submitForm)
  }
}
</script>

<style lang="scss" scoped>
.cart-page {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;

  &__products {
    margin-bottom: 20px;
  }

  .l-cart, .r-cart {
    display: inline-block;
    vertical-align: top;
  }

  .l-cart {
    width: 70%;
  }

  .r-cart {
    width: 30%;
  }
}

.button {
  display: flex;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .cart-page .l-cart {
    width: 65%;
  }
}

@media (max-width: 1030px) {
  .cart-page .l-cart, .cart-page .r-cart {
    width: 100%;
  }

  .cart-page .l-cart {
    margin: 0;
    max-width: 100%;
  }
}

@media (max-width: 960px) {
  .cart-page {
    display: block;
  }
}

@media (max-width: 767px) {
  .cart-page {
    display: block;
    padding: 5px;
    padding-bottom: 25px;

    &__products {
      width: 100%;
    }

    .cart-info {
      left: 0;
      margin-left: 0;
      width: 100%;
      max-width: 100%;
    }
  }

  .cart-page .l-cart, .cart-page .r-cart {
    width: 100%;
  }
}
</style>
