<template>
  <div class="container-origin-width">
    <breadcrumbs :items="items" />
    <personal/>
    <compare-products :compareList="user.compare"/>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'

export default {
  name: 'compare',
  components: {
    Personal: () => import('components/User/Personal/'),
    Breadcrumbs: () => import('../../components/Layout/Breadcrumbs'),
    CompareProducts: () => import('components/User/Compare/index')
  },
  data () {
    return {
      items: [
        {
          name: 'Сравнение',
          url: '/compare'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    })
  }
}
</script>
