<template>
  <div class="container-origin-width">
    <breadcrumbs :items="items"/>
    <personal/>
    <div v-if="favorites.length" id="products">
      <product-card
        v-for="product in favorites"
        :key="product.id + '-' + 200"
        :product="product"
        :imageSize = "[200, 200]"
        :isListing = "product.isPartLoaded"
      />
    </div>
    <div v-else>
      Нет отложенных товаров
    </div>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex'
import { NS_USER, USER, PRODUCT_FAVORITE } from 'src/store/User'

export default {
  name: 'favorite',
  components: {
    Breadcrumbs: () => import('../../components/Layout/Breadcrumbs'),
    Personal: () => import('components/User/Personal/'),
    ProductCard: () => import('components/Catalog/Category/Listing/Card/')
  },
  data () {
    return {
      items: [
        {
          name: 'Отложенные',
          url: '/favorite'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    favorites () {
      return this.user.favorite
    }
  },
  methods: {
    ...mapActions({
      deleteFavorite: [NS_USER, PRODUCT_FAVORITE].join('/')
    })
  },
  created () {
    console.log('this.favorites', this.favorites)
  }
}
</script>
<style scoped="scoped" lang="scss" src="src/components/Catalog/Category/Listing/styles.scss"></style>
<style scoped="scoped" lang="scss">
#products {
  margin-bottom: 40px;
}
@import '~quasar/dist/quasar.sass';
@import 'src/css/vars';

#products {
  @extend .row;
  --card-height: 320px;
  --width: 100%;
  --margin: 15px;
  --count: 4;
  --element: calc((var(--count) - 1)  * var(--margin) / var(--count));

  &.big {
    --count: 3;
    --margin: 25px;

    > div {
      height: var(--card-height);
    }
  }

  margin-top: 20px;
  margin-left: calc(-1 * var(--margin));
  > div {
    position: relative;
    height: var(--card-height);
    width: calc(var(--width)/var(--count) - var(--margin));
    margin-left: var(--margin);
    margin-bottom: var(--margin);
  }
}

@media (max-width: $width-990) {
  #products {
    --count: 4;
    &.big {
      --count: 3;
      > div {
        height: var(--card-height);
      }
    }
    > div {
      height: calc(var(--card-height) - 40px);
    }
  }
}

@media (min-width: $width-1100) {
  #products {
    --count: 4;
    &.big {
      --count: 3;
      > div {
        height: calc(var(--card-height) + 20px);
      }
    }
    > div {
      height: 300px;
    }
  }
}

@media (min-width: $width-1280 ) {
  #products {
    --count: 5;
    &.big {
      --count: 4;
      > div {
        height: calc(var(--card-height) + 10px);
      }
    }
    > div {
      height: calc(var(--card-height) - 40px);
    }
  }
}

@media (min-width: $width-1600) {
  #products {
    --count: 6;
    &.big {
      --count: 5;
      > div {
        height: calc(var(--card-height) + 20px);
      }
    }
    > div {
      height: var(--card-height);
    }
  }

}
/******************************************/
@media (max-width: $width-960) {
  #products {
    --margin: 10px;
    --count: 4;

    &.big {
      --count: 3;
      --margin: 10px;
    }
  }
}

@media (max-width: $width-700) {
  #products {
    --count: 3;
    &.big {
      --count: 2;
    }
  }
}

@media (min-width: $width-480) and (max-width: $width-600) {
  #products {
    --count: 2;
    > div {
      height: var(--card-height);
    }
  }
}

@media (max-width: $width-480) {
  #products {
    --count: 1;
    > div {
      margin: 0 auto calc(var(--margin) * 2);
      height: calc(var(--card-height) + 40px);
    }
  }
}
</style>
