<template>
  <div class="container-origin-width">
    <breadcrumbs :items="items" />
    <personal/>
    <order-page v-if="orderReady" :order="order" />
    <order-list v-else :orders="orderList" />
  </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'
import { NS_USER, LOAD_ORDERS, USER } from 'src/store/User'
import { ROUTE_HOME } from 'src/router/routes'

import OrderPage from 'components/User/Order/Profile/'
import OrderList from 'components/User/Order/Profile/List'
import Error404 from 'pages/Error404'

export default {
  name: 'orders',
  components: {
    OrderList: () => import('components/User/Order/Profile/List'),
    OrderPage: () => import('components/User/Order/Profile/'),
    Personal: () => import('components/User/Personal/'),
    Breadcrumbs: () => import('../../components/Layout/Breadcrumbs')
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    component () {
      if (this.$route.params.id) {
        return OrderPage
      }
      if (this.$route.params.category) {
        return OrderList
      }
      return Error404
    },
    orderList () {
      return this.user.orders
    },
    orderReady () {
      console.log('this.this.$route.params.id', this.$route.params.id)
      return this.$route.params.id
    },
    order () {
      return this.orderList.find(order => order.id === this.$route.params.id)
    }
  },
  methods: {
    ...mapActions({
      loadOrders: [NS_USER, LOAD_ORDERS].join('/')
    })
  },
  beforeMount () {
    if (!this.user.isAuth) {
      this.$router.push({ name: ROUTE_HOME })
    }
    this.loadOrders()
  },
  data () {
    return {
      items: [
        {
          name: 'Список заказов',
          url: '/orders'
        }
      ]
    }
  }
}
</script>
