<template>
  <div class="container-origin-width">
    <breadcrumbs :items="items"/>
    <h1 class="page-title">{{ items[0].name }}</h1>
    <cart :orderCheck="activeForm === null" :type="'order'"/>
    <h1 class="page-title">Оформление заказа</h1>
    <div v-if="user.cart.length" class="order_form">
      <delivery
        @currentOrderForm="submitForm"
        @editForm="editForm"
      />
      <contacts
        @currentOrderForm="submitForm"
        @editForm="editForm"
      />
      <div class="button">
        <div style="margin-right: auto;">
          <span class="regulations__checkbox"/>
          <q-checkbox dense v-model="rulesChecked" color="teal"/>
          &nbsp;
          <span>Я согласен с </span>
          <router-link to='/rules/' class="cart-info__regulations__link">
            правилами продажи
          </router-link>
        </div>
        <q-btn @click="checkOrder" color="brown-5" label="Оформить заказ" type="submit"/>
      </div>
    </div>
  </div>
</template>
<script>
import { Order } from 'src/model/Order'
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'
import { ROUTE_HOME } from 'src/router/routes'

export default {
  name: 'order-page',
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    })
  },
  components: {
    Delivery: () => import('components/User/Order/Delivery/'),
    Contacts: () => import('components/User/Order/Contacts'),
    Cart: () => import('components/User/Cart/'),
    Breadcrumbs: () => import('components/Layout/Breadcrumbs')
  },
  methods: {
    editForm (type) {
      this.activeForm = type
    },
    checkOrder () {
      this.$root.$emit('currentOrderForm', 'delivery')
    },
    submitForm (type) {
      if (type !== null) {
        const names = Object.keys(this.forms)

        //  next form
        const nextForm = names[names.indexOf(type) + 1]

        if (nextForm) {
          this.activeForm = nextForm
        } else {
          // this.checkOrder()
        }
      } else {
        // this.checkOrder()
      }
    }
  },
  data () {
    return {
      rulesChecked: true,
      order: {},
      activeForm: 'delivery',
      forms: {
        delivery: {
          filled: false
        },
        contacts: {
          filled: false
        }
      },
      items: [
        {
          name: 'Корзина',
          url: '/order'
        }
      ]
    }
  },
  created () {
    this.$root.$emit('checkDeliveryForm', true)

    this.order = Order.from(this.user.cart)
    this.order.status = 'Новый'
    this.$root.$on('currentOrderForm', this.submitForm)
    if (!this.user.cart.length) {
      this.$router.push({ name: ROUTE_HOME })
    }
  }
}
</script>

<style lang="scss" scoped>
.button {
  display: flex;
  margin-top: 10px;
}
</style>
