<template lang="html">
<div v-if="showCity" class="city-selector">
  <Map v-if="showMap"/>
  <q-input
    v-if="!showMap"
    v-model="search"
    outlined
    dense="dense"
    class="absolute-top full-width q-pa-sm"
    label="Поиск города"
  />
  <div id="menu">
    <div  v-if="!showMap" @click="showAddress = !showAddress">
      <a class="city"
         v-for="city in cities" :key="city.id"
         @click="getCityId(city.id); getCityDomain(city.domain)"
         :href="getCityUrl"
         :class="{'current-city': currentCity.name === city.name, 'not_matched': !isMatched(city)}"
         :style="{ '--arrow': arrowChange(city.id) }"
      >
        {{ city.name }}
        <span v-if="showAddress && city.id === cityId">
            <a
              v-for="shop of city.shops" :key="shop.id"
              :class="{'current-shop': shop === currentCity.shop}"
              @click="setShop(shop); selectedShopNotify (city, shop)"
            >
              {{ shop.address }}
            </a>
          </span>
      </a>
    </div>
    <div class="maps-btn" :class="{'absolute': absolute}">
      <q-btn @click="showMap = !showMap" align="center" outline no-caps color="primary" :icon-right="iconForButton" :label="labelForButton" />
    </div>
  </div>
</div>
</template>

<script lang="js">
import Vue from 'vue'
import { mapActions, mapGetters } from 'vuex'
import { CITIES, CITY, NS_CITY, SET_SHOP, SHOPS_BY_CITY } from 'src/store/Cities'
import { scroll } from 'quasar'

const { getScrollPosition } = scroll

export default {
  components: {
    Map: () => import('../Map')
  },
  data: () => ({
    domain: process.env.BASE_DOMAIN,
    search: '',
    resizeObserver: null,
    absolute: false,
    showAddress: false,
    showCity: false,
    showMap: false,
    cityId: null,
    cityDomain: ''
  }),
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/'),
      cities: [NS_CITY, CITIES].join('/'),
      currentCity: [NS_CITY, CITY].join('/'),
      shops: [NS_CITY, SHOPS_BY_CITY].join('/')
    }),
    filtered () {
      return this.cities.filter(city => {
        return new RegExp('(' + [this.search, Vue.translate(this.search)]
          .join('|') + ')', 'i')
          .test(city.name)
      })
    },
    getCityUrl () {
      if (this.currentCity.domain !== this.cityDomain) {
        return `//${this.cityDomain}.${this.domain}/`
      }
      return '#'
    },
    labelForButton () {
      return !this.showMap ? 'Выбрать на карте' : 'Выбрать из списка'
    },
    iconForButton () {
      return !this.showMap ? 'map' : 'list'
    }
  },
  methods: {
    ...mapActions({
      setShop: [NS_CITY, SET_SHOP].join('/')
    }),
    getCityId (id) {
      this.cityId = id
    },
    getCityDomain (domain) {
      this.cityDomain = domain
    },
    arrowChange (id) {
      return this.showAddress && id === this.cityId ? '\'keyboard_arrow_up\'' : '\'keyboard_arrow_down\''
    },
    handleScroll () {
      const menuHeight = document.getElementById('menu').offsetHeight + document.getElementById('menu').offsetTop - getScrollPosition(window)
      this.absolute = window.innerHeight >= menuHeight
    },
    isMatched (city) {
      return new RegExp('(' + [this.search, Vue.translate(this.search)]
        .join('|') + ')', 'i')
        .test(city.name)
    },
    showCities (bool) {
      this.showCity = bool
    },
    selectedShopNotify (city, shop) {
      if (this.$q.screen.width < 960) {
        this.$q.notify({
          color: 'primary',
          position: 'top',
          message: `Выбран: ${city.name}, ${shop.address}`,
          timeout: 1000
        })
      }
    }
  },
  created () {
    window.addEventListener('scroll', this.handleScroll)
    this.$root.$on('showCities', this.showCities)
  },
  mounted () {
    this.resizeObserver = new ResizeObserver(this.handleScroll)
    this.resizeObserver.observe(document.getElementById('menu'))
  },
  beforeDestroy () {
    this.resizeObserver.disconnect()
    window.removeEventListener('scroll', this.handleScroll)
  }
}
</script>

<style lang="scss" scoped="scoped">

#menu {
  position: relative;
  margin-top: 50px;
  width: 100vw;
  height: 100vh;
  overflow-x: scroll;
  background: white ;
  padding-bottom: 150px;
}

.city-selector {
  position: fixed;
  left: 0;
  height: 70vh;
  background-color: var(--color-white);
  color: var(--color-black-dark);
  font-size: var(--font-size);
}

.map {
  margin-top: 0;
  height: 400px;
}

.maps-btn {
  position: fixed;
  height: 45px;
  text-align: center;
  line-height: 45px;
  background-color: var(--color-grey-light);
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.3);
  bottom: 0;
  right: 0;
  left: 0;

  .q-btn {
    width: 90vw;
  }

  &.absolute {
    position: absolute;
  }
}

.city {
  --arrow: 'keyboard_arrow_down';

  display: block;
  outline: none;
  width: 95vw;
  line-height: 45px;
  position: relative;
  margin: auto;
  cursor: pointer;

  & > span a {
    display: block;
    color: var(--color-black);
    padding-left: 15px;
    transition: background-color .2s ease-in-out;
    &:hover:not(.current-shop) {
      border-right: 2px;
      background: var(--color-grey-light);
      color: var(--color-black-dark);
    }
    &.current-shop {
      position: relative;
      color: var(--color-blue-primary);
      &:before {
        content: 'place';
        font-family: 'Material Icons', serif;
        position: absolute;
        left: -5px;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  &:after {
    position: absolute;
    top: 0;
    right: 0;
    font-family: 'Material Icons', serif;
    content: var(--arrow);
    color: var(--color-grey-dark);
    font-size: 24px;
  }
  &.not_matched {
    opacity: .2;
  }

  &.active {
    color: var(--color-blue-primary);
  }
  &.current-city {
    color: var(--color-blue-primary);
  }
}
</style>
