<template lang="html">
    <div class="advantages">
      <span class="title">{{ title }}: </span>
      <div>
        <q-tooltip v-if="!isTouch" anchor="bottom middle">
          Мы предлагаем оптимальные цены на все группы товаров
        </q-tooltip>
        Выгодная цена
      </div>
      <div>
        <q-tooltip v-if="!isTouch" anchor="bottom middle">
          Работаем только с надежными и проверенными производителями, вся продукция сертифицирована
        </q-tooltip>
        Гарантия качества
      </div>
      <div>
        <q-tooltip v-if="!isTouch" anchor="bottom middle">
          Гарантируем безопасную онлайн оплату
        </q-tooltip>
        Онлайн оплата
      </div>
    </div>
</template>

<script lang="js">
export default {
  name: 'ReviewText',
  props: {
    title: String
  },
  computed: {
    isTouch () {
      return this.$q.platform.has.touch
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";
@import 'src/css/mixins.scss';

.title {
  @extend .title;
}

.advantages {
  color: var(--color-grey-dark);
  font-size: calc(var(--font-size) + 2px);
  > div {
    cursor: pointer;
    &:before {
      font-family: 'Material Icons', serif;
      vertical-align: bottom;
      padding-right: 5px;
    }
    &:nth-child(2):before {
      content: 'local_atm';
    }
    &:nth-child(3):before {
      content: 'check_circle';
    }
    &:nth-child(4):before {
      content: 'payment';
    }
  }
  div:nth-of-type(1), div:nth-of-type(2) {
    margin-bottom: 10px;
  }
  .title {
    @extend .title;
    width: 100%;
  }
}

@media (max-width: $width-800) {
  .advantages {
    display: inline-block;
    width: 50%;
  }
}

@media (max-width: $width-480) {
  .advantages {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    div {
      text-align: center;
      font-size: var(--font-size);
      margin-bottom: 0 !important;
      &:before {
        font-size: 18px;
        display: block;
      }
    }
  }
}

@media (max-width: $width-380) {
  .advantages {
    flex-flow: column nowrap;

    div {
      font-size: var(--font-size);
      align-self: baseline;
      line-height: 36px;
      &:before {
        display: inline;
        font-size: calc(var(--font-size) + 4px);
      }
    }
  }
}

</style>
