<template lang="html">
  <div>
    <span class="title">{{ title }}:</span>
    <div class="row" v-for="(delivery, id) in product.getDelivery" :key="id">
      <p>{{ delivery.name }}: </p>
      <p>{{ delivery.date }}</p>
    </div>
  </div>
</template>

<script lang="js">
export default {
  name: 'Delivery',
  props: {
    product: {},
    title: String
  }
}
</script>

<style scoped="scoped" lang="scss">
@import 'src/css/vars';
@import 'src/css/mixins';

* {
  font-size: calc(var(--font-size) + 2px);
}

.title {
  @extend .title;
}

.row {
  margin-bottom: 10px;

  p {
    margin: 0;

    &:first-child {
      color: var(--color-grey-medium);
      margin-right: 5px;
    }
  }
}
//span {
//  font-size: calc(var(--font-size) + 4px);
//  color: var(--color-black-dark);
//  font-weight: 500;
//  display: block;
//  margin: 15px 0;
//}

@media (max-width: $width-800) {
 .delivery {
    display: inline-block;
    width: 50%;
  }
}

@media (max-width: $width-480) {
  * {
    font-size: var(--font-size);
  }
}

@media (max-width: $width-400) {
  .delivery {
    width: 100%;
  }
  * {
    font-size: calc(var(--font-size) - 1px);
  }
}
</style>
