<template lang="html">
  <div v-if="text !== null">
    <span v-if="title" class="title">{{ title }}</span>
      <span>{{ text }}</span>
  </div>
</template>
<script lang="js">
export default {
  name: 'Description',
  props: {
    text: {},
    title: {}
  }
}
</script>
<style scoped="scoped" lang="scss">
@import 'src/css/mixins.scss';

.title {
  @extend .title;
}
  div {
    > span {
    display: block;
    line-height: 19px;
  }
}
</style>
