<template lang="html">
  <div>
    <slider-vertical
      v-if="0 && $q.screen.width > 960"
      @selectImage="selectedImage = $event"
      :slideCount="4"
      :slideList="product.gallery"
    />

    <div :class="{'product-new': product.new}"></div>
    <div
      @mouseenter="mouseEnter = true"
      @mouseleave="mouseEnter = false"
      class="image">

      <template v-if="$q.screen.width > 800">
        <q-img
            v-if="!imageLoaded"
            @load="imageLoaded = true"
            :src="curImage"
            contain
            height="100%"
            width="100%"
            class="border"
        >
          <template v-slot:loading>
            <q-spinner
              color="grey-9"
              size="60px"
              :thickness="1"
            />
          </template>
          <template v-slot:error>
            <img :src="product.getDefaultImage" alt="product" />
          </template>
        </q-img>
        <zoom-image v-if="imageLoaded" class="border" :product="product" :img-normal="curImage" />
      </template>

      <q-carousel
        v-if="$q.screen.width < 800"
        v-model="slide"
        :autoplay="!$q.platform.has.touch && mouseEnter ? 2500 : false"
        swipeable
        animated
        navigation
        navigation-position="bottom"
        control-color="grey-6"
        transition-prev="slide-right"
        transition-next="slide-left"
        infinite
        height="auto"
      >
        <q-carousel-slide :name="1">
          <q-img
            contain
            :src="curImage"
            height="100%"
            width="100%"
          >
            <template v-slot:loading>
              <q-spinner
                color="grey-9"
                size="60px"
                :thickness="1"
              />

            </template>
            <template v-slot:error>
              <img :src="product.getDefaultImage" alt="product" />
            </template>
          </q-img>
        </q-carousel-slide>
        <q-carousel-slide :name="2">
          <q-img
            contain
            :src="curImage"
            height="100%"
            width="100%"
          >
            <template v-slot:loading>
              <q-spinner
                color="grey-9"
                size="60px"
                :thickness="1"
              />

            </template>
            <template v-slot:error>
              <img :src="product.getDefaultImage" alt="product" />
            </template>
          </q-img>
        </q-carousel-slide>

      </q-carousel>
    </div>
  </div>
</template>

<script lang="js">
import { Product } from 'src/model/Product'

export default {
  name: 'ProductImage',
  props: {
    product: Product
  },
  components: {
    SliderVertical: () => import('components/Catalog/Product/SliderVertical'),
    ZoomImage: () => import('components/Catalog/Product/ZoomImage')
  },
  computed: {
    curImage () {
      if (this.selectedImage !== null) {
        return this.selectedImage
      } else {
        return this.product.getSrc()
      }
    }
  },
  methods: {
    selectImage (src) {
      this.selectedImage = src
    },
    created () {
      this.load()
    },
    updated () {
      this.load()
    }
  },
  data () {
    return {
      imageLoaded: false,
      selectedImage: null,
      mouseEnter: false,
      slide: 1
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import 'src/css/vars';
.height-100 {
  height: 100%;
}
  .border {
    border: 1px solid var(--color-grey);
    //padding: 30% 25px;
  }

.image {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 75%;

  .product-new {
    font-size: calc(var(--font-size) + 2px);
    &:before {
      content: 'Новинка';
      position: absolute;
      display: block;
      right: 20px;
      top: 10px;
      width: 120px;
      background: var(--color-green);
      border-radius: 2px;
      color: var(--color-white);
      text-align: center;
      line-height: 26px;
      z-index: 10;
    }
  }

  > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
@media (max-width: $width-700) {
    div {
      width: 80%;
      margin: 0 auto;
    }
  }

@media (max-width: $width-800) {
  .image {
    border: none;
    padding-top: 30%;
  }
}
</style>
