<template>
  <q-img
    class="img-card"
    :width="width"
    contain
    :src="product.getSrc(size, size)"
    :srcset="product.getSetSrc(size, size)"
  >
    <template v-slot:error>
      <div class="back" :style="'background: url(' + product.getDefaultImage + ')'"></div>
    </template>
  </q-img>
</template>
<script>
export default {
  name: 'ImageWrapper',
  props: {
    product: {},
    size: {
      required: false,
      default: 200
    }
  },
  computed: {
    width () {
      return this.size + 'px'
    }
  }
}
</script>
<style lang="scss" scoped="scoped">
.img-card {
  .back {
    display: block;
    width: 100%;
    background-size: contain !important;
    height: 100%;
  }
}
</style>
