<template>
  <div class="property-list">
    <table class="property-list__table">
      <tr v-for="(property, id) in properties" :key="id">
        <td>{{ property[0] }}:</td>
        <td>{{ property[1] }}</td>
      </tr>
    </table>
    <div v-if="0 && !show && showControls" class="property-list__gradient"></div>
    <div
      v-if="0 && showControls"
      @click="show = !show"
      class="card__description__show padding"
    >
      {{ textShow }}
    </div>
  </div>
</template>
<script>
export default {
  name: 'PropertyList',
  props: {
    product: {}
  },
  data () {
    return {
      maxShowProps: 8,
      show: false,
      textShow: 'Показать больше'
    }
  },
  methods: {
    showLine (id) {
      return id < this.maxShowProps
    }
  },
  computed: {
    properties () {
      return Array.from(this.product.properties)
    },
    showControls () {
      return this.properties.length > this.maxShowProps
    },
    propertyList () {
      if (this.show) {
        return this.properties
      } else {
        return this.properties.slice(0, this.maxShowProps)
      }
    }
  },
  watch: {
    show () {
      if (!this.show) {
        this.textShow = 'Показать больше'
      } else this.textShow = 'Скрыть'
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
@import 'src/css/vars';

.property-list {
  position: relative;

  &__table {
    width: 100%;
    box-sizing: border-box;

    td {
      position: relative;
      border-bottom: 1px dashed #cccccc;

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
      }

      &:first-child {
        color: var(--color-grey-dark);
        font-size: var(--font-size);
        padding-bottom: 10px;
      }

      &:last-child {
        color: var(--color-black);
        font-size: var(--font-size);
        text-align: end;
      }
    }
  }

  &__gradient {
    background: linear-gradient(rgba(255, 255, 255, 0) 10%, #ffffff 90%);
    height: 40px;
    position: absolute;
    top: 82%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

.padding {
  font-size: 13px;
  font-weight: 400;
  cursor: pointer;
  text-decoration: underline dashed;
  position: relative;

  &:hover {
    text-decoration: none;
  }
}
</style>
