<template>
  <div>
    <div>
      <span class="title">Отзывы</span>
      <p>Отзывов пока нет</p>
    </div>
    <div>
      <button>Написать отзыв</button>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Reviews',
  props: {
    reviews: {}
  },
  data () {
    return {
      slide: 0
    }
  },
  created () {

  }
}
</script>
<style scoped lang="scss">
@import 'src/css/mixins.scss';

.title {
  @extend .title;
}

</style>
