<template lang="html">
  <div>
    <span class="title">Размеры:</span>
    <p>
      <span
          v-for="offer in product.sizes" :key="offer.id"
          @click="setOffer(offer)"
          :class="{'active': active === offer, 'unavailable': !offer.isAvailable, 'in-cart': offer.inCart }"
      >
      {{ offer.name }}
    </span>
  </p>
  </div>
</template>
<script lang="js">
import { Product } from 'src/model/Product'
export default {
  name: 'Sizes',
  props: {
    product: {
      type: Product
    },
    offerInCart: {
      type: Boolean
    }
  },
  data () {
    return {
      active: null
    }
  },
  methods: {
    setOffer (offer) {
      if (offer.isAvailable) {
        this.active = offer
        this.$emit('setOffer', offer)
      }
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
@import 'src/css/mixins.scss';

.title {
  @extend .title;
}

div {
  margin-bottom: 10px;
}

p {
  span {
    position: relative;
    display: inline-block;
    color: var(--color-grey-dark);
    border: 1px solid var(--color-grey);
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: none;
    padding: 4px 10px;
    min-height: 0;
    border-radius: 3px;
    cursor: pointer;
    user-select: none;

    &.active {
      border-color: var(--color-red);
    }

    &.unavailable {
      background-color: var(--color-grey-light);
      border-color: var(--color-grey-light);
      color: var(--color-grey);
      cursor: inherit;
    }

    &.in-cart {
      border-color: var(--color-grey);
      color: #2f9324;
    }
  }
}

@media (max-width: $width-960) {
  .size-select {
    background: var(--color-white);
    box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 4px 0px;
  }
  .title {
    color: var(--color-black-dark);
    margin-left: 10px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  div {
    margin-bottom: 0;
  }
  p {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
    margin: auto;
    padding: 5px;

    span {
      margin: 5px;
      text-align: center;
      flex: 1 1 auto;
    }
  }
}

</style>
