<template lang="html">
  <q-carousel
    v-model="slide"
    vertical
    transition-prev="slide-down"
    transition-next="slide-up"
    navigation-icon="radio_button_unchecked"
    swipeable
    animated
    infinite
    control-color="primary"
    ref="carousel"
  >
    <template v-slot:control v-if="0">
      <q-carousel-control
        position="bottom-right"
        :offset="[18, 18]"
        class="q-gutter-xs q-carousel__slide-controls"
      >
        <i @click="$refs.carousel.previous()"></i>
        <i @click="$refs.carousel.next()"></i>
      </q-carousel-control>
    </template>
    <q-carousel-slide v-for="(slides, id) in slider" :key="id" :name="id" class="column">
      <div
        @mouseover="selectImage(slide, idx)"
        v-for="(slide, idx) in slides" :key="idx"
        :class="{'active': activeSlide === idx}"
        class="q-carousel__slide-block justify-start items-center q-col-gutter"
      >
        <q-img class="col-6" :src="slide">
          <template v-slot:error>
            <div class="error" :style="'background: url(img/no-image.webp)'"></div>
          </template>
        </q-img>
      </div>
    </q-carousel-slide>
  </q-carousel>
</template>
<script>
import chunkArray from 'src/utils/chunkArray'

export default {
  name: 'SliderVertical',
  props: {
    slideList: {
      type: Array
    },
    slideCount: {}
  },
  data () {
    return {
      slide: 0,
      activeSlide: 0,
      slider: []
    }
  },
  created () {
    this.slider = chunkArray(this.slideList.slice(), this.slideCount)
  },
  methods: {
    selectImage (src, id) {
      this.activeSlide = id
      this.$emit('selectImage', src)
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
.q-img{
  min-height: 98px;
}

.error {
  width: 100%;
  height: 100%;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.q-carousel{
  height: inherit;

  &__slide-controls{
    top: 7px;
    right: auto;
  }

  &__slide{
    padding-left: 0;
    padding-top: 0;
    flex-wrap: nowrap !important;
  }

  &__slide-block{
    width: 68px;
    height: 10px;
    margin-top: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid var(--color-grey);
  }

  &__slide-block.active{
    border: 1px solid var(--color-grey);
  }
}
</style>
