<template lang="html">
  <div ref="slider">
    <span v-if="title" class="title">{{ title }}</span>
    <q-carousel
      v-model="slideNum"
      height="auto"
      transition-prev="slide-right"
      transition-next="slide-left"
      swipeable
      animated
      infinite
      control-color="primary"
      ref="carousel"
    >
      <template v-if="slides.length > 1" v-slot:control>
        <i @click="$refs.carousel.previous()" class="icon-left"></i>
        <i @click="$refs.carousel.next()" class="icon-right"></i>
      </template>
      <q-carousel-slide
        class="q-pa-none"
        v-for="(slide, id) in slides" :key="id"
        :name="id"
      >
        <products-listing
          :cardsCount="cardsCount"
          :products="slide"
          :showHover="false"
        />
      </q-carousel-slide>
    </q-carousel>
  </div>

</template>
<script lang="js">
import chunkArray from 'src/utils/chunkArray'
import cardsCountCalculate from 'src/utils/cardSizeCalculate'

export default {
  name: 'SliderHorizontal',
  props: {
    products: {
      type: Array
    },
    size: {
      required: false
    },
    title: {
      type: String,
      required: false,
      default: null
    }
  },
  components: {
    ProductsListing: () => import('./../Category/Listing')
  },
  data () {
    return {
      slideNum: 0,
      cards: 1,
      sliderWidth: 0
    }
  },
  watch: {
    '$q.screen.width': {
      handler () {
        this.sliderWidth = this.$refs.slider.clientWidth
      }
    }
  },
  computed: {
    cardsCount () {
      return cardsCountCalculate({
        areaWidth: this.sliderWidth
      })
    },
    slides () {
      return this.cardsCount ? chunkArray(this.products, this.cardsCount) : []
    }
  },
  mounted () {
    this.sliderWidth = this.$refs.slider.clientWidth
  }
}
</script>
<style scoped="scoped" lang="scss">
@import 'src/css/vars';
@import 'src/css/mixins';

::v-deep .products {
  margin-top: 0 !important;
  .card {
    margin-bottom: 0;
    min-width: 165px;
    &:only-child {
      max-width: 100%;
      //border: none;
    }
  }
}

.title {
  @extend .title;
}

.q-carousel {
  width: 100%;
  i {
    width: 50px;
    cursor: pointer;
    padding: 1px 20px;
    font-size: 40px;
    color: var(--color-grey-dark);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    transition: color .5s ease;

    &:before {
      top: 0;
      bottom: 0;
      opacity: .4;
    }
  }
}

*[class*="icon-"] {
  &:before {
    background: var(--color-grey-light);
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    width: 90px;
    height: 70px;
    line-height: 70px;
    z-index: 100;
  }
}

.icon-left:before {
  content: 'navigate_before';
  margin-left: -50px;
  padding-left: 40px;
  border-radius: 0 150% 150% 0;
  transition: all .5s ease;
}

.icon-right:before {
  content: 'navigate_next';
  margin-right: -50px;
  padding-right: 40px;
  border-radius: 150% 0 0 150%;
  transition: all .5s ease;
}
.icon-right{
  left: initial;
  right: 0;
}
.icon-left, .icon-right{
  &:hover {
    &:before {
      opacity: 1;
      background: var(--color-grey-light);
    }
  }
}
.price {
  color: var(--color-red);
  font-size: calc(var(--font-size) + 3px);

  &:after {
    content: "\20BD";
    font-family: "PTSans", serif;
    margin-left: 5px;
  }
}

</style>
