<template>
  <q-carousel
    v-if="slides.length"
    swipeable
    draggable="false"
    animated
    :navigation="true"
    v-model="slideNum"
    ref="carousel"
    infinite
  >
    <template v-slot:control>
      <i @click="prev" class="material-icons icon back-icon slide-move"/>
      <i @click="next" class="material-icons icon forward-icon slide-move"/>
    </template>
    <template v-slot:navigation-icon="{ active, btnProps, onClick }">
      <i
        @click="onClick"
        class="material-icons icon control"
        :class="{'active': active }"
      />
    </template>
    <q-carousel-slide class="slide" v-for="slide in slides" :key="slide.id" :name="slide.id" >
      <div class="slide__text">
        <h2>{{ slide.name }}</h2>
        <span>{{ slide.description }}</span>
        <router-link class="grad1__catalog-button" to="/catalog/igrushki">
          Перейти в каталог
          <i class="material-icons forward-icon"/>
        </router-link>
      </div>
      <q-img class="main" contain :width="imgWidth" :src="slide.src"/>
    </q-carousel-slide>
  </q-carousel>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'
import { ROUTE_CATALOG } from 'src/router/routes'

export default {
  data () {
    return {
      slideNum: 0,
      ROUTE_CATALOG: ROUTE_CATALOG,
      overlay: false,
      width: 0,
      timeoutId: false
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    slides () {
      return this.user.slider
    },
    imgWidth () {
      if (this.width < 1280) {
        return (this.width / 3) + 'px'
      }
      return '45%'
    }
  },
  methods: {
    slideName (slide, separator) {
      const slideNameArray = slide.name.split(separator)
      slideNameArray[1] = separator + slideNameArray[1]
      return slideNameArray
    },
    prev () {
      if (this.slideNum > 0) {
        this.slideNum--
      } else {
        this.slideNum = this.user.slider.length - 1
      }
    },
    next () {
      if (this.slideNum < this.user.slider.length - 1) {
        this.slideNum++
      } else {
        this.slideNum = 0
      }
    }
  },
  watch: {
    '$q.screen.width' () {
      this.width = this.$q.screen.width
    },
    slideNum () {
      this.$emit('slideNum', this.slideNum)
    }
  },
  created () {
    this.width = this.$q.screen.width
  }
}
</script>
<style lang="scss" scoped>
$padding-inner: 80px;
$background: inherit !important;

@import 'src/css/new_layout';

h2 {
  font-weight: bolder;
}

.icon {
  position: absolute;
  color: rgba(255, 255, 255, 0.72);
  font-size: 27px;
  cursor: pointer;
}

.icon.slide-move {
  top: 30%;
}

.back-icon {
  &:before {
    content: 'arrow_back_ios';
  }
  &:after {
    content: 'arrow_back_ios';
    margin: -18px;
  }
}

.forward-icon {
  left: calc(100% - 30px);

  &:before {
    content: 'arrow_forward_ios';
  }
  &:after {
    content: 'arrow_forward_ios';
    margin: -18px;
  }
}

.control {
  color: rgba(73, 91, 217, 0.13);
  font-size: 17px;
  position: relative;
  cursor: pointer;
  content: 'brightness_1';
  width: 10px;

  &:first-child {
    left: -10px;
  }

  &:before {
    content: 'brightness_1';
  }
}

.grad1 {
  &__inner {
    max-height: 850px;
  }

  &__catalog-button {
    background-color: black;
    padding: 17px;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 0.5px;

    &:hover {
      background-color: #e11f26;
    }

    i {
      font-size: 20px;

      &:after {
        margin: -12px;
      }
    }
  }

  &__slider {
    position: relative;
  }

  .slide {
    position: relative;
    display: flex;
    padding: 10%;
    padding-top: 125px;
    padding-left: 140px - $padding-inner;

    &__text {
      width: 516px;
      height: 108px;
      left: 140px;
      top: 273px;
      font-style: normal;
      font-size: calc(var(--font-size) + 13px);
      line-height: 54px;
      align-items: center;
      letter-spacing: -1.08px;
      color: #FFFFFF;

      span {
        display: block;
        max-width: 465px;
        font-size: 16px;
        line-height: 22px;
        margin-top: 44px;
        margin-bottom: 50px;
        letter-spacing: 0.5px;
      }
    }
  }
}

::v-deep {
  .q-btn {
    width: 208px;
    height: 51px;
    background: black !important;
    border-radius: 13px;
  }

  .q-img.main {
    width: 50%;
    max-width: 500px;
    position: absolute;
    left: calc(50% + 10px);
    top: 80px;
  }

  .header {
    background-color: $background;
  }

  .header-icons button {
    background-color: $background;

    i {
      background-color: $background;

      &:hover {
        color: red !important;
      }
    }
  }
}

@media (max-width: $width-960) {
  .grad1 {
    .q-img.main {
      position: relative;
      left: 0;
    }
  }
}

@media (max-width: $width-767) {
  .grad1 {
    .q-img.main {
      display: none;
    }

    .slide {
      padding: 10%;
      min-height: auto;
      padding-bottom: 315px;
    }
    .control {
      top: 50px;
    }
  }

  ::v-deep {
    .q-carousel {
      min-height: auto;
    }

    .q-carousel__control {
      overflow: initial;
    }
  }

  .icon.slide-move {
    display: none;
  }
}

@media (max-width: $width-480) {
  .controls {
    top: 40px;
  }

  .inner {
    padding: 5%;
  }

  .grad1 {
    .slide {

      &__text {
        span {
          margin: 0;
        }
      }
    }

    &__inner {
      padding: 0;
    }

    &__catalog-button {
      padding: 1em;
    }
  }
}
</style>
