@import 'src/css/vars';
:root {
  --font-size: 14px;
  --color-grey-dark: #615F5F;
  --color-grey-medium: #919191;
  --color-grey-light: #F2F2F2;
  --color-grey: #BFBFBF;
  --color-blue: #2660A5;
  --color-blue-dark: #245285;
  --color-blue-primary: #1976D2;
  --color-red: #E42426;
  --color-green: #64DD17;
  --color-black: #555555;
  --color-black-dark: #000000;
  --color-white: #FFFFFF;

  --text-white: var(--color-white);
  --text-grey: var(--color-grey-medium);
  --text-grey-light: var(--color-grey-light);

  --internal-padding-y: 5px;
  --internal-padding-x: 15px;

  --border-color-grey: #E7E4E4;

  --mobile-menu-height: 58px;
  --mobile-bar-height: 45px;
  --mobile-top-height: calc(var(--mobile-bar-height) + var(--mobile-menu-height));

}

html,
body {
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  overflow-y: visible;
}
li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

.wrapper {
  width: 100%;
  min-height: calc(100vh - 502px);
  margin: 0 auto;
  box-sizing: border-box;
}

.rub {
  font-family: RubPTSans, Arial, serif;
  &:empty {
    display: none;
  }
/*  &:after {
    content: ' руб';
    font-family: RubPTSans, serif;
    font-weight: normal;
    font-size: inherit;
  }*/
}

.yandex-map {
  width: 100%;
  height: 370px;
}

//--------------FOOTER--------------
.v-expansion-panel-header,
.v-expansion-panel-content__wrap{
  padding: 0 !important;
}

.w-20 {
  width: calc(20% - 25px);
}

.w-25 {
  width: calc(25% - 25px);
}

.w-30 {
  width: calc(32.9% - 15px);
}

.w-50 {
  width: calc(50% - 15px);
}

//--------------FOOTER--------------
.mobile{
  display: none;
}

.not-mobile{
  display: block;
}
.hidden {
  display: none;
}
.q-menu.scroll {
  overflow: initial !important;
  max-height: initial !important;
}

a {
  img[src="img/no-image.webp"] {
    position: absolute;
    margin: auto;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    max-width: 100%;
  }
}

img[src="img/no-image.webp"] {
  position: absolute;
  margin: auto;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  max-width: 100%;
}
@media (max-width: $width-640) {
  .w-20,.w-30,.w-50 {
    width: 100%;
  }
}

//@media (max-width: $width-960) {
//  .wrapper {
//    margin-top: var(--mobile-bar-height);
//  }
//}

@media (min-width: $width-1660) {
  .wrapper {
    max-width: 1560px;
  }
}


