@import "src/css/vars";
.icon {
  user-select: none;
  font-family: 'Material Icons', serif;
  font-size: calc(var(--font-size) + 6px);
  font-style: normal;
  color: var(--color-grey);
  cursor: pointer;
  transition: color .3s ease;

  &.active, &.active:hover {
    color: var(--color-red);
  }
  &:hover {
    color: var(--color-grey-dark);
  }
}

.outlined {
  font-family: 'Material Icons Outlined', serif;
}

.title {
  font-size: calc(var(--font-size) + 3px);
  color: var(--color-black-dark);
  display: block;
  margin: 15px 0;
}
