/* hd-desktop */
@import "vars";

@media (min-width: 1920px) {
  .header-city {
    font-size: 14px;
  }
  .header-city-toggle {
    font-size: 14px;
  }
  .header-choice-button {
    background-size: 35%;
  }
  .long {
    word-break: normal;
  }
  #video {
    left: calc((100% - 1920px) / 2);
  }
}

/* desktop */
@media (min-width: 1101px) and (max-width: 1920px) {
  .header-city {
    font-size: 14px;
  }
  .header-city-toggle {
    font-size: 14px;
  }
  .header-choice-button {
    background-size: 35%;
  }

  .cat-section:first-child {
    margin-left: 0;
  }
  .cat-section:last-child {
    margin-right: 0;
  }
  #video {
    left: 0;
  }
}

/* tablet */
@media (min-width: 670px) and (max-width: 1100px) {
  #video {
    display: none;
  }
  .cat-section:first-child {
    margin-left: 0;
  }
  .cat-section:last-child {
    margin-right: 0;
  }
}

/* mobile */
@media (max-width: 669px) {
  #video {
    display: none;
  }
  .cat-section:first-child {
    margin-left: 0;
  }
  .cat-section:last-child {
    margin-right: 0;
  }
}

@media (max-width: $hideAside) {
  .mobile {
    display: block;
  }

  .not-mobile {
    display: none !important;
  }
}
