@import 'src/css/vars';
@import 'src/css/mixins';
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.title {
  font-family: 'Comfortaa', cursive;
}

.inner {
  font-family: 'Raleway';
  max-width: $width-1280;
  margin: auto;
  padding-bottom: 36px;
}

h2 {
  position: relative;
  font-family: 'Comfortaa', cursive;
  color: inherit;
  font-size: 42px;
  letter-spacing: -1.0800000429153442px;
  line-height: 54px;
}


@media (max-width: 767px) {
  h2 {
    font-size: 40px;
    line-height: normal;
  }

  h2.page-title {
    font-size: 35px;
  }
}

h2.page-title {
  &:before {
    position: absolute;
    content: ' ';
    width: 52px;
    height: 11px;
    background: #000000;
    border-radius: 9px;
    top: 65px;
  }
}
