$width-320: 320px;
$width-360: 360px;
$width-365: 365px;
$width-380: 380px;
$width-400: 400px;
$width-440: 440px;
$width-460: 460px;
$width-480: 480px;
$width-500: 500px;
$width-600: 600px;
$width-640: 640px;
$width-700: 700px;
$width-767: 767px;
$width-800: 800px;
$width-990: 990px;
$width-960: 960px;
$width-961: 961px;
$width-1100: 1100px;
$width-1180: 1180px;
$width-1280: 1280px;
$width-1600: 1600px;
$width-1660: 1660px;

$hideAside: 960px;

$mobileMenuHeight: 58px;
$mobileBarHeight: 45px;

$mobileTopHeight: $mobileMenuHeight + $mobileBarHeight;
