<template>
  <div class="address">
    <div v-if="delivery.address" class="row">
      <span>Адрес:</span>&nbsp;
      <div>{{ delivery.address }}</div>
      <a class="address__link" @click="showMap">на карте</a>
    </div>
    <div class="row">
      <span>Стоимость доставки:</span>&nbsp;
      <div :class="{'rub': delivery.price !== null}">
        {{ delivery.getPrice }}
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'

export default {
  name: 'DeliveryAddress',
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    delivery () {
      return this.user.order.delivery
    }
  },
  methods: {
    showMap () {
      if (this.$q.screen.width < 767) {
        this.$root.$emit('showCities', true)
      } else {
        this.$root.$emit('showCitiesComponent', true)
      }
    }
  }
}
</script>
<style lang="scss" scoped>
@import 'src/css/vars';
.address {
  span {
    color: #676767;
  }

  div {
    font-weight: 600;
    color: var(--color-blue);
  }

  &__link {
    cursor: pointer;
    color: var(--color-blue);
    margin-left: auto;
    border: 2px solid var(--color-blue);
    font-weight: 600;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;

    &:hover {
      color: white;
      background-color: var(--color-blue);
    }
  }
}

@media (max-width: 767px) {
  .address {
    .row {
      margin-bottom: 5px;
    }

    div {
      display: inherit;
    }

    &__link {
      position: absolute;
      left: 55px;
      margin-top: -70px;
    }
  }
}
</style>
