<template>
  <div>
    <div class="flex order_form__line">
      <div class="order_form__title">
        {{ chosenDelivery.name }}
        <span class="order_form--time">{{ chosenDelivery.datetime }}</span>
        <span class="order_form--price">{{ chosenDelivery.price }}</span>
        <i class="material-icons-outlined tab-icons md-30">local_shipping</i>
      </div>
      <div class="order_form__change_form">
        <div @click="onEdit" class="change">Изменить</div>
      </div>
    </div>
    <delivery-types/>
    <delivery-address/>
    <div v-if="chosenDelivery.address" class="order_form--time">
      {{ chosenDelivery.address }}
    </div>
  </div>
</template>
<script>

export default {
  name: 'delivery',
  components: {
    DeliveryTypes: () => import('components/User/Order/Delivery/Types/'),
    DeliveryAddress: () => import('components/User/Order/Delivery/Address')
  },
  methods: {
    checkDelivery (data) {
      this.chosenDelivery = data.delivery
      this.chosenDelivery.address = data.address

      if (this.filled) {
        this.$root.$emit('currentOrderForm', null)
        return false
      } else {
        this.$root.$emit('currentOrderForm', 'delivery')
      }
      this.filled = true
    },
    onEdit () {
      this.filled = false
      this.$emit('editForm', 'delivery')
    }
  },
  data () {
    return {
      chosenDelivery: {
        name: 'Способ доставки',
        address: null
      },
      filled: false
    }
  }
}
</script>
<style lang="scss" scoped>
.order_form--time {
  font-size: 12px;
  font-weight: 700;
  margin: auto;
  margin-left: 10px;
}

.order_form.active {
  .order_form--time {
    display: none;
  }
}
</style>
