<template lang="html">
  <span v-if="product.price.discount">-{{product.price.discount | formatted}}%</span>
</template>

<script lang="js">
import { Product } from 'src/model/Product'

export default {
  name: 'Discount',
  props: {
    product: Product
  }
}
</script>

<style scoped="scoped" lang="scss">
span {
  position: absolute;
  display: block;
  font-size: calc(var(--font-size) + 2px);
  top: 10px;
  left: 20px;
  background: var(--color-red);
  color: var(--color-white);
  line-height: 26px;
  padding: 0 10px;
  border-radius: 2px;
}
</style>
