<template lang="html">
  <aside>
    <div class="product-code">
      Код товара: <span>{{ product.code }}</span>
    </div>
    <div class="price-block">
      <div class="price">
        <span class="actual rub">{{product.price.actual | price}}</span>
        <span v-if="product.price.old" class="old rub">{{product.price.old | price}}</span>
      </div>
      <template v-if="product.offers.length">
        <q-btn
            v-if="offer && offer.inCart"
            :to="{ name: ROUTE_CART }"
            class="add2cart"
            label="Товар в корзине"
            outline
            color="primary"
            text-color="primary"
        />
        <q-btn
            v-else
            @click="add2Cart"
            class="add2cart"
        >
          {{ buttonLabel }}
        </q-btn>
      </template>

      <favorite-icon :size="24" :product="product" />
      <compare-icon :size="24" :product="product" />
    </div>
  </aside>
</template>

<script lang="js">
import { NS_USER, ADD_TO_CART } from 'src/store/User'
import { ROUTE_CART } from 'src/router/routes'
import { Offer } from 'src/model/Offer'
import { Product } from 'src/model/Product'

export default {
  name: 'ProductAside',
  props: {
    product: Product,
    offer: {
      type: Offer,
      default: null
    }
  },
  components: {
    FavoriteIcon: () => import('../../../Layout/Icons/Favorite'),
    CompareIcon: () => import('../../../Layout/Icons/Compare')
  },
  data () {
    return {
      ROUTE_CART: ROUTE_CART
    }
  },
  methods: {
    showNotify () {
      this.$q.notify({
        color: 'red',
        position: 'bottom',
        message: 'Необходимо выбрать размер',
        timeout: 1000

      })
    },
    add2Cart () {
      if (this.offer === null) {
        this.showNotify()
      } else {
        this.$store.dispatch([NS_USER, ADD_TO_CART].join('/'), this.offer)
      }
    }
  },
  computed: {
    buttonLabel () {
      return this.$q.screen.width < 365 ? 'В корзину' : 'Добавить в корзину'
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import '../../../../css/vars';

aside {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: relative;

  > div {
    align-items: center;
  }

  .q-btn {
    margin-top: 10px;
  }

  .price-block {
    position: relative;
    margin-bottom: 10px;

    i {
      position: absolute;
      color: var(--color-grey-dark);
      margin-left: 15px;
      cursor: pointer;
      bottom: 5px;
      right: 35px;

      + i {
        right: 5px;
      }
    }

    .add2cart {
      flex-basis: 50%;
      width: 230px;
      line-height: 30px;
      background: var(--color-red);
      color: var(--color-white);
      font-size: 13px;

      &.blackButton {
        background: var(--color-black);
        padding: 0;
      }

      i {
        position: initial;
        color: inherit !important;
        margin-left: auto !important;
      }
    }

    .price {
      position: relative;
      background: var(--color-grey-light);
      border-radius: 3px;
      padding-left: 20px;
      line-height: 65px;
      font-weight: 700;
      font-size: calc(var(--font-size) + 13px);
      color: var(--color-red);
      height: 67px;

      .actual {
        font-size: calc(var(--font-size) + 6px);
      }

      .old {
        color: var(--color-grey-medium);
        font-size: calc(var(--font-size) - 2px);
        padding-left: 15px;
        text-decoration: line-through;
      }
    }
  }

  .product-code {
    font-size: var(--font-size);
    color: var(--color-grey-dark);
    margin-top: -5px;
    margin-bottom: 5px;

    span {
      color: var(--color-black-dark);
      font-size: calc(var(--font-size) - 1px);
      padding-left: 5px;
    }
  }
}

@media (max-width: 799px) {
  aside {
    width: 100% !important;

    .price-block {
      position: relative;
      margin-top: 10px;

      .q-btn {
        margin: auto;
        width: 200px;
        height: 40px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 20px;
      }
      i {
        padding: 5px;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, .7);
        bottom: 100%;
        margin-bottom: 5px;
        right: 40px !important;
        + i {
          right: 5px !important;
        }
      }
    }
    .product-code {
      margin-bottom: 0;
    }
  }
  .card {
    flex-direction: column;
  }
}

@media (max-width: $width-365) {
  aside {
    .price-block {
      .q-btn {
        width: 130px;
      }
    }
  }
}

@media (max-width: $width-440) {
  aside {
    .price-block {
      .price {
        position: relative;
        .actual {
          position: absolute;
          bottom: 5px;
          text-align: left;
        }
        .old {
          position: absolute;
          top: 15px;
          text-align: left;
        }
        }
      }
    }
  }
</style>
