<template lang="html">
  <div id="filters">
<!--    <filter-range
      v-if="0 && prices.min && prices.max"
      label="Цена"
      :range="range"
      :prices="prices"
      :key="prices.min"
    />-->

    <component
      v-for="id in Object.keys(filters.names)"
      :key="id"
      :is="component(id)"
      :id="parseInt(id)"
      :filters="filters"
      @input="setFilter({ filters, property: $event})"
    />

  </div>
</template>

<script lang="js">
import FilterRange from './Range'
import FilterColors from './Colors'
import FilterCheckbox from './Checkbox'
import { FilterCollection } from 'src/model/Filter'
import { mapActions } from 'vuex'
import { NS_CATEGORY, FILTER_SET } from 'src/store/Category/const'

export default {
  name: 'filters',
  props: {
    filters: FilterCollection
  },
  components: {
    FilterRange
  },
  methods: {
    ...mapActions({
      setFilter: [NS_CATEGORY, FILTER_SET].join('/')
    }),
    component (id) {
      switch (this.filters.names[id].type) {
        case 2:
          return FilterColors
        case 3:
          return null
        default:
          return FilterCheckbox
      }
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import "src/css/vars";

.v-expansion-panel::before {
  box-shadow: none;
}

@media (max-width: $width-960) {
  #filters > div + div {
    border-top: 1px solid var(--color-grey-light);
  }
}

</style>
