<template>
  <q-expansion-item :default-opened="opened" :label="menu.name">
    <q-item
      v-for="(item, idx) in menu.pages"
      :key="idx"
    >
      <router-link v-if="item.name && item.path" :to="item.path">{{item.name}}</router-link>
      <q-item-label v-else v-html="address(item)"/>
    </q-item>
  </q-expansion-item>
</template>

<script>
export default {
  props: {
    menu: {}
  },
  data () {
    return {
      width: this.$q.screen.width
    }
  },
  computed: {
    opened () {
      return this.width > 767
    }
  },
  methods: {
    address (menuItem) {
      return menuItem.fullAddress + `,<br/><a rel="nofollow" href="tel:${menuItem.phones}">${menuItem.phones}</a>`
    }
  },
  watch: {
    '$q.screen.width' () {
      this.width = this.$q.screen.width
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";
@import "src/css/mixins.scss";

::v-deep .q-item {
  min-height: 22px;
  padding: 0;

  &__section {
    display: block;
    font-weight: bold;
    font-size: 0.8rem;

    &--side > .q-icon {
      display: none;
      font-size: 30px;
    }
  }

  &__label {
    line-height: normal !important;

    a[href^="tel:"] {
      color: var(--color-white);
      border-bottom: 1px dotted var(--color-white);
      transition: all .2s ease-in-out;
      &:hover {
        opacity: .7;
      }
    }
  }
}

@media (max-width: 767px) {
  ::v-deep .q-item {
    &__section {
      font-size: 0.9rem;
      padding-right: 11px;

      &--side > .q-icon {
        display: block;
      }
    }
  }
}

@media (max-width: $width-960) {
  ::v-deep .q-item {
    &__label {
      a[href^="tel:"] {
        color: var(--color-black-dark);
        border-bottom: 1px dotted var(--color-blue);
        transition: all .2s ease-in-out;
        &:hover {
          opacity: .6;
        }
      }
    }
  }

}
</style>
