<template lang="html">
  <div class="panel">
    <static-menu
      :menu="menu"
      v-for="(menu, index) in staticMenu"
      :key="index"
    />
  </div>
</template>

<script lang="js">
export default {
  name: 'LeftPanel',
  components: {
    StaticMenu: () => import('../Menu/StaticMenu.vue')
  },
  data () {
    return {
      staticMenu: require('src/mockJson/static.json')
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
::v-deep span {
  font-weight: normal !important;
  padding: 6px 11px;
  font-size: 15px !important;
  background: rgba(196, 196, 196, 0.4);
  border-radius: 5px;
  color: #2e2e2e;
}
::v-deep a {
  color: #282828;
  padding: 2px 0;
  font-size: 14px;

  &.router-link-exact-active {
    color: var(--color-red);
  }

  &:hover {
    color: var(--color-red);
  }
}

.panel {
  margin: 10px 23px 0 0;
  min-width: 191px;
  width: 191px;

  > div + div {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  .panel {
    display: none;
  }
}
</style>
