<template lang="html">
  <ul class="categories">
    <li :class="{'children': category.children.length && category.parent !== null}">
      <router-link v-if="category.parent !== null" :to="category.url" tag="a" active-class="active">
        {{category.name}}
      </router-link>
      <ul v-if="category.children.length">
        <li v-for="sub2 in category.children" :key="sub2.id">
          <router-link :to="sub2.url" active-class="active">
            {{sub2.name}}
          </router-link>
        </li>
      </ul>
    </li>
  </ul>
</template>

<script lang="js">
import { Category } from 'src/model/Category'

export default {
  name: 'LeftMenu',
  props: {
    categoryOrigin: Category
  },
  computed: {
    category () {
      if (this.categoryOrigin.children.length) {
        return this.categoryOrigin
      } else {
        return this.categoryOrigin.parent
      }
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
  ul.categories {
    margin-top: 0;
    color: var(--color-black);
    font-size: var(--font-size);

    li {
      display: block;
      line-height: 22px;
      max-width: 240px;
      text-transform: initial;
      font-weight: 400;

      a {
        display: block;
        line-height: 22px;
        padding: 5px 20px;
      }
      a.active {
        border-radius: 2px;
        background-color: var(--color-red);
        color: var(--color-white);
      }
    }

    li.children {
      ul {
        background-color: var(--color-grey-light);
        padding: 0;
        margin-bottom: 10px;

        li {
          margin-left: 15px;

          a.active {
            color: var(--color-red);
            background: none;
          }
        }
      }
    }
  > li {
    > a {
      color: var(--color-black);
    }
  }
    a {
      text-decoration: none;
      color: var(--color-grey-medium);
      padding: 3px 0;
      transition: color .2s ease-in;

      &:hover {
        color: var(--color-red);
        cursor: pointer;
    }
  }
}
</style>
