<template>
  <div class="menu-panel">
    <div class="container-origin-width">
      <div class="main-menu">
        <div v-for="(category, id) in treeData" :key="id">
          <router-link :to="category.url">
            <span>{{ category.name }}</span>
          </router-link>
          <div class="main-menu__section" v-if="menu">
            <ul
              class="main-menu__children-list"
              v-for="(item, index) in category.children"
              :key="index"
            >
              <li class="main-menu__section-title">
                <router-link :to="item.url">
                  {{ item.name }}
                </router-link>
              </li>
              <li class="main-menu__children-list__children" v-for="(subItem, z) in item.children" :key="z">
                <router-link :to="subItem.url">{{ subItem.name }}</router-link>,
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_CATEGORY, CATEGORIES } from 'src/store/Category/const'

export default {
  name: 'MainMenu',
  computed: {
    ...mapGetters({
      menu: 'Category/menu',
      categories: [NS_CATEGORY, CATEGORIES].join('/')
    }),
    treeData () {
      return this.categories.filter(category => !category.parent)
    }
  },
  methods: {
    compareFn (categoryA, categoryB) {
      if (categoryA.children.length > categoryB.children.length) {
        return -1
      }
      if (categoryA.children.length < categoryB.children.length) {
        return 1
      }
      return 0
    }
  },
  data () {
    return {
      active: -1
    }
  },
  watch: {
    '$route' () {
      this.active = -1
    }
  }
}
</script>
<style lang="scss" scoped>
@import "src/css/vars";

a {
  text-decoration: none;
  color: inherit;

  &:hover{
    color: red;
  }
}

.menu-panel {
  //position: relative;
  border-bottom: 1px solid #f0f0f0;
  //z-index: 100;
}

.main-menu {
  position: relative;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 11px;
  color: #2e2e2e;
  display: flex;
  justify-content: center;
  align-items: center;

  > div {
    height: 55px !important;
    margin: 0;
    word-wrap: break-word;
    word-break: normal;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-width: 80px;
    cursor: pointer;
    flex-grow: 1;
    flex-shrink: 1;
    box-sizing: border-box;

    > a {
      padding: 0 5px;
      height: 55px !important;
      line-height: 55px;
      text-align: center;

      span {
        line-height: 1.2;
        display: inline-block;
        vertical-align: middle;
      }
    }

    li:first-child a {
      color: #555;
    }

    &:hover > div {
      display: block
    }

    &__section {
      width: 100%;
      position: absolute;
      top: 55px;
      left: 0;
      justify-content: center;
      display: none;
      flex-wrap: wrap;
      background-color: #ffffff;
      border-radius: 5px;
      border: 1px solid rgba(128, 128, 128, 0.377);
      text-align: left;
      padding: 20px;
      box-sizing: border-box;
      z-index: 25;

      &__children {
        display: flex;

        div{
          display: block;
        }
      }
    }

    &:hover {
      background-color: #f0f0f0;
      transition: all ease-in-out 0.5s;
      box-shadow: 0 0 28px 0 rgba(0, 43, 121, 0.15),
      0 25px 55px 0 rgba(76, 139, 255, 0.21);

      > a {
        color: red
      }
    }

    & {
      border-right: 1px solid rgba(128, 128, 128, 0.377);
    }
    &:first-child {
      border-left: 1px solid rgba(128, 128, 128, 0.377);
    }
  }

  &__section {
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    top: 55px;
    display: none;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    padding: 20px;
    z-index: 25;
    left: 0;
  }

  &__section-title {
    display: block;
    margin-bottom: 10px;
  }

  &__children-list {
    font-weight: 500;
    font-size: 13px;
    display: inline-block;
    width: 24%;
    margin-right: 10px;
    text-align: left;
    vertical-align: top;
    text-transform: uppercase;

    &__children {
      display: initial;
      text-transform: initial;
      font-weight: 400;
      font-size: 12px;
      margin-bottom: 5px;
      margin-right: 10px;
    }
  }
}

.active .main-menu__section {
  display: flex;
}
</style>
