<template>
  <div>
    <span class="title">{{menu.name}}</span>
    <router-link
        v-for="(item, idx) in menu.pages"
        :key="idx"
        :to="item.path"
      >
        {{item.name}}
      </router-link>
  </div>
</template>

<script>
export default {
  props: {
    menu: {}
  }
}
</script>

<style scoped="scoped" lang="scss">

a {
  display: block;
  line-height: 24px;
}

.title {
  display: block;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 15px;
}
</style>
