<template lang="html">
  <q-expansion-item
    v-if="menu.children.length"
    :default-opened="opened"
    :header-inset-level="headerInsert"
  >
    <template v-slot:header>
      <q-item-section>
        <q-item-label>
          <router-link :to="menu.url">{{ menu.name }}</router-link>
        </q-item-label>
      </q-item-section>
    </template>
    <sub-mobile-menu v-for="(menuNext, id) in children" :key="id" :menu="menuNext"/>
  </q-expansion-item>
  <q-item
    v-else
    :inset-level="headerInsert"
  >
    <q-item-label>
      <router-link :to="menu.url">{{ menu.name }}</router-link>
    </q-item-label>
  </q-item>
</template>

<script>
export default {
  name: 'SubMobileMenu',
  props: {
    menu: {}
  },
  computed: {
    headerInsert () {
      return 0.25 * this.menu.parents.length
    },
    opened () {
      return this.$route.path === this.menu.url
    },
    children () {
      return this.menu.children
    }
  }
}
</script>
