<template lang="html">
  <div class="banners">
    <div class="banners__img" v-for="banner in banners" :key="banner.id">
      <img @click="$router.push('#')" :src="banner.url">
    </div>
  </div>
</template>

<script lang="js">
export default {
  name: 'Banners',
  props: {
    banners: Array
  }
}
</script>

<style lang="scss" scoped="scoped">
@import 'src/css/new_layout';

.banners {
  display: flex;
  justify-content: space-between;

  &__img {
    width: 32%;
    cursor: pointer;
    position: relative;
  }
}

@media (max-width: $width-767) {
  .banners {
    display: block;

    &__img {
      width: 100%;
      padding: 1%;

      img {
        width: inherit;
      }
    }
  }
}
</style>
