<template>
  <div>
    <i
        @click="add2Cart(product)"
        :class="{'text-red': product.inCart}"
        :style="'font-size:' + size +'px'"
        class="material-icons cursor-pointer"
        :title="product.inCart ? 'Убрать из корзины' : 'Добавить в корзину'">
      shopping_cart
    </i>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { Product } from 'src/model/Product'
import { NS_USER, ADD_TO_CART } from 'src/store/User'

export default {
  name: 'CartIcon',
  props: {
    product: { Product },
    size: {
      required: true
    }
  },
  methods: {
    ...mapActions({
      add2Cart: [NS_USER, ADD_TO_CART].join('/')
    })
  }
}
</script>

<style lang="scss" scoped>
</style>
