<template>
  <i
    @click="add2compare(product)"
    :class="{'text-red': product.isCompare}"
    :style="'font-size:' + size +'px'"
    class="material-icons"
    :title="showTitle">
    leaderboard
  </i>
</template>

<script>
import { mapActions } from 'vuex'
import { Product } from 'src/model/Product'
import { NS_USER, PRODUCT_COMPARE } from 'src/store/User'

export default {
  name: 'CompareIcon',
  props: {
    product: { Product },
    size: {
      required: true
    }
  },
  methods: {
    ...mapActions({
      add2compare: [NS_USER, PRODUCT_COMPARE].join('/')
    })
  },
  computed: {
    showTitle () {
      const title = this.product.isCompare ? 'Убрать из сравнения' : 'Добавить в сравнение'
      const empty = ''
      return this.$q.platform.has.touch ? empty : title
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
