<template>
  <i
    @click="add2favorite(product)"
    :class="{'text-red': product.isFavorite}"
    :style="'font-size:' + size +'px'"
    class="material-icons-outlined"
    :title="showTitle">
    favorite_border
  </i>
</template>

<script>
import { mapActions } from 'vuex'
import { Product } from 'src/model/Product'
import { NS_USER, PRODUCT_FAVORITE } from 'src/store/User'

export default {
  name: 'FavoriteIcon',
  props: {
    product: { Product },
    size: {
      required: true
    }
  },
  methods: {
    ...mapActions({
      add2favorite: [NS_USER, PRODUCT_FAVORITE].join('/')
    })
  },
  computed: {
    showTitle () {
      const title = this.product.isFavorite ? 'Убрать из отложенных' : 'Отложить на потом'
      const empty = ''
      return this.$q.platform.has.touch ? empty : title
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
