<template lang="html">
  <div
    @mouseenter="mouseEnter = true"
    @mouseleave="mouseEnter = false"
    :class="{'no-hover': !noHover}"
    class="card"
  >
    <small-images v-if="showHover" :product="product" />
    <div class="image">
      <q-carousel
        v-model="slide"
        :autoplay="!$q.platform.has.touch && mouseEnter ? 2500 : false"
        swipeable
        animated
        navigation
        navigation-position="bottom"
        control-type="flat"
        control-color="grey-6"
        transition-prev="slide-right"
        transition-next="slide-left"
        infinite
        height="auto"
      >
        <q-carousel-slide :name="1" @click="$router.push(product.url)">
          <q-img
            contain
            :src="product.getSrc(imageSize[0], imageSize[1])"
            :srcset="product.getSetSrc(imageSize[0], imageSize[1])"
            height="100%"
          >
            <template v-slot:loading>
              <q-spinner
                color="grey-9"
                size="60px"
                :thickness="1"
              />

            </template>
            <template v-slot:error>
              <img :src="product.getDefaultImage" alt="product" />
            </template>
          </q-img>
        </q-carousel-slide>
        <q-carousel-slide :name="2" @click="$router.push(product.url)">
          <q-img
            contain
            :src="product.getSrc(imageSize[0], imageSize[1])"
            :srcset="product.getSetSrc(imageSize[0], imageSize[1])"
            height="100%"
          >
            <template v-slot:loading>
              <q-spinner
                color="grey-9"
                size="60px"
                :thickness="1"
              />

            </template>
            <template v-slot:error>
              <img :src="product.getDefaultImage" alt="product" />
            </template>
          </q-img>
        </q-carousel-slide>

      </q-carousel>
    </div>
    <div class="price">
      <span class="rub actual">{{ product.price.actual | price }}</span>
      <span v-if="product.price.old" class="old rub">{{ product.price.old | price }}</span>
      <span v-if="product.price.discount" class="discount">-{{product.price.discount}}%</span>
    </div>
    <div v-if="product.new" class="product-new"/>
    <span class="name">{{ product.name }}</span>
    <div class="icons">
      <span v-if="$q.screen.width > 960">Купили: 12365</span>
      <template v-else>
        <icon-cart v-if="product.sizes.length < 2" @click.native="add2Cart(product.offers[0])" :product="product">Купить</icon-cart>
        <icon-cart v-if="product.sizes.length >= 2" @click.native="showSizeSelect = true" :product="product">Купить</icon-cart>
      </template>
      <icon-favorite :product="product"/>
      <icon-compare :product="product"/>

      <template v-if="showHover && product.offers.length">
        <q-btn
          v-if="product.offers[0].inCart"
          :to="{ name: ROUTE_CART }"
          no-caps
          outline
          label="В корзине"
          color="primary"
          text-color="primary"
        />
        <q-btn
          v-else
          @click="add2Cart(product.offers[0])"
          no-caps
          :label="textCart"
        />
      </template>

      <q-dialog
        v-model="showSizeSelect"
        transition-show="slide-up"
        position="bottom"
        maximized
      >
      <div class="size-select">
        <span class="title">Укажите размер:</span>
        <div class="q-gutter-md">
          <q-btn
            v-close-popup
            v-for="offer in product.sizes" :key="offer.id"
            @click="add2Cart(offer) && (showSizeSelect = null)"
            :class="{'unavailable': !offer.isAvailable, 'in-cart': offer.inCart }"
          >
          {{ offer.name }}
        </q-btn>
        </div>
      </div>
    </q-dialog>

    </div>
  </div>
</template>
<script>

import { mapActions, mapGetters } from 'vuex'
import { ADD_TO_CART, CART, NS_USER, PRODUCT_COMPARE, PRODUCT_FAVORITE } from 'src/store/User'
import { Product } from 'src/model/Product'
import IconCart from 'components/Catalog/Product/Icon/Cart'
import IconCompare from 'components/Catalog/Product/Icon/Compare'
import IconFavorite from 'components/Catalog/Product/Icon/Favorite'
import SmallImages from 'components/Catalog/Category/Listing/Card/SmallImages'
import { ROUTE_CART } from 'src/router/routes'

export default {
  name: 'ProductCard',
  components: {
    IconCart,
    IconCompare,
    IconFavorite,
    SmallImages
  },
  props: {
    product: Product,
    isListing: {
      type: Boolean,
      required: false
    },
    imageSize: {
      type: Array
    },
    noHover: {
      type: Boolean,
      default: true,
      required: false
    }
  },
  data () {
    return {
      ROUTE_CART: ROUTE_CART,
      showSizeSelect: false,
      textCart: 'В корзину',
      mouseEnter: false,
      slide: 1,
      productSize: null,
      isSize: null
    }
  },
  computed: {
    ...mapGetters({
      cart: [NS_USER, CART].join('/')
    }),
    showHover () {
      return this.noHover && this.mouseEnter && this.$q.screen.width > 960
    }
  },
  methods: {
    ...mapActions({
      add2Cart: [NS_USER, ADD_TO_CART].join('/'),
      add2favorite: [NS_USER, PRODUCT_FAVORITE].join('/'),
      add2compare: [NS_USER, PRODUCT_COMPARE].join('/')
    })
  }
}
</script>
<style scoped="scoped" lang="scss" src="../styles.scss" />
<style scoped="scoped" lang="scss">

::v-deep .q-carousel__navigation--bottom {
  right: 0;
  left: initial;
}

::v-deep .q-carousel__navigation-icon--inactive {
  opacity: .4;
}

::v-deep .q-btn--dense .q-btn__wrapper {
  padding: 0;
  min-height: 2px;
  min-width: 2px;
}

::v-deep .q-btn .q-icon{
  margin: 0;
  padding: 0;
  width: 6px;
  height: 6px;
  font-size: 6px;
}

::v-deep .q-carousel__control {
  display: block;
  bottom: -5px;
}

.size-select {
  padding: 0 10px 15px;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px -1px 4px 0px;
  & .closed-icon {
    width: 18px;
    position: absolute;
    top: 0;
    right: 2px;
    font-family: "Material Icons", Arial, serif;
    content: 'cancel';
    color: var(--color-blue-primary);
    opacity: .6;
    transition: color .3s ease-in-out;
    font-size: 16px;
    &:hover {
      cursor: pointer;
      opacity: .9;
    }
  }
}
</style>
