<template lang="html">
  <transition name="fade-margin" mode="out-in">
    <div class="images">
      <router-link :to="product.url">
        <q-img
          :src="product.getSrc(50, 75)"
          contain
          width="100%"
          height="100%"
        >
          <template v-slot:loading>
            <q-spinner
              color="grey-9"
              size="20px"
              :thickness="1"
            />

          </template>
          <template v-slot:error>
            <img :src="product.getDefaultImage" alt="product"/>
          </template>
        </q-img>
      </router-link>
      <router-link :to="product.url">
        <q-img
          :src="product.getSrc(50, 75)"
          contain
          width="100%"
          height="100%"
        >
          <template v-slot:loading>
            <q-spinner
              color="grey-9"
              size="20px"
              :thickness="1"
            />

          </template>
          <template v-slot:error>
            <img :src="product.getDefaultImage" alt="product"/>
          </template>
        </q-img>
      </router-link>
    </div>
  </transition>
</template>

<script>
import { Product } from 'src/model/Product'
export default {
  name: 'SmallImages',
  props: {
    product: Product
  }
}
</script>

<style scoped="scoped" lang="scss">
.images {
  position: absolute;
  top: var(--internal-padding-x);
  left: calc(var(--internal-padding-x) - 30%);
  z-index: 1;
  width: calc(30% - var(--internal-padding-x));

  a {
    position: relative;
    border: 1px solid var(--color-grey-light);
    display: block;
    width: 100%;
    height: 0;
    padding-top: calc(100% - 2px);

    & + a {
      margin-top: var(--internal-padding-x);
    }
    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
</style>
