<template>
    <q-expansion-item :label="label" default-opened>
      <br />
      <q-input v-if="0" label="от" :value="values.min" @input="$emit('input', { min: values.min, max: parseInt($event) })" />
      <q-input v-if="0" label="до" :value="values.max" @input="$emit('input', { min: values.min, max: parseInt($event) })" />

      <q-range
        :value="values"
        :min="range[0]"
        :max="range[1]"
        :step="1"
        @change="val => $emit('input', val)"
        label-always
        color="purple"
      />

    </q-expansion-item>
</template>

<script>
export default {
  name: 'FilterPrice',
  props: {
    label: {
      type: String,
      required: true
    },
    range: {
      type: Array,
      required: true
      // validator: value => value.length === 2 && Number.isInteger(value[0]) && Number.isInteger(value[1])
    },
    prices: Object
  },
  computed: {
    values () {
      return { min: parseInt(this.prices.min) || this.range[0], max: parseInt(this.prices.max) || this.range[1] }
    }
  },
  created () {
    console.log(this.values)
  }
}
</script>
<style lang="scss" scoped>

</style>
