<template>
  <div class="header__mobile-icon-list">
    <div class="not-mobile">

      <div class="header-icons">
        <button @click="personalClick" type="button">
          <i class="material-icons md-24" :class="{ 'user-active': user.isAuth }">account_circle</i>
        </button>
        <button type="button" class="relative-position">
          <router-link :to="{ name: 'ROUTE_FAVORITE' }">
            <i class="material-icons-outlined md-18">favorite</i>
            <span class="header-icons__count" v-if="user.favorite.length">
              {{ user.favorite.length }}
            </span>
          </router-link>
        </button>
        <button type="button" class="relative-position">
          <router-link :to="{ name: 'ROUTE_COMPARE' }">
            <i class="material-icons md-18">leaderboard</i>
            <span class="header-icons__count" v-if="user.compare.length">
              {{ user.compare.length }}
            </span>
          </router-link>
        </button>
        <button
          @mouseover="cartChange(true)"
          @mouseleave="cartChange(false)"
          class="cart-button"
        >
          <router-link :to="{ name: 'ROUTE_CART' }">
            <i class="material-icons md-18">
              shopping_cart
            </i>
            <span class="header-icons__count" v-if="user.cart.length">
              {{ user.cart.length }}
            </span>
          </router-link>
          <cart-top
            v-if="cartShow"
            class="cart-box fade-enter-active"
            :class="{'active': cartShow}"
          />
        </button>
      </div>
    </div>

    <div class="mobile">
      <i @click="showCityList" class="icon city-icon" :class="{'outlined': !showCityActive}"/>
      <div class="button">
        <router-link :to="{ name: 'ROUTE_CART' }">
          <i class="material-icons-outlined md-18">
            shopping_cart
          </i>
          <span class="header-icons__count" v-if="user.cart.length">
            {{ user.cart.length }}
          </span>
        </router-link>
      </div>
      <div>
        <i @click="topMenu" class="icon user-icon" :class="{'outlined': !showTopMenu, 'user-active': user.isAuth}"/>
        <top-menu @showAuth="personalClick()"/>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'
import { ROUTE_PRIVATE } from 'src/router/routes'

export default {
  name: 'IconList',
  components: {
    CartTop: () => import('components/User/Cart/CartTop/'),
    TopMenu: () => import('components/Layout/Menu/Mobile/Top')
  },
  data () {
    return {
      cartTimeOut: null,
      cartShow: false,
      showHeaderList: false,
      showTopMenu: false,
      showCityActive: false,
      showSearch: false
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    })
  },
  methods: {
    changeShowCity (bool) {
      this.showCityActive = bool
    },
    changetopMenu (bool) {
      this.showTopMenu = bool
    },
    showCityList () {
      this.showCityActive = !this.showCityActive
      this.$root.$emit('showCities', this.showCityActive)
    },
    topMenu () {
      this.showTopMenu = !this.showTopMenu
      this.$root.$emit('topMenu', this.showTopMenu)
    },
    personalClick () {
      if (!this.user.isAuth) {
        this.$emit('showAuthForm', true)
      } else {
        this.$router.push({ name: ROUTE_PRIVATE })
      }
    },
    cartHideTop () {
      this.cartTimeOut = window.setTimeout(() => {
        this.cartShow = false
      }, 1500, this)
    },
    cartShowTop () {
      if (this.cartTimeOut) {
        window.clearTimeout(this.cartTimeOut)
      }

      if ((this.$route.name !== 'ROUTE_CART') &&
        (this.$route.name !== 'ROUTE_ORDER')) {
        this.cartShow = true
        this.cartHideTop()
      }
    },
    cartChange (show) {
      if (this.user.cart.count > 0) {
        this.cartShow = show
      }
    }
  },
  watch: {
    'user.cart.count' () {
      if (this.user.cart.count > 0) {
        this.cartShowTop()
      } else {
        this.cartShow = false
      }
    },
    '$route' (to, from) {
      this.cartShow = false
    }
  },
  created () {
    this.$root.$on('changetopMenu', this.changetopMenu)
    this.$root.$on('changeShowCity', this.changeShowCity)
  }
}
</script>
<style lang="scss" scoped>
@import "src/css/vars";
@import "src/css/mixins";

@media (max-width: $hideAside) {
  .mobile {
    display: flex;

    .material-icons, .material-icons-outlined, .icon {
      color: black;
      font-size: 30px;
      margin-left: 15px;
      line-height: 1;
    }

    .user-icon {
      &:before {
        content: 'account_circle';
      }
    }

    .city-icon {
      &:before {
        content: 'room';
      }
    }

    .button, .material-icons-outlined {
      position: relative;
    }
  }
}

.cart-box.active {
  opacity: 1;
}

.cart-box {
  opacity: 0;
  background-color: #ffffff;
  position: absolute;
  right: 0;
  top: 37px;
  transition-delay: 1s;
  min-width: 470px;
  box-shadow: 0 7px 18px rgba(0, 0, 0, .2);
  cursor: default;

  &:after {
    content: "";
    position: absolute;
    top: -14px;
    right: calc(4% - 6px);
    border: 7.5px solid transparent;
    border-bottom: 7.5px solid #fff;
    z-index: 1;
  }
}

#header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
}
#header-icons > button {
  background-color: #2660a5;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: none;
  outline: none;
}

#header-icons > button i {
  color: white;
  font-size: 24px;
  background-color: #2660a5;
  border-radius: 50%;
  cursor: pointer;
  padding: 7px;
}
#header-icons i:hover {
  color: #2660a5;
  background-color: #ffffff;
  border-radius: 50%;
  transition: all ease 0.5s;
}

.header-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;

  button {
    position: relative;
    background-color: #2660a5;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    outline: none;

    i {
      color: white;
      font-size: 20px;
      background-color: #2660a5;
      border-radius: 50%;
      cursor: pointer;
      padding: 7px;

      &:hover {
        color: #2660a5;
        background-color: #ffffff;
        border-radius: 50%;
        transition: all ease 0.5s;
      }
    }
  }

  &__count{
    width: 15px;
    height: 15px;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    top: -4px;
    right: 0;
    font-size: 10px;
    background-color: #ed5a50;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.user-active{
  position: relative;

  &:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: $light-green-14;
    border-radius: 100%;
    position: absolute;
    bottom: 8px;
    right: 8px;
  }
}

@media (max-width: $hideAside) {
  .user-active{
    &:after {
      right: 2px;
      top: 20px;
      height: 11px;
      width: 11px;
    }
  }
}
</style>
