<template>
  <div class="container-width">
    <div>Поиск: {{ $route.query.q }}</div>
    <template v-if="result.length">
      <bar
        @input:setSortCode="sortCode = $event"
        @input:size="cardSize = $event"
        @input:count="changeCount"
        :category="null"
        :sortCode="''"
        :paginator="paginator"
      />
      <product-list
        :cardSize="null"
        :products="result"
        @mounted="listingMountedHandler"
      />
      <q-pagination
        v-if="totalPages > 1"
        v-model="paginator.page"
        @input="scrollTo"
        :max="totalPages"
        :max-pages="6"
        :boundary-numbers="true"
        class="paginator"
      />
    </template>
    <template v-else>
      Нет результатов, удовлетворяющих условиям поиска
    </template>
  </div>
</template>

<script>
import { store } from 'src/store'
import { mapGetters, mapActions } from 'vuex'
import { CITY, NS_CITY } from 'src/store/Cities'
import { SEARCH_PRODUCTS, NS_CATEGORY, FOUND_PRODUCTS } from 'src/store/Category/const'

const ROWS_COUNT = 4

const beforeLoad = function (route, from, next) {
  store.dispatch([NS_CATEGORY, SEARCH_PRODUCTS].join('/'), route.query.q).then(() => {
    next()
  })
  return true
}

export default {
  name: 'search',
  components: {
    Bar: () => import('../../../components/Catalog/Category/Bar'),
    ProductList: () => import('../../../components/Catalog/Category/Listing')
  },
  beforeRouteEnter: beforeLoad,
  beforeRouteUpdate: beforeLoad,
  meta () {
    return {
      title: 'Поиск в г.' + this.currentCity.name,
      meta: {
        description: {
          name: 'description',
          content: 'Поиск'
        }
      }
    }
  },
  data () {
    return {
      cardsOnRow: 20,
      paginator: {
        onPage: 20,
        page: 1,
        pages: []
      }
    }
  },
  computed: {
    ...mapGetters({
      currentCity: [NS_CITY, CITY].join('/'),
      products: [NS_CATEGORY, FOUND_PRODUCTS].join('/')
    }),
    from () {
      return (this.paginator.page - 1) * this.paginator.onPage
    },
    result () {
      return this.products
        .slice(this.from, this.from + this.paginator.onPage)
    },
    totalPages () {
      return Math.ceil(this.products.length / this.paginator.onPage)
    }
  },
  methods: {
    scrollTo () {
      window.scrollTo(0, 0)
    },
    changeCount (count) {
      this.paginator.onPage = count
      this.paginator.page = 1
    },
    ...mapActions({
      searchProducts: [NS_CATEGORY, SEARCH_PRODUCTS].join('/')
    }),
    listingMountedHandler ($event) {
      this.paginator.onPage = $event.count * ROWS_COUNT
      this.cardsOnRow = $event.count
      this.paginator.pages = [
        this.cardsOnRow * ROWS_COUNT,
        this.cardsOnRow * ROWS_COUNT * 2,
        this.cardsOnRow * ROWS_COUNT * 4
      ]
      this.paginator.page = 1
    }
  }
}
</script>
<style scoped="scoped" lang="scss">
.container-width {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
</style>
