<template lang="html">
  <div class="footer-block" :class="{'active': active}">
    <span @click="active = !active" class="title">{{ menuItem.name }}</span>
    <div class="footer-block__items" v-for="(item, idx) in menuItem.pages" :key="idx">
      <router-link v-if="item.name && item.path" :to="item.path">{{ item.name }}</router-link>
      <div v-else>{{ item.address }}</div>
    </div>
    <q-checkbox
      v-if="menuItem === staticMenu[0]"
      class="not-mobile"
      :value="menu"
      color="green"
      label="Выпадающее меню"
      @input="$store.commit('Category/menu', $event)"
    />
  </div>
</template>

<script lang="js">
import { mapGetters } from 'vuex'

export default {
  name: 'FooterExpansion',
  props: {
    menuItem: {}
  },
  data () {
    return {
      active: false,
      sizeX: this.$q.screen.width,
      staticMenu: require('src/mockJson/static.json')
    }
  },
  computed: {
    ...mapGetters({
      menu: 'Category/menu'
    })
  }
}
</script>

<style lang="scss" scoped="scoped">
@media (max-width: 767px) {
  .footer-block {
    &__items {
      display: none;
    }

    .title {
      position: relative;
      display: block;
      font-weight: bold;
      font-size: 14px;
      margin-bottom: 15px;

      &::after {
        position: absolute;
        right: 13px;
        top: -10px;
        content: "keyboard_arrow_down";
        opacity: 0.5;
        font-size: 28px;
        font-family: 'Material Icons', serif;
        -webkit-font-feature-settings: 'liga';
      }
    }

    &.active {
      .footer-block__items {
        display: block;
      }

      .title {
        &::after {
          content: "keyboard_arrow_up";
        }
      }
    }
  }
}
</style>
