<template lang="html">
  <q-footer class="footer container-origin-width row justify-center q-col-gutter-lg">
    <div
      v-for="menuItem in staticMenu_"
      :key="menuItem.name"
      class="footer-line"
      :class="col(3)"
    >
      <footer-expansion :menuItem="menuItem"/>
    </div>
    <div :class="col(3)">
      <div>
        <social-block/>
        <payment-block/>
        &copy; Rich Family, 2011-{{ year }}
      </div>
    </div>
  </q-footer>
</template>

<script lang="js">
import { date } from 'quasar'
import { mapGetters } from 'vuex'
import { CITY, NS_CITY } from 'src/store/Cities'

export default {
  name: 'AppFooter',
  components: {
    FooterExpansion: () => import('../Footer/Expansion'),
    PaymentBlock: () => import('../Footer/PaymentBlock'),
    SocialBlock: () => import('../Footer/SocialBlock')
  },
  data () {
    return {
      active: true,
      sizeX: this.$q.screen.width,
      staticMenu_: [],
      staticMenu: require('src/mockJson/static.json')
    }
  },
  computed: {
    ...mapGetters({
      city: [NS_CITY, CITY].join('/'),
      menu: 'Category/menu'
    }),
    year () {
      return date.formatDate(Date.now(), 'YYYY')
    },
    shops () {
      return this.city.shops
    }
  },
  methods: {
    col (count) {
      let ret = 'col-12'
      if (this.active) {
        ret = ret + ' active'
      }
      if (this.sizeX < 767) {
        return ret
      }
      return 'col-' + count
    }
  },
  created () {
    const obj = {
      name: 'Список адресов',
      pages: this.shops
    }
    this.staticMenu_ = this.staticMenu.slice()
    this.staticMenu_[this.staticMenu_.length] = obj
  }
}
</script>

<style lang="scss" scoped="scoped">
::v-deep {
  .title {
    display: block;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 15px;
  }
}

.footer {
  margin-top: auto;
  min-height: 263px;
  background: #2660a5;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;

  &:before {
    position: absolute;
    content: ' ';
    left: 50%;
    top: 0;
    margin-left: -50vw;
    width: 100vw;
    bottom: 0;
    z-index: -1;
    background-color: inherit;
  }
}

@media (max-width: 767px) {
  .footer {
    z-index: 999;
    display: block;
    border-top: 1px solid #ebebeb;
    background: white;
    color: black;
  }

  ::v-deep {
    .footer-line {
      padding-top: 10px;
    }

    span.title {
      font-size: 14px;
    }
  }
}

</style>
