<template>
  <div class="not-mobile">
    <span class="title">Принимаем к оплате</span>
    <img src="img/mir-logo-footer.png" alt="mir"/>
    <img src="img/mc_logo-footer.png" alt="mastercard"/>
    <img src="img/visa-footer.png" alt="visa"/>
  </div>
</template>

<script>
export default {
  name: 'PaymentBlock'
}
</script>

<style scoped="scoped" lang="scss">
div{
  margin: 20px 0;

  .title {
    font-size: 0.9rem;
  }

  img {
    height: fit-content;
    vertical-align: middle;

    + img {
      margin-left: 15px;
    }
  }
}
</style>
