<template>
  <div class="social">
    <span class="title">Мы в соцсетях:</span>
    <div class="row">
      <a href="https://vk.com/rich_family_official">
        <img alt="" src="social/vk.svg"/>
      </a>
      <a href="https://instagram.com/rich_family_official">
        <img alt="" src="social/instagram.svg"/>
      </a>
      <a href="https://ok.ru/richfamily">
        <img alt="" src="social/odnoklassniki.svg"/>
      </a>
    </div>
  </div>
</template>
<script>
export default {
  name: 'SocialBlock'
}
</script>

<style lang="scss" scoped="scoped">
::v-deep .title {
  font-size: 13px;
}

a {
  display: inline-block;
  width: 33px;
  height: 33px;
  padding: 7px;
  border-radius: 50%;
  background-color: #fff;
  & + a {
    margin-left: 5px;
  }
  img {
    display: block;
    max-height: 100%;
    max-width: 100%;
  }
}
</style>
