<template>
  <div class="container-origin-width">
    <breadcrumbs :items="items" />
    <personal/>
    <q-form
      @submit="smsPopup = true"
      class="profile"
    >
      <q-input
        filled
        clearable
        clear-icon="close"
        v-model="userData.fio"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Ввведите ФИО']"
        label="ФИО:"
      />
      <q-input
        :fill-mask="false"
        unmasked-value
        mask="+7 (###) ###-##-##"
        filled
        clearable
        clear-icon="close"
        v-model="userData.phone"
        lazy-rules
        :rules="[ val => val && val.length > 0 || 'Ввведите телефон']"
        label="Телефон:"
      />
      <q-input
        filled
        clearable
        clear-icon="close"
        type="email"
        v-model="userData.email"
        label="E-mail:"
      />
      <q-btn
        label="Сохранить"
        dense
        unelevated
        type="submit"
        class="button small"
      />
      <q-dialog v-model="smsPopup">
        <sms-popup @sms-userData="submitForm" />
      </q-dialog>
<!--      <div class="bg-green text-white" v-if="tooltipShow">{{ tooltip }}</div>-->
    </q-form>
  </div>
</template>
<script>

import { mapGetters, mapActions } from 'vuex'
import { NS_USER, CHANGE_USER_DATA, USER } from 'src/store/User'
export default {
  name: 'profile',
  data () {
    return {
      smsPopup: false,
      tooltipShow: false,
      tooltip: 'Изменения сохранены',
      userData: {},
      items: [
        {
          name: 'Личные данные',
          url: '/profile'
        }
      ]
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    })
  },
  components: {
    Personal: () => import('components/User/Personal/'),
    SmsPopup: () => import('components/User/Order/Profile/SmsPopup'),
    Breadcrumbs: () => import('components/Layout/Breadcrumbs')
  },
  methods: {
    ...mapActions({
      saveForm: [NS_USER, CHANGE_USER_DATA].join('/')
    }),
    clone (data) {
      return Object.assign({}, data)
    },
    submitForm (check) {
      if (check) {
        this.smsPopup = false
        this.saveForm(this.clone(this.userData))
        this.tooltipShow = true
      }
    }
  },
  beforeMount () {
    this.userData = this.clone(this.user.profile)
  }
}
</script>
<style lang="scss" scoped>
.profile {
  width: 40%;
}

::v-deep {
  .q-field {
    margin-bottom: 20px;
    background: rgb(240, 240, 240);

    &__label {
      color: #474747;
    }

    &__control {
      color: #474747;
    }

    .q-field__control {
      background: inherit !important;
    }
  }
}

@media (max-width: 767px) {
  .profile {
    width: 100%;
  }
}
</style>
