<template lang="html">
  <a @click="isSizeBig = !isSizeBig" :class="gridSize"></a>
</template>

<script lang="js">
export default {
  name: 'ChangeSize',
  computed: {
    gridSize () {
      if (this.isSizeBig) {
        return 'big'
      } else {
        return 'small'
      }
    }
  },
  data () {
    return {
      isSizeBig: false
    }
  },
  watch: {
    isSizeBig: function () {
      this.$emit('input', this.gridSize)
    }
  }
}
</script>
<style lang="scss" scoped="scoped">
a {
  font-family: "Material Icons", Arial, serif;
  font-size: 24px;
  line-height: 24px;
  color: var(--color-grey-dark);
  margin-left: auto;
  cursor: pointer;

  &:before {
    content: 'view_module';
  }
  &:after {
    content: 'view_comfy';
    margin-left: 13px;
  }
  &.big:before, &.small:after {
    color: var(--color-red);
  }
}
</style>
