<template lang="html">
  <div>
    <span
      v-for="(count, id) in paginator.pages"
      :key="id"
      :class="{'active': paginator.onPage === count}"
      @click="$emit('input', count)"
    >
      {{ count }}
    </span>
  </div>
</template>
<script lang="js">
export default {
  props: {
    paginator: {}
  }
}
</script>

<style lang="scss" scoped="scoped">
@import "~quasar/dist/quasar.sass";

div {
  @extend .row;
  @extend .col;
  @extend .justify-end;

  color: var(--color-grey-dark);
  font-size: var(--font-size) - 1px;
  margin-right: 10px;

  span {
    padding-right: 8px;
    cursor: pointer;
  }

  span.active {
    color: var(--color-red);
  }
}

</style>
