<template>
  <component :is="layout">
    <router-view />
  </component>
</template>
<script>
import { ROUTE_HOME } from 'src/router/routes'

export default {
  name: 'layout',
  computed: {
    layout () {
      if (this.$route.name === ROUTE_HOME) {
        return () => import('../layouts/new')
      }
      return () => import('../layouts/old')
    }
  }
}
</script>
