<template>
  <q-layout view="lHh Lpr lff">
    <q-page-container>
      <!--          TODO: перенести в Home!-->
      <div class="grad1" :style="background">
        <div class="grad1__inner inner">
          <app-header/>
          <main-menu/>
          <slider @slideNum="$event => slideNum = $event" />
        </div>
      </div>

      <slot />

      <app-footer />
      <transition name="fade">
        <overlay v-if="overlay"/>
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'
import { ROUTE_CATALOG } from 'src/router/routes'

export default {
  components: {
    AppHeader: () => import('components/Layout/Header'),
    MainMenu: () => import('components/Layout/Menu/MainMenu'),
    Slider: () => import('components/LayoutNew/Header/Slider'),
    AppFooter: () => import('components/LayoutNew/Footer'),
    Overlay: () => import('components/Layout/Overlay')
  },
  data () {
    return {
      slideNum: 0,
      catalog: ROUTE_CATALOG,
      overlay: false,
      width: 0,
      timeoutId: false,
      showCity: false
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    slides () {
      return this.user.slider
    },
    background () {
      return this.user.slider.find(slide => slide.id === this.slideNum).background
    }
  },
  watch: {
    '$q.screen.width' () {
      this.width = this.$q.screen.width
    }
  },
  meta () {
    return {
      title: 'RichFamily - интернет-магазин детских товаров'
    }
  },
  methods: {
    showOverlay (isShow) {
      if (!isShow) {
        this.timeoutId = window.setTimeout(() => {
          this.overlay = false
        }, 150, this)

        return
      }

      this.overlay = true
      if (this.timeoutId) {
        window.clearTimeout(this.timeoutId)
      }
    }
  },
  created () {
    this.width = this.$q.screen.width
    this.$root.$on('showOverlay', this.showOverlay)
  }
}
</script>
<style lang="scss" scoped>
$padding-inner: 80px;
$background: inherit !important;

@import 'src/css/new_layout';

.grad1 {
  margin-bottom: 150px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    background-size: contain;
    background: url('/../img/new/background.png');
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 100%;
  }

  &__inner {
    max-height: 850px;
  }
}

.grad1 {
  &__inner {
    max-height: 850px;
  }

  &__catalog-button {
    background-color: black;
    padding: 17px;
    font-size: 14px;
    border-radius: 10px;
    padding-left: 35px;
    padding-right: 35px;
    letter-spacing: 0.5px;

    &:hover {
      background-color: #e11f26;
    }

    i {
      font-size: 20px;

      &:after {
        margin: -12px;
      }
    }
  }

  &__slider {
    position: relative;
  }

  .slide {
    position: relative;
    display: flex;
    padding: 10%;
    padding-top: 125px;
    padding-left: 140px - $padding-inner;
    min-height: 850px;

    &__text {
      width: 516px;
      height: 108px;
      left: 140px;
      top: 273px;
      font-style: normal;
      font-size: calc(var(--font-size) + 13px);
      line-height: 54px;
      align-items: center;
      letter-spacing: -1.08px;
      color: #FFFFFF;

      span {
        display: block;
        max-width: 465px;
        font-size: 16px;
        line-height: 22px;
        margin-top: 44px;
        margin-bottom: 50px;
        letter-spacing: 0.5px;
      }
    }
  }
}

::v-deep {
  .q-carousel {
    background-color: transparent;
    min-height: 850px;
  }
  .q-btn {
    width: 208px;
    height: 51px;
    background: black !important;
    border-radius: 13px;
  }

  .q-img.main {
    width: 50%;
    max-width: 500px;
    position: absolute;
    left: calc(50% + 10px);
    top: 80px;
  }

  .container-origin-width {
    max-width: initial;
  }

  .header {
    background-color: $background;
    border-bottom: none !important;
  }

  .header-icons button {
    background-color: $background;

    i {
      background-color: $background;

      &:hover {
        color: red !important;
      }
    }
  }

  .shop_info {
    background-color: $background;
  }

  .main-menu {
    background-color: $background;

    div {
      color: white;
      font-weight: bold;
      font-family: 'Comfortaa', cursive;

      &:hover {
        background-color: transparent !important;
        transition: none !important;
        box-shadow: none !important;
      }
    }
  }

  .main-menu > div {
    border-right: 0 !important;

    &:first-child {
      border-left: 0 !important;
    }
  }

  .menu-panel, .main-menu {
    border: none !important;
  }

  @media (max-width: $width-767) {
    .q-carousel {
      min-height: auto;
      height: auto;
      overflow: initial;
    }
  }

  @media (max-width: $width-960) {
    .menu-panel {
      display: none;
    }
  }

  @media (max-width: $hideAside){
    .header{
      padding: 11px 16px 11px 16px;
      z-index: 1000;
      position: fixed;
      width: 100%;
      min-height: 57px;

      header {
        display: flex;
      }

      i, .material-icons {
        color: #ffffff !important;
      }

      &__search{
        margin-left: auto;
        width: auto;
        margin-right: 0;
      }

      &__search.active{
        width: 100%;
      }

      a {
        color: black;
      }

      &__selector {
        display: none;
      }

      &__logo-m {
        display: block;
      }

      &__logo {
        display: none;
        margin-right: 20px;
      }
    }

    .header.scrollHeader {
      background-color: white !important;
      border-bottom: 1px solid #dadada !important;

      i, .material-icons {
        color: black !important;
      }
    }
  }
}

@media (max-width: $width-480) {
  .inner {
    padding: 5%;
  }

  .grad1 {
    margin-bottom: 70px;

    .q-img.main {
      display: none;
    }

    &__inner {
      padding: 0;
    }
  }
}
</style>
