<template>
  <q-layout view="lHh Lpr lff">
    <q-page-container>
      <app-header/>
      <main-menu />
      <div :class="{'wrapper': this.$route.path !== '/'}">
        <slot v-if="!showCity" />
        <mobile-cities v-if="showCity" />
      </div>

      <app-footer />

      <transition name="fade">
        <overlay v-if="overlay"/>
      </transition>
    </q-page-container>
  </q-layout>
</template>

<script>
import { mapGetters } from 'vuex'
import { CATEGORIES, NS_CATEGORY } from '../store/Category/const'
import { CITY, NS_CITY } from 'src/store/Cities'

export default {
  components: {
    AppHeader: () => import('../components/Layout/Header'),
    MainMenu: () => import('../components/Layout/Menu/MainMenu.vue'),
    Overlay: () => import('components/Layout/Overlay'),
    AppFooter: () => import('../components/Layout/Footer'),
    MobileCities: () => import('../components/Layout/Header/CitiesAndShops/Mobile')
  },
  data () {
    return {
      overlay: false,
      timeoutId: false,
      showCity: false
    }
  },
  computed: {
    ...mapGetters({
      currentCity: [NS_CITY, CITY].join('/'),
      categories: [NS_CATEGORY, CATEGORIES].join('/')
    })
  },
  created () {
    this.$root.$on('showOverlay', this.showOverlay)
    this.$root.$on('showCities', this.showCitiesList)
  },
  meta () {
    return {
      title: 'RichFamily - интернет-магазин детских товаров'
    }
  },
  methods: {
    showOverlay (isShow) {
      if (!isShow) {
        this.timeoutId = window.setTimeout(() => {
          this.overlay = false
        }, 150, this)

        return
      }

      this.overlay = true
      if (this.timeoutId) {
        window.clearTimeout(this.timeoutId)
      }
    },
    showCitiesList (value) {
      this.showCity = value
    }
  }
}
</script>
