<template>
  <div class="inner">
    <categories />
    <banners :banners="banners" />
  </div>
</template>

<script>

import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'
import { ROUTE_CATALOG } from 'src/router/routes'

export default {
  components: {
    Banners: () => import('components/LayoutNew/Banners'),
    Categories: () => import('components/LayoutNew/Categories')
  },
  data () {
    return {
      catalog: ROUTE_CATALOG,
      overlay: false,
      slideNum: 0,
      width: 0,
      timeoutId: false
    }
  },
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    }),
    banners () {
      return [
        {
          id: 0,
          url: 'img/new/banners/banner1.png'
        },
        {
          id: 1,
          url: 'img/new/banners/banner2.png'
        },
        {
          id: 2,
          url: 'img/new/banners/banner3.png'
        }
      ]
    },
    slides () {
      return this.user.slider.filter(slide => slide.id === this.slideNum)
    }
  }
}
</script>
<style lang="scss" scoped>
$padding-inner: 80px;
$background: inherit !important;

@import 'src/css/new_layout';

.icon {
  color: rgba(255, 255, 255, 0.72);
  font-size: 27px;
  position: absolute;
  top: 30%;
  left: -41px;
  cursor: pointer;
}

.back-icon {
  &:before {
    content: 'arrow_back_ios';
  }

  &:after {
    content: 'arrow_back_ios';
    margin: -18px;
  }
}

.forward-icon {
  left: calc(100% - 30px);

  &:before {
    content: 'arrow_forward_ios';
  }

  &:after {
    content: 'arrow_forward_ios';
    margin: -18px;
  }
}

.grad1 {
  font-family: 'Raleway';
  position: relative;
  text-align: left;
  color: #ffffff;

  &__catalog-button {
    background-color: black;
    padding: 17px;
    font-size: 14px;
    border-radius: 9px;
    padding-left: 50px;
    padding-right: 50px;
    letter-spacing: 0.5px;

    &:hover {
      background-color: #e11f26;
    }
  }

  &:before {
    content: '';
    position: absolute;
    background-size: contain;
    background: url('/../img/new/background.png');
    background-repeat: no-repeat;
    background-position: top;
    height: 100%;
    width: 100%;
  }

  &__inner {
    max-width: 1440px;
    margin: auto;
    max-height: 850px;
    padding: 36px;
    padding-left: $padding-inner;
    padding-right: $padding-inner;
    padding-top: 0;
  }
}

::v-deep {
  .q-btn {
    width: 208px;
    height: 51px;
    background: black !important;
    border-radius: 13px;
  }

  .container-origin-width {
    max-width: initial;
  }

  .header {
    background-color: $background;
  }

  .header-icons button {
    background-color: $background;

    i {
      background-color: $background;

      &:hover {
        color: red !important;
      }
    }
  }

  .shop_info {
    background-color: $background;
  }

  .main-menu {
    background-color: $background;

    div {
      color: white;
      text-shadow: 1px 1px 2px black;

      &:hover {
        text-shadow: none;
      }
    }
  }

  .menu-panel, .main-menu {
    border: none !important;
  }

  @media (max-width: $width-480) {
    .menu-panel {
      display: none;
    }
  }
}

</style>
