<template lang="html">
  <div>
      <a
        v-for="(item, idx) in sortBy" :key="idx"
        :class="{'active': item.code === code, 'price_sort': item.code === 'price'}"
        @click="$emit('input', item.code); changeShowSort(false)"
        >
        {{ item.name }}
      </a>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { SHOW_SORT } from 'src/store/Common'

export default {
  name: 'PanelSorting',
  props: {
    code: String,
    direction: {
      type: String,
      default: 'asc'
    }
  },
  methods: {
    ...mapActions({
      changeShowSort: SHOW_SORT
    })
  },
  data () {
    return {
      sortBy: [
        { code: 'pop', name: 'популярности' },
        { code: 'price', name: 'цене' },
        { code: 'new', name: 'новизне' }
      ]
    }
  }
}
</script>

<style lang="scss" scoped="scoped">
@import 'src/css/vars';
@import '~quasar/dist/quasar.sass';

div {
  @extend .col;
  color: var(--color-black);

  &:before {
    content: 'Сортировать по:'
  }

  a {
    cursor: pointer;
  }
}

.active {
  color: var(--color-blue) !important;
}

@media (min-width: $width-961) {
  a {
    position: relative;
    color: var(--color-grey-dark);
    font-size: var(--font-size);
    text-decoration: underline dotted;
    margin: 0;
    padding: 0 5px;
  }
  a + a:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 12px;
    top: 2px;
    bottom: 0;
    left: -2px;
    margin: auto;
    background-color: var(--color-grey-dark);
  }
}

@media (max-width: $width-960) {
  div {
    display: flex;
    flex-flow: column nowrap;
    background: var(--color-white);
    position: fixed;
    top: var(--mobile-top-height);
    left: 0;
    right: 0;
    z-index: 400;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);

    &:before {
      content: '';
    }
    a {
      text-decoration: none;
      border-bottom: 1px solid var(--color-grey-light);
      line-height: 36px;
      padding-left: 10px;
      transition: background-color .2s ease;

      &:before {
        content: 'по';
      }

      &:hover {
        background-color: var(--color-grey-light);
      }
    }
  }
}

</style>
