<template>
  <div class="container-width">
    <div v-if="category.parent !== null" class="grid">
      <category-name :category="category" class="category-name"/>

      <breadcrumbs v-if="$q.screen.width > 960" :category="category" class="breadcrumbs"/>

      <category-aside
        v-if="showFilters || $q.screen.width > 960"
        :category="category"
        :prices="prices"
        :range="range"
        class="category-aside"
      />
      <category
        v-if="!showFilters"
        :category="category"
        :prices="prices"
        :sortCode="sortCode"
        @input:sortCode="sortCode = $event"
        class="category-listing"
      />
    </div>
    <category-main v-else :category="category"/>
  </div>
</template>

<script>
import { Category } from 'src/model/Category'
import { mapGetters } from 'vuex'
import { CITY, NS_CITY } from 'src/store/Cities'
import { SHOW_FILTERS } from 'src/store/Common'

export default {
  name: 'PageCatalogCategory',
  props: {
    category: {
      type: Category,
      required: true
    }
  },
  meta () {
    return {
      title: this.category.name + ' в г.' + this.currentCity.name,
      meta: {
        description: {
          name: 'description',
          content: this.category.name + ' узнать цену и купить в Новосибирске можно в интернет-магазине Rich Family.'
        }
      }
    }
  },
  components: {
    Breadcrumbs: () => import('../../../components/Layout/Breadcrumbs'),
    CategoryAside: () => import('../../../components/Catalog/Category/Aside'),
    CategoryMain: () => import('../../../components/Catalog/Category/Main'),
    Category: () => import('../../../components/Catalog/Category'),
    CategoryName: () => import('../../../components/Catalog/Category/Name')
  },
  computed: {
    ...mapGetters({
      currentCity: [NS_CITY, CITY].join('/'),
      showFilters: SHOW_FILTERS
    }),
    range () {
      return [this.category.prices.min, this.category.prices.max]
    }
  },
  data () {
    return {
      sortCode: null,
      prices: { min: null, max: null }
    }
  },
  watch: {
    range () {
      this.prices = { min: this.range[0], max: this.range[1] }
    },
    filtersView () {
      window.scrollTo(0, 0)
    }
  },
  methods: {
    setPriceRange (range) {
      this.prices.min = range.min
      this.prices.max = range.max
    }
  },
  mounted () {
    // this.$store.commit('Category/filter', this.category)
  }
}
</script>
<style scoped="scoped" lang="scss">
@import "src/css/vars";

h1 {
  font-size: 16px !important;
  font-weight: 400 !important;
}

.container-width {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $width-960) {
  .grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 240px auto;
    grid-template-rows: repeat(100, auto);
    grid-row-gap: 10px;
    grid-column-gap: 20px;
  }

  .category-aside {
    grid-column: 1 / 2;
    grid-row: 1 / -1;
  }

  .breadcrumbs {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
  }

  .category-name {
    grid-column: 2 / -1;
    grid-row: 2 / 3;
  }

  .category-listing {
    grid-column: 2 / -1;
    grid-row: 3 / -1;
  }
}

@media (max-width: $width-960) {
  .container-width  > div {
    display: block;
  }
}

</style>

<style lang="scss">
//@media (max-width: 960px) {
//  .wrapper {
//    background: url("/img/cat_bcg1.png") repeat;
//    background-size: 45px;
//  }
//}

//@media (min-device-pixel-ratio: 2) and (max-width: 960px) {
//  .wrapper {
//    background: url("/img/cat_bcg1.png") repeat;
//    background-size: 45px;
//  }
//}

</style>
