<template>
  <div class="compare">
    <!--Блок переключения категорий -->
    <div class="row">
      <div
        v-for="(category_, id) in categories"
        :key="id"
        class="compare__category-list__category"
      >
        <div
          :class="{'active': category_.id === category.id}"
          class="category-change"
          @click="changeCategory( category_)"
        >
          {{ category_.name }}
          ({{ category_.products.length }} товар)
        </div>
        <q-btn @click="deleteAll(category_)" flat round icon="close"/>
      </div>

      <div v-if="count > 3" class="compare__buttons_line">
          <span
            class="material-icons"
            :class="{'active': start > 0}"
            @click="prevProducts">chevron_left</span>
        <span
          class="material-icons"
          :class="{'active': (start + 3) < count}"
          @click="nextProducts">chevron_right</span>
      </div>
    </div>

    <!--Таблица свойств -->
    <q-table
      row-key="name"
      :data="data"
      :columns="columns"
      :hide-pagination="true"
      :rows-per-page-options="[0]"
      :wrap-cells="true"
      no-data-label="Нет данных для отображения"
      class="no-shadow text-left"
    >
      <!--Блок товаров -->
      <template v-slot:header="">
        <q-tr>
          <q-td class="vertical-top">
            <a @click="onlyDiff = false" :class="{active: !onlyDiff}">Все характеристики</a>
            <a @click="onlyDiff = true" :class="{active: onlyDiff}">Только отличия</a>
          </q-td>
          <q-td v-for="column in columns.slice(1)" :key="column.field">
            <product-card :product="column.product" />
          </q-td>
        </q-tr>
      </template>
    </q-table>
  </div>
</template>

<script>

import { mapActions } from 'vuex'
import { NS_USER, PRODUCT_COMPARE } from 'src/store/User'

export default {
  name: 'compare',
  components: {
    ProductCard: () => import('components/Catalog/Category/Listing/Card')
  },
  props: {
    compareList: {}
  },
  data () {
    return {
      category: {},
      start: 0,
      onlyDiff: false
    }
  },
  computed: {
    products () {
      let products = []
      try {
        products = this.compareList.filter(product => product.category.root.id === this.category.id)
      } catch {}
      return products
    },
    count () {
      return this.products.length
    },
    properties () {
      const properties = {}
      this.products.forEach(product => {
        product.properties.forEach((value, prop) => {
          if (!(prop in properties)) {
            properties[prop] = []
          }
          if (!properties[prop].includes(value)) {
            properties[prop].push(value)
          }
        })
      })

      if (this.onlyDiff) {
        return Object.keys(properties).filter(prop => properties[prop].length > 1)
      }

      return Object.keys(properties)
    },
    columns () {
      return [{ field: 'property', align: 'left' }].concat(this.products.map(product => {
        return {
          product: product,
          label: product.name,
          align: 'left',
          field: 'column' + product.id
        }
      }).slice(this.start, this.start + 3))
    },
    data () {
      return this.properties.map(property => {
        const row = { property: property }

        this.products.forEach(product => {
          try {
            row['column' + product.id] = product.properties.get(property)
          } catch {
            row['column' + product.id] = ''
          }
        })

        return row
      })
    },
    categories () {
      const categories = {}
      try {
        this.compareList.map(product => {
          const category = product.category.root

          if (!(category.id in categories)) {
            categories[category.id] = {
              id: category.id,
              name: category.name,
              products: []
            }
          }
          categories[category.id].products.push(product)
        })
      } catch {}
      return categories
    }
  },
  methods: {
    ...mapActions({
      deleteProduct: [NS_USER, PRODUCT_COMPARE].join('/')
    }),
    changeCategory (category) {
      this.category = category
      this.start = 0
    },
    deleteAll (category) {
      category.products.map(product => {
        this.deleteProduct(product)
      })
    },
    prevProducts () {
      if (this.start > 0) {
        this.start--
      }
    },
    nextProducts () {
      if (this.start + 3 < this.count) {
        this.start++
      }
    }
  },
  mounted () {
    const vm = this
    this.compareList.map(product => {
      if (product.isFullLoaded) {
        if (!vm.category.id) {
          vm.category = product.category.root
        }
      }
    })
  }
}
</script>

<style lang="scss" scoped="scoped">

::v-deep .q-table__middle.scroll {
  overflow: initial !important;
}

::v-deep table tr td {
  font-size: 13px;
  color: #777777;
}

::v-deep table tr td:first-child  {
  font-size: 14px;
  color: #000000;
}

::v-deep table thead tr td:first-child {
  width: 250px;

  a {
    display: block;
    cursor: pointer;

    &.active {
      color: #e42426;
    }
  }
}

.compare {
  &__buttons_line {
    position: fixed;
    top: 40%;
    margin-top: 10%;
    cursor: pointer;

    span {
      position: absolute;
      right: calc(100% - 1250px);
      font-size: 55px;
      opacity: 0.4;

      &:first-child {
        right: 0;
        left: -80px;
      }
    }

    span.active{
      opacity: 1;
    }
  }

  &__category-list {
    margin-bottom: 30px;

    &__category {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: inherit;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      margin-right: 40px;

      .closed {
        margin-left: 7px;
        width: 13px;
        height: 13px;
        position: relative;
        cursor: pointer;
      }

      .category-change {
        color: #000000;
        border-bottom: 1px dashed #000080;
        cursor: pointer;

        &:hover {
          border-bottom: 1px dashed #ffffff;
        }
      }

      .category-change.active {
        color: #E42426;
        border-bottom: 1px dashed #E42426;

        &:hover {
          border-bottom: 1px dashed #ffffff;
        }
      }
    }
  }
}

::v-deep .card {
  max-width: 250px !important;
}
</style>
