<template>
  <form class="header__search" :class="{'active': mobileSearchLine}" @submit.prevent="findProducts">
    <i v-if="!mobileSearchLine" @click="mobileSearchLine = true" class="icon search-icon"/>
    <div v-else class="search-line">
      <q-btn
        color="black"
        @click="mobileSearchLine = false"
        flat dense unelevated
        icon="arrow_back"
        size="12px"
      />
      <q-input
        filled
        v-model="search"
        :placeholder="searchPlace"
        debounce="500"
        clear-icon="close"
        :autofocus="false"
      >
        <template v-slot:append>
          <q-icon @click="findProducts" name="search"/>
        </template>
      </q-input>
    </div>
  </form>
</template>

<script>

export default {
  name: 'Search',
  data () {
    return {
      suggest: false,
      mobileSearchLine: true,
      searchPlace: 'Найти среди 30 000 товаров',
      search: '',
      searchList: []
    }
  },
  methods: {
    hideSearch () {
      this.$emit('showSearchApp', false)
    },
    findProducts () {
      if (this.search) {
        this.$router.push('/search?q=' + this.search)
      }
    },
    getSuggestions () {
      this.searchList = []
    },
    setSuggest (text) {
      this.search = text
      this.findProducts()
    },
    parseSuggest (data) {
      this.searchList = data.map((item) => {
        const colored = this.search
        const split = item.text.split(this.search)[1]
        return { colored: colored, text: split, categoryId: item.categoryId, categoryName: item.categoryName }
      })
      this.suggest = true
    }
  },
  created () {
    if (this.$q.screen.width < 960) {
      this.mobileSearchLine = false
    }
    this.search = this.$route.query.q
  },
  watch: {
    '$q.screen.width' () {
      this.mobileSearchLine = this.$q.screen.width >= 960
    },
    mobileSearchLine () {
      this.$root.$emit('showLine', this.mobileSearchLine)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "src/css/vars";
@import 'src/css/mixins.scss';

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

.search-icon {
  color: black;
  font-size: 30px;
  line-height: 1;

  &:before {
    content: 'search';
  }
}

.header__search.active{
  .search-line {
    display: block;

    button {
      display: none;
    }
  }
}

.header__search{
  .search-line {
    display: none;
  }

  &__line{
    display: flex;
    flex: auto;
    margin-right: 30px;
    position: relative;
  }

  &__button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
    background-image: url("/icons/search.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &__input{
    width: 100%;
    display: block;
    background-color: #fff;
    border: 0;
    outline: 0;
    font-size: 12px;
    font-family: Ubuntu,Arial,Helvetica,sans-serif;
    height: 40px;
    border-radius: 5px;
    opacity: .8;
    padding: 8px 40px 7px 13px;
  }
}

::v-deep {
  .q-field {
    &__inner {
      font-size: 12px;
      opacity: .8;
    }

    &__marginal {
      height: 40px;
    }

    &__control {
      height: 40px;
      padding-right: 0;
      border: none !important;
      border-radius: 5px;

      &:before {
        background: white !important;
      }
    }
  }
}

@media (max-width: $hideAside) {
  .mobile {
    display: block;

    .material-icons, .material-icons-outlined {
      color: black;
      font-size: 30px;
      margin-left: 15px;
    }

    .button, .material-icons-outlined {
      position: relative;
    }
  }

  .header__search.active{
    .search-line {
      button {
        display: block;
      }
    }
  }

  ::v-deep {
    .q-btn {
      position: absolute;
      z-index: 1;
      margin-left: -20px;
    }

    .q-field {
      height: 10px;
      margin-bottom: 0;

      &__append {
        padding-left: 0;
      }

      &__marginal {
        height: initial;
      }

      &__control {
        margin-top: 20px;
        height: 58px;
        border: none !important;
        padding-right: 0;

        &:before {
          background: white !important;
        }
      }

      &__control-container {
        color: #474747;
      }
    }
  }
}
</style>
