<template>
  <div class="header" :class="{'scrollHeader': scrollHeader}">
    <div class="container-origin-width">
      <header :class="{'search-line': mobileSearchLine}">
        <div @click="showMobileMenu = !showMobileMenu" class="mobile">
          <span @click="leftDrawerOpen = !leftDrawerOpen" style="color: black; font-size: 35px;" class="material-icons">menu</span>
          <q-drawer
            behavior="mobile"
            :elevated="true"
            v-model="leftDrawerOpen"
            bordered
            content-class="text-black"
          >
            <mobile-menu/>
          </q-drawer>
        </div>
        <div class="header__container">
          <router-link to="/" class="header__logo-m">
            <img alt="" src="../../../statics/logo_m.svg">
          </router-link>
          <router-link to="/" class="header__logo">
            <img alt="" src="../../../statics/logo.svg">
          </router-link>
          <cities-and-shops @showMap="showMaps"/>
          <search />
          <icon-list v-if="!mobileSearchLine" @showAuthForm="showAuthForm" />
          <q-dialog v-model="showMap">
          </q-dialog>
          <q-dialog v-model="showAuth">
            <auth-form @showAuthForm="showAuthForm" @input:hide="showAuthForm(false)"/>
          </q-dialog>
        </div>
      </header>
    </div>
  </div>
</template>
<script>
import { scroll } from 'quasar'
const { getScrollPosition } = scroll

export default {
  name: 'AppHeader',
  components: {
    CitiesAndShops: () => import('../Header/CitiesAndShops'),
    AuthForm: () => import('../../User/Authorize'),
    MobileMenu: () => import('../../Layout/Menu/Mobile/Main'),
    Search: () => import('../Header/Search'),
    IconList: () => import('../Header/Personal/IconList')
  },
  data () {
    return {
      mobileSearchLine: false,
      leftDrawerOpen: false,
      showMap: false,
      showCity: false,
      showAuth: false,
      scrollHeader: false,
      showMobileMenu: false
    }
  },
  methods: {
    showMaps (bool) {
      this.showMap = bool
    },
    showAuthForm (bool) {
      this.showAuth = bool
    },
    handleScroll ($event) {
      this.scrollHeader = getScrollPosition(window) > 500
    }
  },
  created () {
    // if (this.$q.screen.width < 960) {
    window.addEventListener('scroll', this.handleScroll)
    // }
    this.$root.$on('showLine', ($event) => { this.mobileSearchLine = $event })
    this.$root.$on('showMap', this.showMaps)
  }
}
</script>

<style lang="scss" scoped="scoped">
@import "src/css/vars";

::v-deep .q-list--bordered {
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  color: black;
  background: white;

  .q-item {
    text-align: center;
    font-size: 0.9rem;
  }
}

.header {
  color: #fff;
  padding: 12px 0 13px 0;
  font-size: 12px;
  position: relative;
  z-index: 100;

  &__search {
    display: block;
    width: 100%;
    margin-right: 30px;
  }

  .search-line {
    .mobile, .header__logo-m {
      display: none;
    }
  }

  header {
    display: inherit;
    width: 100%;
  }

  .mobile {
    .material-icons, .material-icons-outlined {
      font-size: 35px;
      color: white !important;
    }
  }

  &__selector {
    display: block;
    padding: 7px 22px 9px 10px;
    cursor: pointer;
    height: 35px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #245285;
    position: relative;
    margin-right: 10px;

    &__text {
      border-bottom: 1px dashed;
    }
  }

  &__search-line {
    display: contents;
  }

  &__container {
    max-width: 1530px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }

  &__logo {
    margin-right: 20px;
  }

  &__logo-m {
    display: none;
  }

  &__info {
    background: #F8FC41;
    text-align: center;
    padding: 10px 0;
    color: #474747;
    font-size: 17px;
    font-weight: bold;
    min-height: 37px;
    position: relative;
    z-index: 998;
    cursor: pointer;
    box-sizing: border-box;
    display: none;

    &__container {
      position: relative;
      text-transform: uppercase;
      width: 1280px;
      margin: 0 auto;
      line-height: 1;
    }
  }
}

@media (max-width: $hideAside){
  .header{
    padding: 11px 16px 11px 16px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    min-height: 57px;

    header {
      display: flex;
    }

    i {
      color: white;
    }

    &__search{
      margin-left: auto;
      width: auto;
      margin-right: 0;
    }

    &__search.active{
      width: 100%;
    }

    a {
      color: black;
    }

    &__selector {
      display: none;
    }

    &__logo-m {
      display: block;
    }

    &__logo {
      display: none;
      margin-right: 20px;
    }
  }

  .header.scrollHeader {
    background-color: white !important;
  }
}

@media (max-width: $hideAside) {
  .header.scrollHeader {
    ::v-deep {
      i, .material-icons {
        color: black !important;
      }
    }
  }
}
</style>
