<template>
  <div class="container-origin-width static">
    <div class="ksk_personal__container">
      <div class="flex-original">
        <left-panel/>

        <div class="kkb_page-info__content">
          <a class="return-button" href="/"></a>
          <h1 class="kkb_page-info__title mobile-header">Преимущества Rich Family</h1>
          <div class="kkb_tab-content__box">
            <p class="kkb_tab-content__subtitle">
              Интересно всей семье
            </p>
            <p class="kkb_tab-content__text">
              Большие, яркие, просторные гипермаркеты Rich Family подарят массу положительных впечатлений. Площадь каждого магазина от 3 500 до 5 000 кв.м. Каждый член семьи найдет здесь товар по своим интересам – в магазинах представлены не только детские товары, но и товары для спорта и активного отдыха, велосипеды от самых маленьких до самых продвинутых взрослых моделей.
            </p>
            <p class="kkb_tab-content__subtitle">
              Выгодно родителям
            </p>
            <p class="kkb_tab-content__text">
              Выгодных цен удалось достичь за счет работы напрямую с производителями, собственных логистических решений. Для того чтобы получить привлекательную цену вам не надо оформлять дисконтные карты, копить баллы, ждать скидок - в наших магазинах выгодная цена доступна сразу.
            </p>
            <p class="kkb_tab-content__subtitle">
              Поможем с выбором
            </p>
            <p class="kkb_tab-content__text">
              На нашем сайте размещены все товары, которые представлены в гипермаркетах. Вы сможете легко найти интересующий вас товар, просмотреть его фотографии, ознакомиться с описанием и характеристиками.
            </p>
            <p class="kkb_tab-content__subtitle">
              Нам доверяют
            </p>
            <p class="kkb_tab-content__text">
              Мы работаем с 2012 года, и завоевали любовь миллионов покупателей, которые нам доверяют. Каждый день гипермаркеты Rich Family посещают десятки тысяч покупателей, и мы делаем всё, чтобы они к нам вернулись.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>

export default {
  meta () {
    return {
      title: 'Преимущества'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  },
  data () {
    return {
      items: [
        {
          name: 'О нас',
          url: '/company'
        }
      ]
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";

.kkb_page-info__content {
  margin-top: 10px;
}

.ksk_personal__container {
  margin-bottom: 10px;
}

.kkb_tab-content__subtitle {
  color: #000;
  margin-top: 24px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 20px;
}

.kkb_tab-content__text {
  color: #777;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
}

@media (max-width: $width-767) {
  .kkb_tab-content__box {
    margin-top: 40px;
  }
}

</style>
