<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="w-100">
        <a class="return-button" href="/"></a>
        <h1 class="kkb_page-info__title mobile-header">Коммерческий отдел</h1>
        <div class="kkb_page-info__content">
          <p class="kkb_tab-content__text">
            Компания Рич Фэмили открыта для сотрудничества, мы готовы рассматривать предложения от новых поставщиков.
            Категорийные менеджеры отдела закупа - специалисты своего дела, обязательно обратят внимание на новый
            интересный товар и расскажут об условиях сотрудничества. <br>
            <br>
          </p>
          <p class="kkb_tab-content__text">
            Свои предложения Вы можете направлять на адрес: <a href="mailto:tovar@rf-54.ru">tovar@rf-54.ru</a>. <br>
            <br>
          </p>
          <p class="kkb_tab-content__text">
            Мы гарантируем, что направленные в наш адрес предложения будут рассмотрены в кратчайшие сроки. Если
            предложения нас заинтересуют – мы обязательно свяжемся с Вами по указанному в коммерческом предложении
            электронному адресу или телефону.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'Коммерческий отдел'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>
<style scoped="scoped" lang="scss">
@import "src/css/vars";

.w-100 {
  padding-top: 10px;
}

@media (max-width: $width-767) {
  .kkb_page-info__content {
    margin-top: 40px;
  }

}
</style>
<style scoped="scoped" lang="scss">
@import "src/css/vars";

.w-100 {
  padding-top: 10px;
}

@media (max-width: $width-767) {
  .kkb_page-info__content {
    margin-top: 40px;
  }

}
</style>
