<template>
  <div class="container-origin-width static">
    <div class="ksk_personal__container">
      <div class="flex-original">
        <left-panel/>
        <div>
          <div class="kkb_page-info__content">
            <a class="return-button" href="/"></a>
            <h1 class="kkb_page-info__title mobile-header">О компании</h1>
            <div class="kkb_tab-content__box">
              <p class="kkb_tab-content__text">
                <b>Rich Family</b> – сеть гипермаркетов детских товаров и интернет-магазин.
              </p>
              <p class="kkb_tab-content__text">
                Работаем с 2012 года.
              </p>
              <p class="kkb_tab-content__text">
                <b>31 магазин в России</b> - от Москвы до Владивостока.
              </p>
              <p class="kkb_tab-content__text">
                <b>1 магазин в Казахстане</b> - в г. Алматы.
              </p>
              <p class="kkb_tab-content__text">
                Площадь магазинов от <b>3500 до 5000 кв.м.</b>
              </p>
              <p class="kkb_tab-content__text">
                Каждый год мы продолжаем развиваться, расширять географию присутствия, улучшать качество обслуживания,
                чтобы радовать наших Покупателей!
              </p>

              <router-link :to="'/advantages'" class="btn">Преимущества Rich Family</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>
<script>

export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'О компании'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  },
  data () {
    return {
      items: [
        {
          name: 'О нас',
          url: '/company'
        }
      ]
    }
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";

.kkb_page-info__content {
  margin-top: 10px;
}

.btn {
  background: #e42426;
  max-width: 260px;
  display: flex;
  margin: 0 auto;
  padding: 16px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  color: #FFF;
  border: 1px solid #e42426;
}

@media (max-width: $width-767) {
  .kkb_page-info__content {
    margin-top: 50px;
  }

}
</style>
