<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="w-100">
        <a href="/" class="return-button"></a>
        <h1 class="kkb_page-info__title mobile-header">Контактная информация</h1>
        <div class="kkb_page-info__content">
          <div class="kkb_tab-content__box">
            <p class="kkb_tab-content__text">
              ООО «Рич Фэмили»
            </p>
            <p class="kkb_tab-content__text">
              ОГРН 1105476051196
            </p>
            <p class="kkb_tab-content__text">
              ИНН/КПП 5401339590/783450001
            </p>
            <p class="kkb_tab-content__text">
              Юридический адрес: 630015, г. Новосибирск, ул. Королёва, д. 40
            </p>
            <p class="kkb_tab-content__text">
              Телефон: <a href="tel:83832408005">8 (383) 240-80-05</a> (офис)
            </p>
            <p class="kkb_tab-content__text">
              Электронная почта для обращений: <a href="mailto:contact@rf-54.ru">contact@rf-54.ru</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  meta () {
    return {
      title: 'Контакты'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>
<style scoped="scoped" lang="scss">
@import "src/css/vars";

.w-100 {
  margin-top: 10px;
}

@media (max-width: $width-767) {
  .w-100 {
    margin-top: 50px;
  }
}

</style>
<style scoped="scoped" lang="scss">
@import "src/css/vars";

.w-100 {
  margin-top: 10px;
}

@media (max-width: $width-767) {
  .w-100 {
    margin-top: 50px;
  }
}

</style>
