<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="full-width">
        <a href="/" class="return-button"></a>
        <h1 class="mobile-header">Доставка</h1>
        <div class="flex-original items-center">
          <div class="">Город:</div>
          <div class="city">
            <q-btn
              :label="currentCity.name"
              dense
              unelevated
              class="button small"
              :disable="false"
            />
          </div>
        </div>
        <q-tabs
          v-if="!mobile"
          v-model="tab"
          dense
          class="tab-list text-grey"
          align="justify"
          indicator-color="transparent"
        >
          <q-tab
            v-for="(tab, id) in tabs" :key="id"
            :name="tab.name"
            class="tab-list__tab"
            no-caps
            :label="tab.name"
            exact
          />
        </q-tabs>
        <q-select
          v-else
          v-model="tab"
          :options="tabNames"
          label="Выберите тип доставки"
        >
        </q-select>

        <q-tab-panels v-model="tab">
          <q-tab-panel
            v-for="(tab, id) in tabs" :key="id"
            :name="tab.name">
            <div v-html="tab.text"></div>
          </q-tab-panel>
        </q-tab-panels>

      </div>
    </div>
  </div>
</template>
<script>

import { mapGetters } from 'vuex'
import { CITY, NS_CITY } from 'src/store/Cities'

export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'Доставка'
    }
  },
  data () {
    return {
      tab: 'Самовывоз'
    }
  },
  computed: {
    ...mapGetters({
      currentCity: [NS_CITY, CITY].join('/')
    }),
    mobile () {
      return this.$q.screen.width < 767
    },
    tabNames () {
      return Object.keys(this.tabs).map((delivery) => {
        return this.tabs[delivery].name
      })
    },
    tabs () {
      return {
        selfDelivery: {
          name: 'Самовывоз',
          text: '<div class="kkb_tab-content kkb_tab-content_1 kkb_tab-content_show">\n' +
            '\t\t\t\t<b>Самовывоз</b>\n' +
            '<br> <br>\n' +
            'Вы&nbsp;можете забрать заказ в&nbsp;любом из&nbsp;гипермаркетов Rich Family: <br>\n' +
            '<ul>\t\n' +
            '<li>г.&nbsp;Новосибирск, ул.&nbsp;Королева, 40, корпус 40. Ежедневно с&nbsp;09:00 до&nbsp;20:00</li>\t<li><span>' +
            '</span>г.&nbsp;Новосибирск, ул.&nbsp;Петухова, 69, корпус 1. Ежедневно с&nbsp;09:00 до&nbsp;20:00</li>\t\n' +
            '<li>г.&nbsp;Новосибирск, ул. 1-е Мочищенское шоссе, 4. Ежедневно с&nbsp;09:00 до&nbsp;21:00</li>\t\n' +
            '<li>г.&nbsp;Новосибирск, Бердское шоссе, 277. Ежедневно с&nbsp;09:00 до&nbsp;21:00</li>\n' +
            '</ul>\n' +
            '<p>Обработка и&nbsp;подтверждение оплаченных заказов производится в&nbsp;течение 3 часов.</p>\n' +
            '<p>На&nbsp;ваш номер телефона будет отправлено <nobr>СМС-уведомление</nobr> о&nbsp;готовности заказа.</p>\n' +
            '<p>Заказ будет зарезервирован и&nbsp;доступен для самовывоза с&nbsp;момента получения СМС до&nbsp;конца следующего дня.</p>\n' +
            '<p> При получении сообщите номер заказа и&nbsp;номер чека.</p>\t\t\t</div>'
        },
        curier: {
          name: 'Курьером',
          text: '<div class="kkb_tab-content kkb_tab-content_2 kkb_tab-content_show">\n' +
            '\t\t\t\t<b>Курьером по&nbsp;г.&nbsp;Новосибирск.</b>\n' +
            ' <br>\n' +
            '<ul>\t\n' +
            '<li>Минимальная сумма заказа для доставки курьером&nbsp;— 2&nbsp;000&nbsp;руб. </li>\t\n' +
            '<li>Стоимость доставки&nbsp;— 200&nbsp;руб. </li>\t\n' +
            '<li>Доставка осуществляется на&nbsp;следующий день после оформления заказа. </li>\t\n' +
            '<li>Для заказов с&nbsp;весом больше 25 кг&nbsp;подъем на&nbsp;этаж, в&nbsp;домах с&nbsp;' +
            'отсутствующими или неработающими лифтами, оплачивается отдельно из&nbsp;расчета: один этаж&nbsp;— 50&nbsp;руб., ' +
            '<nobr>1-й</nobr> этаж бесплатно. </li>\n' +
            '<li>При получении сообщите номер чека оплаты. </li>\n' +
            '</ul> \n' +
            '<br> \n' +
            '<b>\n' +
            '* Доставка товаров осуществляется при наличии подъездных путей по&nbsp;указанному в&nbsp;заказе адресу.' +
            '</b> <br><b>* Если по&nbsp;адресу доставки действуют ограничения на&nbsp;въезд (закрытая территория, шлагбаум), ' +
            'Покупателю необходимо обеспечить возможность заезда курьера на&nbsp;территорию. В&nbsp;ином случае доставка возможна ' +
            'только до&nbsp;места ограниченного въезда.\n' +
            ' </b>\n' +
            '<br><br>\n' +
            '\n' +
            '\n' +
            '\t\t\t</div>'
        },
        expressDelivery: {
          name: 'Экспресс-доставка',
          text: '<div class="kkb_tab-content kkb_tab-content_3 kkb_tab-content_show">\n' +
            '\t\t\t\t<b><nobr>Экспресс-доставка</nobr> по&nbsp;г.&nbsp;Новосибирск</b>\n' +
            '<br>\n' +
            '<ul>\t\n' +
            '<li>Минимальная сумма заказа для <nobr>экспресс-доставки</nobr>&nbsp;— 2&nbsp;000&nbsp;руб. </li>\t\n' +
            '<li>Стоимость доставки&nbsp;— 350&nbsp;руб.</li>\t\n' +
            '<li>Доставка осуществляется в&nbsp;течение дня (при оплате с&nbsp;08:00 до&nbsp;16:00). ' +
            'При оплате после 16:00&nbsp;— доставка на&nbsp;следующий день до&nbsp;14:00. </li>\t\n' +
            '<li>Заказы с&nbsp;весом более 20 кг&nbsp;доставляются до&nbsp;подъезда. ' +
            'Покупатель самостоятельно забирает заказ из&nbsp;машины курьера.</li>\t\n' +
            '<li>При получении сообщите номер чека оплаты.</li>\n' +
            '</ul>\n' +
            '<br>\n' +
            '<b><p>* Доставка товаров осуществляется при наличии подъездных путей по&nbsp;указанному в&nbsp;заказе адресу.</p> ' +
            '</b> <b><p>* Если по&nbsp;адресу доставки действуют ограничения на&nbsp;въезд (закрытая территория, шлагбаум), ' +
            'Покупателю необходимо обеспечить возможность заезда курьера на&nbsp;территорию. В&nbsp;ином случае доставка возможна ' +
            'только до&nbsp;места ограниченного въезда.\n' +
            '</p> </b>\n' +
            '<br><br>\t\t\t</div>'
        },
        shopDelivery: {
          name: 'Доставка из магазина',
          text: '<div class="kkb_tab-content kkb_tab-content_4 kkb_tab-content_show">\n' +
            '\t\t\t\t<b>Доставка товаров, приобретенных в&nbsp;гипермаркетах «Rich Family» </b>\n' +
            '<br>\n' +
            '<ul>\t\n' +
            '<li>Стоимость услуг по&nbsp;доставке&nbsp;— 200&nbsp;руб.</li>\t\n' +
            '<li>Для заказов с&nbsp;весом больше 25 кг&nbsp;подъем на&nbsp;этаж, в&nbsp;домах с&nbsp;отсутствующими ' +
            'или неработающими лифтами, оплачивается отдельно из&nbsp;расчета: один этаж&nbsp;— 50&nbsp;руб., <nobr>1-й</nobr> этаж бесплатно.</li>\t\n' +
            '<li>Возможность доставки по&nbsp;вашему адресу уточняйте в&nbsp;гипермаркете.</li>\n' +
            '</ul>\n' +
            '<br>\n' +
            '<b><p>* Доставка товаров осуществляется при наличии подъездных путей по&nbsp;указанному в&nbsp;заказе адресу.</p> </b> \n' +
            '<b><p>* Если по&nbsp;адресу доставки действуют ограничения на&nbsp;въезд (закрытая территория, шлагбаум), ' +
            'Покупателю необходимо обеспечить возможность заезда курьера на&nbsp;территорию. В&nbsp;ином случае доставка ' +
            'возможна только до&nbsp;места ограниченного въезда.\n' +
            '</p> </b>\n' +
            '<br><br>\t\t\t</div>'
        },
        services: {
          name: 'Дополнительные услуги',
          text: '<div class="kkb_tab-content kkb_tab-content_5 kkb_tab-content_show">\n' +
            '\t\t\t\t<b>Сборка велосипедов, электромобилей, беговелов приобретенных в&nbsp;сети гипермаркетов «Rich Family» </b>\n' +
            '<br><br> \n' +
            'Стоимость услуг по&nbsp;сборке:<br>\n' +
            '<ul>\t\n' +
            '<li>Велосипед <nobr>2-х</nobr> и&nbsp;<nobr>3-х</nobr> колесный&nbsp;— 500&nbsp;руб.</li>\t\n' +
            '<li>Электромобиль&nbsp;— 500&nbsp;руб.</li>\t\n' +
            '<li>Беговел&nbsp;— 200&nbsp;руб.</li>\n' +
            '</ul> \n' +
            '<br> \n' +
            '<b>Сборка детской мебели приобретенной в&nbsp;сети гипермаркетов «Rich Family» </b>\n' +
            '<br><br> \n' +
            'Стоимость услуг по&nbsp;сборке:<br>\n' +
            '<ul>\t\n' +
            '<li>Детская кроватка&nbsp;— 500&nbsp;руб.</li>\t\n' +
            '<li>Кроватка трансформер&nbsp;— 800&nbsp;руб.</li>\t\n' +
            '<li>Комод&nbsp;— 500&nbsp;руб.</li>\n' +
            '</ul>\n' +
            '<br> \n' +
            'Заказ услуги сборки мебели&nbsp;— по&nbsp;телефону <nobr>219-01-23</nobr><br> <br>\t\t\t</div>'
        }
      }
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>

<style scoped lang="scss">
@import "src/css/vars";

.full-width {
  margin-top: 10px;
}

.button {
  margin-left: 10px;
}

.tab-list {
  border-bottom: 1px solid #D5D5D5;
  margin-top: 25px;
  margin-bottom: 25px;

  &__tab {
    border: 1px solid #dfdfdf;
    border-bottom: 0;
  }
}

::v-deep .q-tab {
  padding: {
    top: 1px;
    bottom: 1px;
  };
  border-top: {
    right-radius: 3px;
    left-radius: 3px;
  };
  border-bottom: none;
  max-width: 225px;
  background-color: #fff;
  margin-right: 5px;
  font-size: 17px;
  cursor: pointer;
  color: #2E2E2E;
}

::v-deep .q-tab--active {
  color: #e42426;

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 38px;
    border-bottom: 2px solid #fdfdfd;
  }
}

::v-deep .q-tabs__content {
  overflow: initial;
}

::v-deep .q-tab__label {
  font-size: inherit !important;
}

@media (max-width: $width-767) {
  .full-width {
    margin-top: 50px;
  }
}
</style>
