<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="full-width">
        <a href="/" class="return-button"></a>
        <h1 class="kkb_page-info__title mobile-header">Юридическим лицам</h1>
        <div class="kkb_tab-content__box">
          <h2>
            Заключение договора
          </h2>
          <p class="kkb_tab-content__text">
            Компания осуществляет продажу игрушек юридическим лицам и индивидуальным предпринимателям, осуществляющих их
            дальнейшую реализацию, на основании договоров поставки. (Обращаться <a href="#sales_depart">в отдел
            продаж</a> г. Новосибирск)
          </p>
          <p class="kkb_tab-content__text">
            Договор с контрагентом заключается при наличии следующего пакета документов:
          </p>
          <p class="kkb_tab-content__text">
            <b>Для юридических лиц:</b>
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Реквизиты;
            </li>
            <li class="kkb_tab-content__list">
              Копия свидетельства о государственной регистрации;
            </li>
            <li class="kkb_tab-content__list">
              Копия свидетельства о налоговой регистрации;
            </li>
            <li class="kkb_tab-content__list">
              Копия Устава;
            </li>
            <li class="kkb_tab-content__list">
              Копии Свидетельств на право собственности/договор аренды помещений, подтверждающие возможность ведения
              деятельности;
            </li>
            <li class="kkb_tab-content__list">
              Копии документов о назначении директора и главного бухгалтера;
            </li>
            <li class="kkb_tab-content__list">
              Копия кодов статистики;
            </li>
            <li class="kkb_tab-content__list">
              Выписка из ЕГРЮЛ не старше 1 месяца на момент заключения договора;
            </li>
            <li class="kkb_tab-content__list">
              Если договор будет подписываться доверенным лицом контрагента, доверенность на право подписи документов.
            </li>
            <li class="kkb_tab-content__list">
              Все копии должны быть заверены печатью организации и подписью директора организации-контрагента.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            <b>Для Индивидуальных предпринимателей:</b>
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Реквизиты;
            </li>
            <li class="kkb_tab-content__list">
              Копии свидетельства о государственной регистрации;
            </li>
            <li class="kkb_tab-content__list">
              Копии свидетельства о налоговой регистрации;
            </li>
            <li class="kkb_tab-content__list">
              Копии паспорта и прописки;
            </li>
            <li class="kkb_tab-content__list">
              Копии Свидетельств на право собственности/договор аренды помещений, подтверждающие возможность ведения
              деятельности;
            </li>
            <li class="kkb_tab-content__list">
              Копии о назначении главного бухгалтера (если бухгалтера нет, то справка об этом);
            </li>
            <li class="kkb_tab-content__list">
              Выписка из ЕГРИП не старше 1 месяца на момент заключения договора.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            Вышеуказанные документы предоставляются в виде копий, подписанных уполномоченным лицом и заверенных печатью
            Заявителя. Документы передаются в офис компании "Рич Фэмили" по адресу: г. Новосибирск, ул. Королева 40 или
            отправляются на электронную почту Вашего менеджера.
          </p>
          <p class="kkb_tab-content__text">
            Юридические лица и индивидуальные предприниматели, в течение 10-ти рабочих дней, с момента получения товара,
            должны предоставить оригиналы документов письмом с уведомлением по почте.
          </p>
          <h2>
            Скидки
          </h2>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              15 000 руб. - 8%
            </li>
            <li class="kkb_tab-content__list">
              25 000 руб. - 10%
            </li>
            <li class="kkb_tab-content__list">
              35 000 руб. - 11%
            </li>
            <li class="kkb_tab-content__list">
              50 000 руб. - 12%
            </li>
            <li class="kkb_tab-content__list">
              100 000 руб. - 15%
            </li>
            <li class="kkb_tab-content__list">
              150 000 руб. - 17%
            </li>
            <li class="kkb_tab-content__list">
              200 000 руб. - 20%
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            Скидка не распространяется на товары, участвующие в акциях.
          </p>
          <p class="kkb_tab-content__text">
            Цена, указанная на ценнике "Выгодная цена" действует только для розничных покупателей в гипермаркетах Рич
            Фэмили.
          </p>
          <p class="kkb_tab-content__text">
            Сотрудничаем при условии 100% предоплаты
          </p>
          <img src="https://nsk.richfamily.ru/upload/userfiles/images/action-icon-corobki.jpg" style="height: 200px; width: 200px;">
          <p class="kkb_tab-content__text">
            <b>Минимальная сумма отгрузки:</b>
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Для клиентов Новосибирска и НСО – <b>15 000</b> рублей.
            </li>
            <li class="kkb_tab-content__list">
              Для региональных клиентов – <b>25 000</b> рублей.
            </li>
          </ul>
          <h2>
            Выбор товара
          </h2>
          <p class="kkb_tab-content__text">
            Цена, указанная на сайте действует при заказе товара кратно коробам.
          </p>
          <p class="kkb_tab-content__text">
            При заказе товара штучно, цена может отличаться от цены на сайте.
          </p>
          <p class="kkb_tab-content__text">
            Подробную информацию уточняйте у своего менеджера.
          </p>
          <p class="kkb_tab-content__text">
            <b>Оформить заказ можно любым удобным для Вас способом:</b>
          </p>
          <p class="kkb_tab-content__text">
            <b>1. Через интернет – магазин компании.</b>
          </p>
          <p class="kkb_tab-content__text">
            Для этого необходимо зарегистрироваться на нашем сайте, заполнив все необходимые реквизиты (<a
            href="https://nsk.richfamily.ru/auth/">регистрация</a>).
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Чтобы зайти на сайт, введите электронную почту, которую указывали при регистрации и пароль.
            </li>
            <li class="kkb_tab-content__list">
              Перенесите выбранный товар в корзину, для этого внесите желаемое количество штук товара.
            </li>
            <li class="kkb_tab-content__list">
              Перейдите в корзину. Убедитесь в том, что весь необходимый Вам товар внесен в список покупок.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            В разделе "оформление заказа" укажите:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list"><b>Тип плательщика</b> - юридическое лицо.</li>
            <li class="kkb_tab-content__list"><b>Покупатель</b> - наименование компании, адрес, ИНН, электронная почта,
              контактный телефон. Обязательно укажите ФИО Вашего менеджера из предложенного варианта.
            </li>
            <li class="kkb_tab-content__list"><b>Доставка</b> - информацию о доставке.</li>
            <li class="kkb_tab-content__list"><b>Оплата</b> - выберите вариант оплаты за товар.</li>
          </ul>
          <p class="kkb_tab-content__text">
            <b>2. Оформить заказ в прайс-листе.</b>
          </p>
          <p class="kkb_tab-content__text">
            После получения заказа менеджер с вами свяжется по телефону или электронной почте.
          </p>
          <p class="kkb_tab-content__text">
            <b>3. Выбрать товар в торговом зале по адресу г. Новосибирск, ул. Королёва, 40, корп. 40. (<a
              href="https://nsk.richfamily.ru/stores">см. режим работы</a>)</b>
          </p>
          <h2>
            Оплата
          </h2>
          <p class="kkb_tab-content__text">
            <b>Оплатить заказ Вы можете любым удобным для Вас способом:</b>
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Банковской картой – оплата производится в офисе компании (г. Новосибирск, ул. Королева, 40, к, 40).
            </li>
            <li class="kkb_tab-content__list">
              По безналичному расчету - оплата производится на расчетный счет.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            Основание для оплаты является счёт, выставленный менеджером компании на основании Вашего заказа.
          </p>
          <h2>
            Доставка
          </h2>
          <p class="kkb_tab-content__text">
            Оформив заказ, Вы можете забрать его самостоятельно со склада в г. Новосибирске, либо воспользоваться
            услугой бесплатной доставки. Доставка товара в пределах г. Новосибирска осуществляется до терминала ТК или
            до подъезда БЕСПЛАТНО при сумме отгрузки свыше 25 000 руб.
          </p>
          <p class="kkb_tab-content__text">
            Доставка товаров за пределы г. Новосибирска осуществляется сторонними транспортными компаниями.
          </p>
          <p class="kkb_tab-content__text">
            Услуги транспортных компаний оплачиваются ПОКУПАТЕЛЕМ.
          </p>
          <h2>
            Возврат
          </h2>
          <p class="kkb_tab-content__text">
            Претензии по качеству товара принимаются в течение 90 календарных дней с момента получения товара.
          </p>
          <p class="kkb_tab-content__text">
            Претензия сопровождается актом о выявленном несоответствии.
          </p>
          <p class="kkb_tab-content__text">
            <b>Согласованный возврат товара принимается только при наличии следующих документов:</b>
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Акт об установленном расхождении по количеству и качеству при приемке товарно-материальных ценностей (ТОРГ
              2).
            </li>
          </ul>
          <h2>
            Отдел продаж - г. Новосибирск
          </h2>
          <p class="kkb_tab-content__text">
            Осуществляет продажу детских товаров на основании договора поставки Юридическим лицам и Индивидуальным
            предпринимателям.
          </p>
          <p class="kkb_tab-content__text">
            ул. Королёва 40, корпус 40.
          </p>
          <p class="kkb_tab-content__text">
            тел: <a href="tel:+73832408005">+7 (383) 240-80-05</a> (многоканальный).
          </p>
          <p class="kkb_tab-content__text">
            <b>Часы работы Отдела продаж:</b>
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              ПН-ПТ: 8.00 – 17.00
            </li>
            <li class="kkb_tab-content__list"><span style="color: red">СБ, ВС: выходной</span></li>
            <li class="kkb_tab-content__list"><span style="color: red">04 ноября 2020&nbsp;г. - выходной день</span>
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            <b>Часы работы Торгово-выставочного зала:</b>
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              ЕЖЕДНЕВНО: 9.00 - 20.00
            </li>
          </ul>
          <div class="kkb_table__container">
            <div class="kkb_table__width_block">
              <div class="kkb_table__header">
                <div class="kkb_table__header__list">
                  Регион
                </div>
                <div class="kkb_table__header__list">
                  ФИО
                </div>
                <div class="kkb_table__header__list">
                  E-MAIL
                </div>
                <div class="kkb_table__header__list">
                  Добавочный
                </div>
                <div class="kkb_table__header__list">
                  Мобильный
                </div>
                <div class="kkb_table__header__list">
                  ICQ
                </div>
                <div class="kkb_table__header__list">
                  Skype
                </div>
              </div>
              <div class="kkb_table__main">
                <div class="kkb_table__main__item">
                  <div class="kkb_table__main__city">
                    Архангельская область Башкирия Дальний Восток Иркутская область Казахстан Кемеровская область
                    Краснодарский край Красноярский край Пермская область Республика Алтай Республика Тыва Республика
                    Хакассия Саратовская область Свердловская область Томская область Челябинская область
                  </div>
                  <div class="kkb_table__main__container__list">
                    <div class="kkb_table__main__block__list">
                      <div class="kkb_table__main__list">
                        <b>Воеводина Наталья</b>
                        менеджер региональных продаж
                      </div>
                      <div class="kkb_table__main__list">
                        <a href="mailto:n.voevodina@rf-54.ru">n.voevodina@rf-54.ru</a>
                      </div>
                      <div class="kkb_table__main__list">
                        1122
                      </div>
                      <div class="kkb_table__main__list">
                        <a href="tel:89130602276">8-913-060-2276</a>
                      </div>
                      <div class="kkb_table__main__list">
                        610-864-204
                      </div>
                      <div class="kkb_table__main__list">
                        <a href="skype:nv1276?call">nv1276</a>
                      </div>
                    </div>
                    <div class="kkb_table__main__block__list">
                      <div class="kkb_table__main__list">
                        <b>Меркулова Елена</b>
                        помощник менеджера
                      </div>
                      <div class="kkb_table__main__list">
                      </div>
                      <div class="kkb_table__main__list">
                        1416
                      </div>
                      <div class="kkb_table__main__list">
                      </div>
                      <div class="kkb_table__main__list">
                      </div>
                      <div class="kkb_table__main__list">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="kkb_table__main__item">
                  <div class="kkb_table__main__city">
                    Алтайский край Липецкая область Новосибирск НСО Омская область Республика Бурятия Республика Крым
                    Самарская область Ставропольский край Тюменская область Читинская область Якутия
                  </div>
                  <div class="kkb_table__main__container__list">
                    <div class="kkb_table__main__block__list">
                      <div class="kkb_table__main__list">
                        <b>Аронович Наталья</b>
                        менеджер региональных продаж
                      </div>
                      <div class="kkb_table__main__list">
                        <a href="mailto:n.aronovich@rf-54.ru">n.aronovich@rf-54.ru</a>
                      </div>
                      <div class="kkb_table__main__list">
                        1132
                      </div>
                      <div class="kkb_table__main__list">
                        <a href="tel:89138926842">8-913-892-6842</a>
                      </div>
                      <div class="kkb_table__main__list">
                      </div>
                      <div class="kkb_table__main__list">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p class="kkb_tab-content__text">
            Бухгалтерия: <a href="tel:+73832408911">+7(383) 240-89-11</a>
          </p>
          <p class="kkb_tab-content__text">
            <a href="https://nsk.richfamily.ru">www.richfamily.ru</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'Юридическим лицам'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>
<style scoped lang="scss">
@import "src/css/vars";

.full-width {
  margin-top: 10px;
}

.kkb_table__container {
  width: 100%;
  overflow-x: hidden;
  margin-bottom: 10px
}

.kkb_table__width_block {
  overflow-x: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column
}

.kkb_table__header {
  display: flex;
  background-color: rgba(163, 163, 163, .1)
}

.kkb_table__header__list {
  padding: 12px 10px;
  color: #272727;
  font-size: 15px;
  box-sizing: border-box;
  text-align: center
}

.kkb_table__header__list:nth-child(1) {
  width: 180px;
  padding-left: 10px;
  padding-right: 5px
}

.kkb_table__header__list:nth-child(2) {
  width: 175px
}

.kkb_table__header__list:nth-child(3) {
  width: 180px
}

.kkb_table__header__list:nth-child(4) {
  width: 110px
}

.kkb_table__header__list:nth-child(5) {
  width: 140px
}

.kkb_table__header__list:nth-child(6) {
  width: 118px
}

.kkb_table__header__list:nth-child(7) {
  width: 82px
}

.kkb_table__main__item {
  display: flex;
  margin-bottom: 11px
}

.kkb_table__main__item:last-child {
  margin-bottom: 0
}

.kkb_table__main__city {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 5px;
  width: 180px;
  font-size: 14px;
  box-sizing: border-box
}

.kkb_table__main__city span {
  padding-top: 7px;
  padding-bottom: 7px
}

.kkb_table__main__container__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly
}

.kkb_table__main__block__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%
}

.kkb_table__main__block__list:nth-child(2n) {
  background-color: rgba(163, 163, 163, .1)
}

.kkb_table__main__list {
  padding: 12px 10px;
  color: #272727;
  font-size: 14px;
  box-sizing: border-box
}

.kkb_table__main__list a {
  text-decoration: underline;
  color: #143F6D
}

.kkb_table__main__list:nth-child(1) {
  width: 175px
}

.kkb_table__main__list:nth-child(2) {
  width: 180px;
  text-align: center
}

.kkb_table__main__list:nth-child(3) {
  width: 110px;
  text-align: center
}

.kkb_table__main__list:nth-child(4) {
  width: 140px;
  text-align: center
}

.kkb_table__main__list:nth-child(5) {
  width: 118px;
  text-align: center
}

.kkb_table__main__list:nth-child(6) {
  width: 82px;
  text-align: center
}

@media (max-width: $width-767) {
  .kkb_tab-content__box {
    margin-top: 40px;
  }

}
</style>
