<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="w-100">
        <a href="/" class="return-button"></a>
        <h1 class="kkb_page-info__title mobile-header">Способы оплаты</h1>
        <div class="kkb_page-info__content">
          <h2 class="kkb_tab-content__subtitle">
            Оплата онлайн
          </h2>
          <p class="kkb_tab-content__text">
            Оплата онлайн интернет-заказов с помощью банковских карт VISA, MASTER CARD и МИР предоставляется без комиссии. Заказ необходимо оплатить в течение 40 минут, неоплаченные заказы  не обрабатываются.  Для получения заказа предъявите электронный чек.
          </p>
          <p class="kkb_tab-content__text">
            Услуга оплаты через интернет осуществляется в соответствии с Правилами международных платежных систем Visa, MasterCard и Платежной системы МИР на принципах соблюдения конфиденциальности и безопасности совершения платежа, для чего используются самые современные методы проверки, шифрования и передачи данных по закрытым каналам связи. Ввод данных банковской карты осуществляется на защищенной платежной странице АО «АЛЬФА-БАНК».&nbsp;
          </p>
          <p class="kkb_tab-content__text">
            На странице для ввода данных банковской карты потребуется ввести данные банковской карты: номер карты, имя владельца карты, срок действия карты, трёхзначный код безопасности (CVV2 для VISA, CVC2 для MasterCard, Код Дополнительной Идентификации для МИР). Все необходимые данные пропечатаны на самой карте. Трёхзначный код безопасности — это три цифры, находящиеся на обратной стороне карты.</p>
          <p class="kkb_tab-content__text">
            Далее вы будете перенаправлены на страницу Вашего банка для ввода кода безопасности, который придет к Вам в СМС. Если код безопасности к Вам не пришел, то следует обратиться в банк выдавший Вам карту.
          </p>
          <p>
          </p><h2 class="kkb_tab-content__subtitle">
          Картой на сайте Альфа-Банка
        </h2>
          <p class="kkb_tab-content__text">
            Онлайн-оплата интернет-заказов с помощью банковской карты на сайте Альфа-Банка предоставляется без комиссии. Платежи осуществляются с банковских карт VISA, MASTER CARD и МИР. Производить оплату возможно после того, как сотрудник интернет-магазина подтвердит наличие товара и вышлет ссылку для оплаты.
          </p>
          <p>
          </p><p>
        </p><p class="kkb_tab-content__text">
          Предоставляемая вами персональная информация (имя, адрес, телефон, e-mail, номер банковской карты) является
          конфиденциальной и не подлежит разглашению. Данные вашей кредитной карты передаются только в зашифрованном
          виде и не сохраняются на нашем Web-сервере.</p>
          <br>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="js">
export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'Оплата'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>
<style scoped="scoped" lang="scss">
@import "src/css/vars";

.w-100 {
  margin-top: 10px;
}

@media (max-width: $width-767) {
  .w-100 {
    margin-top: 40px;
  }
}
</style>
<style scoped="scoped" lang="scss">
@import "src/css/vars";

.w-100 {
  margin-top: 10px;
}

@media (max-width: $width-767) {
  .w-100 {
    margin-top: 40px;
  }
}
</style>
