<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="w-100">
        <a href="/" class="return-button"></a>
        <h1 class="kkb_page-info__title mobile-header">Возврат денежных средств</h1>
        <div class="kkb_tab-content__box">
          <h2 class="kkb_tab-content__subtitle">
            Наличный расчет
          </h2>
          <p class="kkb_tab-content__text">
            Возможен возврат денежных средств в любом гипермаркете Rich Family. Покупатель получает денежные средства при наличии документа, удостоверяющего личность (паспорт или документ его заменяющий), и бланка-заявления, образец которого будет предоставлен Покупателю.
          </p>
          <h2 class="kkb_tab-content__subtitle">
            Безналичный расчет
          </h2>
          <p class="kkb_tab-content__text">
            Оформление заявления на возврат безналичных денежных средств возможно  в любом гипермаркете Rich Family. Покупатель обязан предъявить документ, удостоверяющий личность (паспорт или документ его заменяющий) и сообщить необходимую информацию:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              БИК отделения банка, где открыт счет
            </li>
            <li class="kkb_tab-content__list">
              Лицевой счет Покупателя
            </li>
            <li class="kkb_tab-content__list">
              ФИО владельца счета
            </li>
          </ul>

          <p class="kkb_tab-content__text">
            <b>Обращаем внимание на то, что реквизиты должны быть на имя Покупателя.</b>
          </p>
          <p class="kkb_tab-content__text">
            <b>Срок зачисления денежных средств на расчетный счет Покупателя зависит от внутреннего регламента банка-получателя.</b>
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="js">
export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'Возврат денежных средств'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>
<style scoped="scoped" lang="scss">
@import "src/css/vars";
.w-100 {
  margin-top: 10px;
}

@media (max-width: $width-767) {
  .w-100 {
    margin-top: 40px;
  }
}

</style>
<style scoped="scoped" lang="scss">
@import "src/css/vars";
.w-100 {
  margin-top: 10px;
}

@media (max-width: $width-767) {
  .w-100 {
    margin-top: 40px;
  }
}

</style>
