<template lang="html">
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel class="left-panel"/>
      <div class="page-content">
        <a href="/" class="return-button"></a>
        <h1 class="kkb_page-info__title mobile-header">Возврат товара</h1>
        <div class="kkb_tab-content__box">
          <h2 class="kkb_tab-content__subtitle">
            Возврат товара надлежащего качества </h2>
          <p class="kkb_tab-content__text">
            возможен в течение 14 (четырнадцати) дней, не считая день доставки/получения товара, в случае, если
            указанный товар не был в употреблении, сохранены его товарный вид, потребительские свойства, пломбы,
            фабричные ярлыки, а также документ, подтверждающий факт и условия покупки указанного Товара.
          </p>
          <p class="kkb_tab-content__text">
            Покупатель осуществляет доставку возвращаемого Товара за свой счет и своими силами в любой розничный магазин
            сети «Rich Family». Стоимость доставки товаров Покупателю не возмещается.
          </p>
          <p class="kkb_tab-content__text">
            Не подлежат возврату товары, включенные в Перечень непродовольственных товаров надлежащего качества, не
            подлежащих возврату или обмену, утвержденный Постановлением Правительства Российской Федерации от 19 января
            1998 г. N55
          </p>
          <p class="kkb_tab-content__text">
            Возврат Товара производится на основании Заявления, заполненного и подписанного Покупателем.
          </p>
          <p class="kkb_tab-content__text">
            При возврате Покупателем Товара надлежащего качества составляются накладная на возврат товара, в которой
            указываются:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              наименование Товара;
            </li>
            <li class="kkb_tab-content__list">
              сумма, подлежащая возврату;
            </li>
            <li class="kkb_tab-content__list">
              подписи продавца и покупателя.
            </li>
          </ul>
          <h2 class="kkb_tab-content__subtitle">
            Возврат товара ненадлежащего качества </h2>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Покупатель/Получатель вправе отказаться от исполнения договора купли-продажи, возвратить товар
              ненадлежащего качества и потребовать возврата уплаченной за товар денежной суммы в соответствии с законом
              о «О защите прав потребителей».
            </li>
            <li class="kkb_tab-content__list">
              Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить
              исполнение своих функциональных качеств.
            </li>
            <li class="kkb_tab-content__list">
              Отличие элементов дизайна или оформления от заявленных в описании на сайте не является неисправностью или
              нефункциональностью товара.
            </li>
            <li class="kkb_tab-content__list">
              Возврат товара производится в любом розничном магазине Продавца, адреса которых указаны на сайте Продавца
              <a href="http://richfamily.ru">www.richfamily.ru</a> в разделе Наши магазины.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            Для осуществления возврата Покупатель обязан предъявить в магазине сети «Rich Family» следующие документы:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              документ, удостоверяющий личность Покупателя
            </li>
            <li class="kkb_tab-content__list">
              кассовый чек или гарантийный талон.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
<script lang="js">
export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'Возврат'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>
<style scoped="scoped" lang="scss">
@import 'src/css/vars';

.left-panel {
  flex-basis: 20%;
}
.page-content {
  margin-top: 10px;
  flex-basis: 80%;
}

@media (max-width: $width-960) {
  .page-content {
    flex-basis: 100%;
  }
}

@media (max-width: $width-767) {
  .page-content {
    margin-top: 40px;
    flex-basis: 100%;
  }
}

</style>
