<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="full-width">
        <a href="/" class="return-button"></a>
        <h1 class="kkb_page-info__title mobile-header">Правила продажи</h1>
        <q-expansion-item
          label="1. Термины"
        >
          <li class="kkb_tab-content__list">
            <b>Покупатель</b> — физическое лицо, заказывающее, приобретающее или использующее товары исключительно
            для личных, семейных, домашних и иных нужд, не связанных с осуществлением предпринимательской
            деятельности, разместившее Заказ на сайте www.rf-54.ru, либо указанное в Заказе в качестве получателя
            Товара.
          </li>
          <li class="kkb_tab-content__list">
            <b>Зарегистрированный покупатель</b> — Покупатель, предоставивший о себе Продавцу индивидуальную
            информацию (Фамилию, Имя, Отчество, адрес электронной почты (E-mail), Телефон), которая может быть
            использована для оформления Заказа многократно. Данная информация предоставляется при оформлении
            Заказа.
          </li>
          <li class="kkb_tab-content__list">
            <b>Продавец</b> — Общество с ограниченной ответственностью «Рич Фэмили» юридический адрес: 630015 г.
            Новосибирск, ул. Королёва 40 ИНН 5401339590
          </li>
          <li class="kkb_tab-content__list">
            <b>Интернет-магазин</b> — Сайт, на котором любой Покупатель может ознакомиться с представленными
            Товарами, их описанием и ценами на Товары, выбрать определённый Товар, способ оплаты и доставки
            Товаров, отправить Заказ по электронной почте.
          </li>
          <li class="kkb_tab-content__list">
            <b>Сайт</b> — совокупность информационных ресурсов, размещённых в Интернете по адресу www.rf-54.ru.
            Сайт принадлежит и администрируется ООО «Рич Фэмили».
          </li>
          <li class="kkb_tab-content__list">
            <b>Товар</b> — объект купли-продажи (вещь), не изъятый и не ограниченный в гражданском обороте и
            представленный к продаже в Интернет-магазине, посредством размещения в соответствующем разделе
            Интернет-магазина. Предметом купли-продажи не могут быть Товары, отмеченные в Интернет-магазине как
            Товары со статусом «нет в наличии».
          </li>
          <li class="kkb_tab-content__list">
            <b>Получатель</b> – физическое лицо, уполномоченное Покупателем на получение товара.
          </li>
          <li class="kkb_tab-content__list">
            <b>Заказ Покупателя на доставку из интернет-магазина курьерской службой или получением в Пункте выдачи
              заказов</b> — это оформленный запрос Покупателя на покупку и доставку по указанному в заказе адресу
            Товаров, выбранных в Интернет-магазине, отправленный посредством сети Интернет.
          </li>
          <li class="kkb_tab-content__list">
            <b>Заказ Покупателя на самовывоз товара из магазина</b> — это заявка на резерв товара в выбранном
            магазине, отправленная посредством сети Интернет.
          </li>
          <li class="kkb_tab-content__list">
            <b>Заказ Покупателя на доставку из интернет-магазина до терминала транспортной компании</b> — это
            оформленный запрос Покупателя на покупку и доставку до терминала транспортной компании, указанной в
            заказе, Товаров, выбранных в Интернет-магазине, отправленный посредством сети Интернет.
          </li>
          <li class="kkb_tab-content__list">
            <b>Заказ Покупателя считается оформленным</b>, после получения соответствующего СМС-извещения от
            Продавца.
          </li>
          <li class="kkb_tab-content__list">
            <b>Курьерская служба доставки</b> — юридическое лицо и/или индивидуальный предприниматель, оказывающее
            по договору с Продавцом услуги по доставке Заказов Покупателям.
          </li>
          <li class="kkb_tab-content__list">
            <b>Транспортная компания</b> — юридическое лицо и/или индивидуальный предприниматель, оказывающее
            услуги по доставке.
          </li>
        </q-expansion-item>
        <q-expansion-item
          label="2. Общие положения"
        >
          <p class="kkb_tab-content__text">
            2.1. Настоящие «Правила продажи товаров в Интернет-магазине www.rf-54.ru» (далее — «Правила») определяют
            порядок розничной купли-продажи Товаров через Интернет-магазин, и в соответствии со ст. 437 Гражданского
            Кодекса РФ являются официальной публичной офертой ООО «Рич Фэмили», далее именуемого «Продавец»,
            адресованной физическим лицам, далее именуемым «Покупатель», при совместном упоминании Продавец и
            Покупатель также именуются «Стороны», а каждый по отдельности «Сторона».
          </p>
          <p class="kkb_tab-content__text">
            2.2. Каждая Сторона гарантирует другой Стороне, что обладает необходимой право- и дееспособностью, а
            равно всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения договора
            розничной купли-продажи.
          </p>
          <p class="kkb_tab-content__text">
            2.3. Заказывая Товары через Интернет-магазин, Покупатель соглашается с Правилами, изложенными ниже.
          </p>
          <p class="kkb_tab-content__text">
            2.4. К отношениям между Покупателем и Продавцом применяются положения Гражданского Кодекса РФ (в т. ч.
            положение о розничной купле-продаже (§ 2, глава 30), Закон РФ «О защите прав потребителей» от 07.02.1992
            № 2300-1, Правила продажи товаров дистанционным способом, утверждённые Постановлением Правительства РФ №
            612 от 27.09.2007 года и иные правовые акты, принятые в соответствии с ними.
          </p>
          <p class="kkb_tab-content__text">
            2.5. Покупатель обязуется до момента оформления Заказа в интернет-магазине ознакомиться с содержанием и
            условиями, установленными в настоящих Правилах, а также с иными условиями, указанными на сайте
            интернет-магазина, в том числе с ценами на товар, установленными в интернет-магазине.
          </p>
          <p class="kkb_tab-content__text">
            2.6. Действующая версия Правил размещена на сайте Интернет-магазина.
          </p>
        </q-expansion-item>
        <q-expansion-item
          label="3. Регистрация в Интернет-магазине"
        >
          <p class="kkb_tab-content__text">
            3.1. Оформить Заказ в Интернет-магазине могут только зарегистрированные Покупатели.
          </p>
          <p class="kkb_tab-content__text">
            3.2. Продавец не несет ответственности за точность и правильность информации, предоставляемой
            Покупателем при регистрации.
          </p>
          <p class="kkb_tab-content__text">
            3.3. Покупатель, зарегистрировавшийся в Интернет-магазине получает индивидуальную идентификацию путем
            предоставления логина и пароля. Индивидуальная идентификация Покупателя позволяет избежать
            несанкционированных действий третьих лиц от имени Покупателя и открывает доступ к дополнительным
            сервисам. Передача Покупателем логина и пароля третьим лицам запрещена, Покупатель самостоятельно несёт
            ответственность за все возможные негативные последствия, в случае передачи логина и пароля третьим
            лицам.
          </p>
          <p class="kkb_tab-content__text">
            3.4. Продавец подтверждает, что все персональные данные, полученные от покупателей, будут обрабатываться
            в соответствии с Федеральным законом от 27.07.2006 N 152-ФЗ "О персональных данных".
          </p>
        </q-expansion-item>
        <q-expansion-item
          label="4. Оформление и сроки выполнения Заказа"
        >
          <p class="kkb_tab-content__text">
            4.1. Заказ Покупателя оформляется через сеть Интернет.
          </p>
          <p class="kkb_tab-content__text">
            4.2. Обработка и подтверждение оплаченных заказов производится в течение 3 часов в рабочее время
            магазина.
          </p>
          <p class="kkb_tab-content__text">
            4.3. Если после получения Заказа обнаруживается, что на складе у Продавца отсутствует необходимое
            количество заказанного Товара, Продавец информирует об этом Покупателя в течение 1 рабочего дня.
            Покупатель вправе согласиться принять Товар в количестве, имеющемся в наличии у Продавца, либо
            аннулировать данную позицию Товара из Заказа. В случае неполучения ответа Покупателя по телефону и/или
            электронной почте в течение 3 (трёх) календарных дней с даты оформления Заказа, Продавец вправе
            аннулировать Заказ в полном объеме.
          </p>
          <p class="kkb_tab-content__text">
            4.4. Ввиду того, что дистанционный способ продажи товаров применяется исключительно для удовлетворения
            личных, бытовых нужд потребителей, Продавец вправе в одностороннем порядке ограничить количество
            товарных позиций в одном заказе, сумму одного заказа, а также количество заказов, единовременно
            отправляемых на один адрес одному Покупателю. Продавец вправе отказать в оформлении Заказа, если у
            Покупателя уже оформлены и не получены другие ранее оформленные Заказы на общую сумму 30 тысяч рублей и
            более.
          </p>
          <p class="kkb_tab-content__text">
            4.5. Во избежание злоупотреблений со стороны потребителей, Продавец вправе аннулировать Заказы
            Покупателя, в случае если Покупатель ранее отказался от Заказа 3 и более раз в течение календарного
            года.
          </p>
          <p class="kkb_tab-content__text">
            4.6. Продавец имеет право потребовать от Покупателя 100% предоплаты заказанного товара в следующих
            случаях:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Если выбран способ доставки до терминала транспортной компании;
            </li>
            <li class="kkb_tab-content__list">
              Если Покупатель ранее отказался от Заказа 2 и более раз в течение календарного года.
            </li>
            <li class="kkb_tab-content__list">
              Продавец имеет право отказать Покупателю в получении товара при отсутствии такой оплаты.
            </li>
          </ul>
        </q-expansion-item>
        <q-expansion-item
          label="5. Доставка"
        >
          <div>
            5.1. Способы доставки:
          </div>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              Курьерская служба доставки
            </li>
            <li class="kkb_tab-content__list">
              Экспресс-доставка
            </li>
            <li class="kkb_tab-content__list">
              Самовывоз из розничного магазина
            </li>
            <li class="kkb_tab-content__list">
              Доставка до терминала транспортной компании
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            <b>Обращаем внимание: в момент подтверждения заказа Клиент получает информацию о плановой дате доставки.
              Точная дата доставки будет предоставлена в смс-сообщении после передачи заказа в Курьерскую
              службу.</b>
          </p>
          <p class="kkb_tab-content__text">
            5.2. Риск случайной гибели или случайного повреждения Товара переходит к Покупателю (Получателю или
            уполномоченному представителю транспортной компании, выбранной Покупателем при оформлении заказа) в
            момент передачи ему Товара и подписания документов, подтверждающих доставку Заказа и передачу Товара.
          </p>
          <p class="kkb_tab-content__text">
            5.3. Стоимость доставки заказанных Товаров рассчитывается индивидуально, исходя из стоимости товара,
            общей суммы Заказа и адреса доставки. Точная стоимость доставки рассчитывается в корзине, с
            предварительно выбранными товарами, а также при выборе способа доставки.
          </p>
          <p class="kkb_tab-content__text">
            5.4. При доставке заказанные Товары вручаются Покупателю или лицу, указанному в качестве получателя в
            Заказе.
          </p>
          <p class="kkb_tab-content__text">
            5.5. Во избежание случаев мошенничества, а также для подтверждения выполнения взятых на себя
            обязательств, указанных в пункте 5.4. Продавцом, при получении предоплаченного Заказа, Покупатель и/или
            Получатель обязан предъявить электронный чек, подтверждающий оплату Заказа.
          </p>
          <p class="kkb_tab-content__text">
            5.6. В случае, если курьерская доставка осуществляется в публичном месте передача заказа может быть
            осуществлена только после внесения Покупателем 100% предоплаты.
          </p>
          <p class="kkb_tab-content__text">
            5.7. Покупатель или Получатель в момент получения Товара получает пакет документов на Товар:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              кассовый чек либо заменяющий его документ установленной формы;
            </li>
            <li class="kkb_tab-content__list">
              инструкцию по эксплуатации Товара на русском языке (в случае если это предусмотрено);
            </li>
            <li class="kkb_tab-content__list">
              гарантийный талон (в случае, если это предусмотрено);
            </li>
            <li class="kkb_tab-content__list">
              и иную предусмотренную законодательством информацию.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            5.8. В момент доставки Товара Покупатель или Получатель самостоятельно проверяет внешний вид и
            комплектность Товара.
          </p>
          <p class="kkb_tab-content__text">
            5.9. Покупатель или Получатель при получении доставленного Заказа подтверждает своей подписью в Бланке
            заказа или ином документе, подтверждающем факт получения товара, что не имеет претензий к внешнему виду
            и комплектности Товара. После приемки Товара Покупателем или Получателем, Продавец не принимает
            претензий по внешнему виду и комплектности Товара.
          </p>
          <p class="kkb_tab-content__text">
            5.10. Сроки, отведенные Продавцом для получения Заказа Клиентом, ограничены:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              при заказе с условием курьерской доставки по адресу Получателя – 1 календарный день с момента
              получения смс-уведомления и/или звонка сотрудника курьерской службы о возможности вручения заказа
              курьером
            </li>
            <li class="kkb_tab-content__list">
              при заказе с условием самовывоза товаров из магазина розничной сети – 2 календарных дня с момента
              получения смс-уведомления о готовности заказа к выдаче
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            <b>Неполучение Заказа в указанные Правилами сроки считается отказом Клиента от договора купли-продажи и
              является основанием для аннулирования Заказа Продавцом. Если неполученный Заказ был предоплачен,
              последующая доставка производится в новые сроки, согласованные с Продавцом, после повторной оплаты
              Покупателем стоимости услуг по доставке товара. </b>
          </p>
        </q-expansion-item>
        <q-expansion-item
          label="6. Оплата Товара"
        >
          <p class="kkb_tab-content__text">
            6.1. Цена Товара указывается рядом с определённым наименованием Товара в Интернет-магазине.
          </p>
          <p class="kkb_tab-content__text">
            6.2. Цена товара действительна на момент подтверждения заказа Покупателем. При этом цена на заказанный
            Покупателем Товар изменению не подлежит.
          </p>
          <p class="kkb_tab-content__text">
            6.3. Возможные способы оплаты:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              оплата банковской картой на сайте.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            6.4. Способы оплаты Заказа определяются по соглашению между Покупателем и Продавцом с учетом стоимости
            заказа и действующего законодательства РФ.
          </p>
          <p class="kkb_tab-content__text">
            6.5. При самовывозе идентификатором заказа через интернет магазин служит документ продавца, оформляемый
            при подтверждении заказа покупателя, однозначно указывающий на принадлежность товара к заказу интернет
            магазина. В случае, если покупатель не предоставляет данный документ на кассе и/или магазин не может
            однозначно идентифицировать продаваемый товар как заказ через интернет магазин, продавец имеет право
            реализовать товар на условиях и по текущей стоимости товара в розничном магазине.
          </p>
          <p class="kkb_tab-content__text">
            6.6. Договор купли-продажи считается заключённым с момента оплаты Покупателем заказанных Товаров и
            выдачи кассового чека.
          </p>
          <p class="kkb_tab-content__text">
            <b>В случае приобретения покупателем товара по акции, определенные продавцом в акции условия
              приобретения товара являются для сторон существенными условиями заключаемого договора купли-продажи
              (ч.1 ст.432 Гражданского кодекса РФ).</b>
          </p>
        </q-expansion-item>
        <q-expansion-item
          label="7. Возврат товара"
        >
          <p class="kkb_tab-content__text">
            7.1. Возврат товара надлежащего качества возможен в течение 14 (четырнадцати) дней, не считая день
            доставки/получения товара, в случае, если указанный товар не был в употреблении, сохранены его товарный
            вид, потребительские свойства, пломбы, фабричные ярлыки, а также документ, подтверждающий факт и условия
            покупки указанного Товара.
          </p>
          <p class="kkb_tab-content__text">
            Покупатель осуществляет доставку возвращаемого Товара за свой счет и своими силами в любой розничный
            магазин сети «Rich Family». Стоимость доставки товаров Покупателю не возмещается.
          </p>
          <p class="kkb_tab-content__text">
            7.2. Не подлежат возврату товары, приобретённые в интернет-магазине, включенные в Перечень
            непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену утвержденный
            Постановлением Правительства Российской Федерации от 19 января 1998 г. N55
          </p>
          <p class="kkb_tab-content__text">
            7.3. Возврат Товара производится на основании Заявления, заполненного и подписанного Покупателем.
          </p>
          <p class="kkb_tab-content__text">
            7.4. При возврате Покупателем Товара надлежащего качества составляются накладная на возврат товара, в
            которой указываются:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              наименование Товара;
            </li>
            <li class="kkb_tab-content__list">
              сумма, подлежащая возврату;
            </li>
            <li class="kkb_tab-content__list">
              подписи продавца и покупателя.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            7.5. Возврат товара ненадлежащего качества:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              наименование Товара;Покупатель/Получатель вправе отказаться от исполнения договора купли-продажи,
              возвратить товар ненадлежащего качества и потребовать возврата уплаченной за товар денежной суммы в
              соответствии с законом о «О защите прав потребителей».
            </li>
            <li class="kkb_tab-content__list">
              Под товаром ненадлежащего качества подразумевается товар, который неисправен и не может обеспечить
              исполнение своих функциональных качеств.
            </li>
            <li class="kkb_tab-content__list">
              Отличие элементов дизайна или оформления от заявленных в описании на сайте не является неисправностью
              или нефункциональностью товара.
            </li>
            <li class="kkb_tab-content__list">
              Возврат товара производится в любом розничном магазине Продавца, адреса которых указаны на сайте
              Продавца <a href="www.rf-54.ru">www.rf-54.ru</a> в разделе Наши магазины.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            7.6. Для осуществления возврата Покупатель обязан предъявить в магазине сети «Rich Family» следующие
            документы:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              документ, удостоверяющий личность Покупателя
            </li>
            <li class="kkb_tab-content__list">
              кассовый чек или гарантийный талон.
            </li>
          </ul>
        </q-expansion-item>
        <q-expansion-item
          label="8. Гарантии и ответственность"
        >
          <p class="kkb_tab-content__text">
            8.1. Продавец не несет ответственности за ущерб, причиненный Покупателю вследствие ненадлежащего
            использования Товаров, приобретённых в Интернет-магазине.
          </p>
          <p class="kkb_tab-content__text">
            8.2. Покупатель обязуется не использовать заказанный Товар в предпринимательских целях.
          </p>
          <p class="kkb_tab-content__text">
            8.3. Покупатель несёт всю ответственность за достоверность сведений, указанных им при регистрации в
            Интернет-магазине.
          </p>
          <p class="kkb_tab-content__text">
            8.4. Стороны освобождаются от ответственности за полное или частичное неисполнение своих обязательств,
            если такое неисполнение явилось следствием действия обстоятельств непреодолимой силы, возникших после
            вступления в силу Правил, в результате событий чрезвычайного характера, которые Стороны не могли
            предвидеть и предотвратить разумными мерами.
          </p>
          <p class="kkb_tab-content__text">
            8.5. В иных случаях, не предусмотренных п.8.4. Правил неисполнения или ненадлежащего исполнения своих
            обязательств, Стороны несут ответственность в соответствии с действующим законодательством Российской
            Федерации.
          </p>
        </q-expansion-item>
        <q-expansion-item
          label="9. Конфиденциальность и защита персональной информации"
        >
          <p class="kkb_tab-content__text">
            9.1. Предоставление информации Покупателем:
          </p>
          <p class="kkb_tab-content__text">
            9.1.1. При регистрации в Интернет-магазине Покупатель предоставляет о себе следующую информацию:
            Фамилия, Имя, адрес электронной почты, контактный номер телефона, вариант пароля для доступа к
            Интернет-магазину, который хранится в зашифрованном виде, адрес для доставки Заказов.
          </p>
          <p class="kkb_tab-content__text">
            9.2. Использование информации предоставленной Покупателем и получаемой Продавцом:
          </p>
          <p class="kkb_tab-content__text">
            9.2.1. Продавец использует полученную от Покупателя информацию:
          </p>
          <ul class="kkb_tab-content__item">
            <li class="kkb_tab-content__list">
              для регистрации Покупателя в Интернет-магазине;
            </li>
            <li class="kkb_tab-content__list">
              для выполнения своих обязательств перед Покупателем;
            </li>
            <li class="kkb_tab-content__list">
              для оценки и анализа работы Интернет-магазина;
            </li>
            <li class="kkb_tab-content__list">
              для определения победителя в акциях, проводимых Продавцом;
            </li>
            <li class="kkb_tab-content__list">
              для восстановления пароля.
            </li>
          </ul>
          <p class="kkb_tab-content__text">
            9.2.2. Продавец вправе направлять Покупателю сообщения рекламно-информационного характера при согласии
            на это Покупателя, о котором он сообщает при подписке на получение таких сообщений. Если Покупатель не
            желает получать рассылки от Продавца, он может отказаться от получения такой рассылки в
            Интернет-магазине, уведомив Продавца по электронной почте.
          </p>
          <p class="kkb_tab-content__text">
            9.3. Разглашение информации, полученной Продавцом:
          </p>
          <p class="kkb_tab-content__text">
            9.3.1. Продавец обязуется не разглашать полученную от Покупателя информацию. Не считается нарушением
            предоставление Продавцом информации агентам и третьим лицам, действующим на основании договора с
            Продавцом, для исполнения обязательств перед Покупателем.
          </p>
          <p class="kkb_tab-content__text">
            9.3.2. Не считается нарушением обязательств разглашение информации в соответствии с обоснованными и
            применимыми требованиями закона.
          </p>
          <p class="kkb_tab-content__text">
            9.4. Ознакомление Покупателя с настоящими Правилами означает его безусловное согласие на обработку
            персональных данных, предоставленных Покупателем при регистрации и/или оформлении Заказа в
            Интернет-магазине.
          </p>
          <p class="kkb_tab-content__text">
            9.5. Продавец использует технологию cookies (cookies — служебная информация, посылаемая веб-сервером на
            компьютер пользователя, для сохранения в браузере. Применяется для сохранения данных, специфичных для
            данного пользователя, и используемых веб-сервером для различных целей). Cookies не содержат
            конфиденциальную информацию и не передаются третьим лицам.
          </p>
          <p class="kkb_tab-content__text">
            9.6. Продавец получает информацию об ip-адресе (уникальный идентификатор устройства, подключённого к
            локальной сети и/или сети Интернет) посетителя Сайта. Данная информация не используется для установления
            личности посетителя.
          </p>
          <p class="kkb_tab-content__text">
            9.7. Продавец не несет ответственности за сведения, предоставленные Покупателем на Сайте в общедоступной
            форме.
          </p>
        </q-expansion-item>
        <q-expansion-item
          label="10. Прочие условия"
        >
          <p class="kkb_tab-content__text">
            10.1. Покупатель гарантирует, что все условия настоящих Правил ему понятны, и он принимает их безусловно
            и в полном объёме.
          </p>
          <p class="kkb_tab-content__text">
            10.2. В случае возникновения претензий со стороны Покупателя он должен обратиться в итернет-магазин по
            телефонам, указанным на сайте в разделе «Наши магазины».
          </p>
          <p class="kkb_tab-content__text">
            <b>Все возникающее споры стороны будут стараться решить путем переговоров, при недостижении соглашения
              спор будет передан на рассмотрение в суд в соответствии с действующим законодательством РФ.</b>
          </p>
          <p class="kkb_tab-content__text">
            10.3. Недействительность какого-либо положения настоящих Правил не влечет за собой недействительность
            остальных положений.
          </p>
        </q-expansion-item>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'static_pages',
  meta () {
    return {
      title: 'Правила продажи'
    }
  },
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel')
  }
}
</script>

<style scoped="scoped" lang="scss">
@import "src/css/vars";

::v-deep .q-expansion-item {
  border-bottom: 1px solid #d5d5d5;

  &:first-child {
    border-top: 1px solid #d5d5d5;
  }

  &__content {
    padding-left: 20px;
    padding-bottom: 20px;
    margin-top: 0;
    font-size: 14px;
    line-height: 20px;
    transition: opacity .3s cubic-bezier(.3, 1, .75, 1);
  }
}

::v-deep .q-item {
  padding: 0;

  &__label {
    color: #383838;
    font-size: 20px;
    padding-right: 45px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.full-width {
  margin-top: 10px;
}

.kkb_tab-content__text {
  color: #777;
  margin-bottom: 10px;
  font-size: 13px;
  line-height: 20px;
}

@media (max-width: $width-767) {
  .full-width {
    margin-top: 40px;
  }
}
</style>
