<template>
  <div class="container-origin-width static">
    <div class="flex-original">
      <left-panel/>
      <div class="w-100">
        <a href="/"><i class="return-button"></i></a>
        <h1 class="kkb_page-info__title mobile-header">
          Адреса детских магазинов
        </h1>
        <div class="tab items-center">
          <q-btn
            @click="shopList = true"
            label="Магазины"
            dense
            unelevated
            class="button small"
            :class="{'active': shopList}"
          />
          <q-btn
            @click="shopList = false; showMap = true"
            label="Интернет-магазин"
            dense
            unelevated
            class="button small"
            :class="{'active': !shopList}"
          />
          <div class="flex-original items-center q-ml-auto">
            <div class="q-mr-sm">Город:</div>
            <div class="city">
              <q-btn
                :label="currentCity.name"
                dense
                unelevated
                class="button small"
                :disable="false"
              />
            </div>
          </div>
        </div>
        <shop-list
          v-if="shopList && !showMap"
          :shops="shops"
          :showMap="!showMap"
          @toggleMap = "showMap = !showMap" />
        <div v-else class="internet-shop">
          <div class="shops__item__rubber">
            <div class="shops__item__rubber_title">
              {{ currentCity.shop.name }}
            </div>

            <div>
              <div class="shops__item__schedule">{{ currentCity.shop.workTime }}</div>
              <div class="phone_email">
                <div
                  v-for="(phone, idx) in currentCity.shop.getPhones" :key="idx"
                  class="shops__item__phone"
                >
                  <a rel="nofollow" href="tel:+77273398110">{{ phone }}</a>
                  <br>
                </div>
              </div>

            </div>
          </div>
        </div>
        <map-app v-if="showMap" />
        <q-btn
          v-if="showMap"
          @click="showMap = !showMap; shopList = true"
          outline
          color="primary"
          no-caps
          class="full-width"
          label="Выбрать из списка"
        />
      </div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import { CITY, NS_CITY, SHOPS } from 'src/store/Cities'

export default {
  name: 'staticShops',
  meta () {
    return {
      title: 'Магазины'
    }
  },
  data: () => ({
    shopList: true,
    showMap: false
  }),
  components: {
    LeftPanel: () => import('components/Layout/Menu/LeftPanel'),
    MapApp: () => import('components/Layout/Header/Map'),
    ShopList: () => import('components/Layout/Header/Shops/List')
  },
  computed: {
    ...mapGetters({
      currentCity: [NS_CITY, CITY].join('/'),
      shops: [NS_CITY, SHOPS].join('/')
    })
  }
}
</script>
<style lang="scss" scoped>
@import "src/css/vars";
.w-100 {
  width: 100%;
  margin-top: 10px;
}
.tab {
  padding: 12px;
  border: 1px solid #dee5ea;
  background-color: #f4f8fc;
  border-radius: 5px;
  display: flex;
}

.q-btn {
  margin-top: 10px;
  margin-bottom: 20px;
}

.q-mr-sm {
  margin-bottom: 10px;
}

::v-deep .yandex-map {
  width: 100% !important;
}

@media (max-width: $width-767) {
  .w-100 {
       margin-top: 50px;
     }
}

</style>
