<template lang="html">
  <q-list>
    <q-expansion-item
      v-for="(category, id) in treeData" :key="id"
      :default-opened="opened(category)"
      :label="category.name"
    >
      <sub-menu v-for="(sub, id) in category.children" :key="id" :menu="sub"/>
    </q-expansion-item>
  </q-list>
</template>
<script>
import { mapGetters } from 'vuex'
import { NS_CATEGORY, CATEGORIES } from 'src/store/Category/const'

export default {
  name: 'MobileMenu',
  components: {
    SubMenu: () => import('src/components/Layout/Menu/SubMobileMenu')
  },
  computed: {
    ...mapGetters({
      categories: [NS_CATEGORY, CATEGORIES].join('/')
    }),
    treeData () {
      return this.categories
        .filter(category => !category.parent)
    }
  },
  // watch: {
  //   '$route' (to, from) {
  //     this.$forceUpdate()
  //   }
  // },
  methods: {
    opened (category) {
      const root = this.$route.path.split('/').filter(p => !!p)
      // console.log('root.includes', root.includes(category.root.slug) + '-' + category.root.slug)
      return root.includes(category.root.slug)
    },
    showMaps () {
      this.$route.path.split('/').filter(p => !!p)
    }
  }
}
</script>
<style lang="scss" scoped="scoped">
::v-deep .q-expansion-item .q-item {
  &:first-child {
    //display: none;
  }
}

</style>
