<template>
  <q-menu
    v-model="showMenu"
    @before-hide="$root.$emit('changetopMenu', false)"
    no-parent-event
    transition-show="jump-down"
    transition-hide="jump-up"
  >
    <q-list bordered separator>
      <div v-if="!user.isAuth" @click="$emit('showAuth', true)" class="material-icons-outlined">login</div>
      <div v-else @click="$emit('showAuth', true)" class="material-icons-outlined">person_pin_circle</div>
      <div v-if="user.isAuth" class="button">
        <router-link :to="{ name: orders }">
          <span class="material-icons-outlined">format_list_numbered</span>
          <span class="header-icons__count" v-if="user.orders.length">
            {{ user.orders.length }}
          </span>
        </router-link>
      </div>
      <div class="button">
        <router-link :to="{ name: favorite }">
          <span class="material-icons-outlined">favorite_border</span>
          <span class="header-icons__count" v-if="user.favorite.length">
            {{ user.favorite.length }}
          </span>
        </router-link>
      </div>
      <div class="button">
        <router-link :to="{ name: compare }">
          <i class="material-icons-outlined">leaderboard</i>
          <span class="header-icons__count" v-if="user.compare.length">
            {{ user.compare.length }}
          </span>
        </router-link>
      </div>
      <!--      TODO: add logout-->
      <div v-if="user.isAuth" class="material-icons-outlined">exit_to_app</div>
    </q-list>
  </q-menu>
</template>

<script>
import { mapGetters } from 'vuex'
import { NS_USER, USER } from 'src/store/User'
import { ROUTE_ORDERS, ROUTE_FAVORITE, ROUTE_COMPARE } from 'src/router/routes'

export default {
  name: 'MobileTopMenu',
  data: () => ({
    showMenu: false,
    orders: ROUTE_ORDERS,
    favorite: ROUTE_FAVORITE,
    compare: ROUTE_COMPARE
  }),
  computed: {
    ...mapGetters({
      user: [NS_USER, USER].join('/')
    })
  },
  methods: {
    showMenuCheck (bool) {
      this.showMenu = bool
    }
  },
  created () {
    this.$root.$on('topMenu', this.showMenuCheck)
  }
}
</script>
<style lang="scss" scoped="true">

::v-deep .q-list--bordered {
  position: absolute;
  top: 58px;
  left: 0;
  width: 100%;
  color: black;
  background: white;
}

.material-icons, .material-icons-outlined {
  color: black;
  font-size: 30px;
  padding: 10px;
}

.material-icons {
  margin-top: -3px;
}

.button, .material-icons-outlined {
  position: relative;
}

.header-icons__count {
  width: 15px;
  height: 15px;
  border-radius: 100%;
  text-align: center;
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 10px;
  background-color: #ed5a50;
  color: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
